.a-table{
  text-align: left;
  border-collapse: separate;
  border-spacing: 0 10px;
  font-size: 14px;
  width: 100%;
  color: #333;
}
.a-table thead,
.a-table tbody{}
.a-table thead{
    color: #666;
}
.a-table tbody{
    font-size: 12px;
}


.a-table thead tr,
.a-table tbody tr{}

.a-table thead tr>*,
.a-table tbody tr>*{
}


.a-table thead tr{

}
.a-table thead tr>*{
  font-weight: normal;
  vertical-align: bottom;
  padding: 0px 8px;
}


.a-table tbody tr{
  border-radius: 3px;
}
.a-table tbody tr>*{
  vertical-align: top;
  padding: 0px 8px;
  background: #F0F3F7;
}
.a-table-content{
    margin-bottom: 7px;
}
.a-table-content>*{
  margin: 7px 0 0;
}
.a-table tbody tr>*>*{
}
.a-table tbody tr>*:first-child{
  border-radius: 5px 0 0 5px;
}
.a-table tbody tr>*:last-child{
  border-radius: 0 5px 5px 0;
}

/*drag*/
.a-table.dt-rowReorder-float tbody tr>*{background:#FFEADF}
.a-table tbody tr.dt-rowReorder-moving>*{background:#DAEAFF}

.a-table .dashed{
  display: block;
  padding: 0;
}

.a-table input{
  display: block;
  height: 42px;
}

.r-table-prior{
  width: 100%;
}

/* inputs fixes */
.a-table .input-xxs{
  /* max-width: 110px; */
  /* width: 100%; */
}

.a-table .input-textable input{
  font-size: 12px;
}
