
.ancor-menu{
  display: flex;
  padding: 5px 0;
  margin: 10px 0;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #2466BC;
}

.ancor-menu-item{
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 38px;
  padding: 0 15px;
  line-height: 1.2;
}
.ancor-menu-item:hover,
.ancor-menu-item:active{
  color: #EA544E;
  text-decoration: none;
}
.ancor-menu-item + .ancor-menu-item{

}
.ancor-menu-item .count-bubble{
  margin-left:5px;
  padding: 3px 6px 1px 5px;
  background:#808080;
  color: #fff;
  border-radius:30px;
  min-width: 20px;
  display: inline-block;
  text-align: center;
}
.ancor-menu-item:hover .count-bubble{
  background: #2466BC;
}


@media screen and (max-width:767px){
  .ancor-menu{
    flex-direction: column;
    padding: 0 10px;
  }
  .ancor-menu-item + .ancor-menu-item{
    border-top: 1px solid #C0D8FA;
  }
}



@media screen and (min-width:768px){
  .ancor-menu-item + .ancor-menu-item{
    border-left: 1px solid #C0D8FA;
  }
}
