.week-calendar{
  position: relative;
}

.week-calendar-title{
  font-size: 18px;
  padding: 20px 10px 10px;
  text-align: center;
}

.week-calendar-controls{

}
.week-calendar-controls>*{
  position: absolute;
  bottom: 0;
  height: 60px;
  font-size: 24px;
  line-height: 40px;
  height: 60px;
  width: 50px;
  text-align: center;
  z-index: 3;
  color: #B3B3B3;
}
.week-calendar-controls>*:hover,
.week-calendar-controls>*:active{
  color: #2466BC;
}
.week-calendar-controls .prev{
  left: 0;
}
.week-calendar-controls .next{
  right: 0;
}

.week-calendar-table{
  display: block;
  width: 100%;
  padding: 5px 20px;
  text-align: center;
  background: #fff;
}
.week-calendar-table thead,
.week-calendar-table tbody{
  display: block;
}
.week-calendar-table thead tr,
.week-calendar-table tbody tr{
  display: block;
  width: 100%;
}
.week-calendar-table thead tr>*,
.week-calendar-table tbody tr>*{
  display: block;
  float:left;
  width: 14.2857142857%;
}
.week-calendar-table thead{
  position: relative;
  padding: 0 30px 10px;
  border-bottom: 1px solid #E6E6E6;
}
.week-calendar-table thead:after{
  content: "";
  display: table;
  clear: both;
}
.week-calendar-table thead tr>*{
  font-size:12px;
  font-weight: normal;
  padding: 0 10px;
}
.week-calendar-table tbody{
  position: relative;
  margin: 10px 30px 6px;
  overflow: hidden;
}
.week-calendar-table tbody tr{
  /*display:none;*/
  position: absolute;
  top:0;
  right:100%;
  left:-100%;
  background: #fff;
  transition: all .2s ease;
  z-index: -1;
}
.week-calendar-table tbody tr:after{
  content: "";
  display: table;
  clear: both;
}
.week-calendar-table .sliding tr{
  display: block;
}
.week-calendar-table tbody tr.current{
  position: relative;
  display: block;
  left:0;
  right: 0;
  z-index: 2;
}
.week-calendar-table tbody .current+tr{
  left: 100%;
}
.week-calendar-table tbody tr.prev,
.week-calendar-table tbody tr.next{
  display: block;
  z-index: 1;
}
.week-calendar-table tbody tr.prev{
  left:100%;
}
.week-calendar-table tbody tr.next{
  right:100%;
}
.week-calendar-table tbody tr
.week-calendar-table tbody tr>*{
  padding: 10px;
}
.week-calendar-table tbody button{
  width:40px;
  height: 40px;
  line-height: 38px;
  color: #2466BC;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 0;
}
.week-calendar-table tbody button.current{
  background: #2466BC;
  border-color: #2466BC;
  color: #fff;
}
.week-calendar-table tbody button:hover,
.week-calendar-table tbody button:active{
  border-color: #2466BC;
}


@media screen and (max-width:767px){
  .week-calendar-table thead{
    padding-left:20px;
    padding-right:20px;
  }
  .week-calendar-table tbody{
    margin-left:20px;
    margin-right:20px;
  }
  .week-calendar-title{
    font-size: 14px;
    font-weight: bold
  }
  .week-calendar-table thead tr>*{
    font-size: 10px;
  }
  .week-calendar-table tbody button{
    width:30px;
    height: 30px;
    line-height: 28px;
    font-size: 16px;
  }
  .week-calendar-controls>*{
    font-size: 20px;
    height: 50px;
  }
}
