.calendars{
  color:#333;
}
.calendars .tabs{

}
.calendars .tab-titles{
  border: none;
  margin-bottom: -1px;
  padding: 0;
}
.calendars .tab-titles>*{
  margin:0;
}
.calendars .tab-titles .active a{
  background: #fff;
}
.calendars .tab-content{
  background: #fff;
  border: 1px solid #E6E6E6;
}
.calendars .tab-pane{
  padding: 0;
}

@media screen and (min-width:768px){ 
  .calendars .tab-titles>*{
    margin:0;
  }
}



/* datepicker*/

.calendars .ui-datepicker{
  background: none;
  box-shadow: none;
  border: none;
  margin: 10px 0;
  padding: 0 20px;
}
.calendars .ui-datepicker-calendar{
  margin: 0 auto;
}
.calendars  .ui-datepicker-multi .ui-datepicker-group table{
  margin: 0;
  border-spacing: 2px 8px;
}
.calendars .ui-datepicker-multi .ui-datepicker-group{
  border-right: 1px solid #ddd;
  padding: 0 15px;
  margin: 10px 0;
}
.calendars .ui-datepicker-multi .ui-datepicker-group+.ui-datepicker-group{
  margin-left: -1px;
  border-right: none;
  border-left: 1px solid #ddd;
}
.calendars .ui-datepicker-title{
  font-size:18px;
  font-weight: normal;
}
.calendars .ui-datepicker-calendar td>*{
  padding: 3px 8px;
  font-size: 14px;
}
.calendars .ui-datepicker-calendar th{
  font-size: 12px;
}
.calendars .ui-datepicker-prev,
.calendars .ui-datepicker-next{
  position:absolute;
  top:0;
  height: 100%;
  margin:0;
  font-size: 24px;
  color:#B3B3B3;
}
.calendars .ui-datepicker-prev:hover,
.calendars .ui-datepicker-next:hover,
.calendars .ui-datepicker-prev:active,
.calendars .ui-datepicker-next:active{
  color: #2466BC;
  text-decoration: none;
}
.calendars .ui-datepicker-prev{
  left:0;
}
.calendars .ui-datepicker-next{
  right: 0;
}
.calendars .ui-datepicker-prev:before,
.calendars .ui-datepicker-next:before{
  position: absolute;
  top:50%;
  left:50%;
  margin-top: -15px;
  margin-left: -15px;
  width: 30px;
  height: 30px;
}
.calendars .ui-datepicker-prev:before{

}
.calendars .ui-datepicker-next:before{

}
.calendars .ui-datepicker-header{
  padding: 5px 10px;
}

@media screen and (max-width:767px){
  .calendars .ui-datepicker-title{
    font-size: 14px;
    font-weight: bold;
  }
  .calendars .ui-datepicker-calendar td>*{
    font-size: 12px;
    padding: 3px 8px;
  }
  .calendars .ui-datepicker-calendar th{
    font-size: 10px;
  }
}

@media screen and (max-width:401px){
  .calendars .ui-datepicker-calendar{
    border-spacing: 3px 3px;
  }
  .calendars .ui-datepicker-prev, .calendars .ui-datepicker-next{
    width: 40px;
  }
}
@media screen and (max-width:700px){
  .calendars .ui-datepicker-multi .ui-datepicker-group{
    border:none;
    display: block;
  }
  .calendars .ui-datepicker-multi .ui-datepicker-group+.ui-datepicker-group{
    margin-left:0;
    border:none;
  }
  .calendars .ui-datepicker-multi .ui-datepicker-group table{
    border-spacing: 3px 8px;
    width: auto;
    margin: auto;
  }
  .calendars .ui-datepicker-calendar td>*{

  }
}
@media screen and (min-width:1200px){
  .calendars .ui-datepicker-multi .ui-datepicker-group{
    padding: 0 25px;
  }
  .calendars .ui-datepicker-calendar td>*{
    padding: 3px 10px;
  }
  .calendars .ui-datepicker-multi .ui-datepicker-group table{
    border-spacing: 3px 8px;
  }
  .calendars .ui-datepicker-prev,
  .calendars .ui-datepicker-next{
    width: 50px;
  }
}
