.comments{
  padding:20px 0;
  background: #fff;
}


.comments-list{

}
.comments-list .comment{
}
.comments-list .comments-list{
  padding-left:40px;
}
.comments-list .comments-list .comment{
  margin:-1px;
}


.comment{
  position: relative;
  background: #F0F3F7;
  border: 1px solid #E6E6E6;
  padding: 20px 20px 10px;
  margin-top: 20px;
}
.comment:after{
  content: "";
  display: table;
  clear: both;
}
.comment-side{
  width: auto;
  float: left;
}
.comment-main{
  margin-left:0;
}


.comment-side-title{
  font-size: 16px;
  line-height: 22px;
  color: #666;
}
.comment-author{
  font-size: 16px;
  line-height: 22px;
}
.comment-author-country{
  margin: 5px 0;
  color: #666;
  font-size: 12px;
}

.comment .rating-stars{
  float: left;
  padding-top: 2px;
}
.comment .rating-stars~.comment-date{
  text-align: right;
}
.comment-date{
  color: #666;
  font-size: 12px;
  line-height: 22px;
  padding-top: 2px;
  text-align: right;
}
.comments-list .comment-date{
  text-align: left;
}
.comment-text{
  padding: 5px 0;
}
.comment-text p{
  margin: 5px 0 10px;
}

.comment-actions>*+*{
  margin-left:20px;
}
.comment-expand span[class^="icon-"]{
  display: none;
}


.comment-minimized .comment-author-country,
.comment-minimized .rating-stars,
.comment-minimized .comment-text,
.comment-minimized .comment-answer{
  display:none;
}
.comment-minimized .comment-date{
  float:left;
  padding-top: 0;
}
.comment-minimized .comment-side{
  width: auto;
  margin-right: 30px;
}
.comment-minimized .comment-main{
  margin-left: 30px;
}
.comment-minimized{
  margin: -1px;
  padding:10px 20px;
}


.comments-list .comment-actions{
  visibility: hidden;
  opacity: 0;
  transition: visibility .3s ease, opacity 0.3s ease;
}
.comment:hover .comment-actions,
.comment:active .comment-actions{
  visibility: visible;
  opacity: 1;
}

.comment+.comment-add{
  margin-top:-1px;
}
.comment-rate{
  color: #B3B3B3;
  margin-bottom: 10px;
}
.comment-rate-pretext{
  margin-bottom: 5px;
}
.comment-rate-transcript{
  display: inline-block;
  color: #666;
  vertical-align: top;
}
.comment textarea{
  display: block;
  min-height: 100px;
  margin: 0 0 15px;
}
.comment-add-btn{
  display: inline-block;
  width: auto;
  margin-bottom: 5px;
}
.comment-add .comment-actions{
  display:block;
  visibility: visible;
  opacity: 1;
}


@media screen and (min-width: 768px){
  .comment{

  }
  .comment-side{
    width: 170px;
    float: left;
  }
  .comment-main{
    margin-left:180px;
  }


  .comment-side-title{
    font-size: 18px;
  }
  .comment-author{
    font-size: 18px;
  }
  .notification-comment .comment-author-country{
    font-size: 14px;
  }
  .notification-comment .comment-date{
    font-size: 14px;
    line-height: 22px;
    padding-top: 2px;
    text-align: left;
  }
  .comment-text p{
    margin: 5px 0 10px;
  }
  .comment-minimized .comment-expand span[class^="icon-"]{
    display: none;
  }

}

@media screen and (max-width:767px){
  .comments-list .comment{
    padding: 10px;
  }
  .comments-list .comment-side{
    float: none;
  }
  .comments-list .comment-side>*{
    display: inline-block;
    vertical-align: bottom;
    line-height: 22px;
  }
  .comment-author-country{
    margin:0;
    margin-left:10px;
  }
  .comment .rating-stars{
    padding-top: 4px;
    margin-left: -3px;
  }
  .comment-minimized{
    padding-right:50px;
  }
  .comment-minimized .comment-expand{
    position: absolute;
    right:0;
    top:0;
    bottom: 0;
    margin:0;
    width:40px;
    text-align: center;
    color:#999;
  }
  .comment-minimized .comment-expand:hover,
  .comment-minimized .comment-expand:active{
    color: #2466BC;
  }
  .comment-minimized .comment-side{
    float:left;
    margin:0 20px 0 10px;
  }
  .comment-minimized .comment-author-country{
    display: none;
  }
  .comment-minimized .comment-expand span{
    display: none;
  }
  .comment-minimized .comment-expand span[class^="icon-"]{
    display: block;
    font-size:16px;
  }
  .comment-add {
    padding: 10px;
  }
  .comment-add .comment-side{
    float: none;
    margin-bottom:5px;
  }
}
