.congrats{
  text-align: center;
  margin: 40px 0 80px;
}
.congrats-img{
  margin:80px 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.congrats-img>*{
  width: 100%;
  height: 100%;
}

.congrats-title{
  color: #2466BC;
  font-size: 36px;
  margin: 20px 0;
}
.congrats-text{
  font-size: 16px;
  line-height: 1.3;
  max-width: 500px;
  margin: 0 auto;
}
.congrats-text-big{
  font-size: 21px;
}
.congrats-target{
  width:500px;
  max-width: 100%;
  margin: 20px auto;
  padding:10px;
  border: 2px dotted rgba(97, 158, 242, 0.3);
  border-radius: 6px;
}
.congrats-target table{
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.4;
  text-align: left;
}
.congrats-target td{
  padding: 10px;
  vertical-align: middle;
}
.congrats-target-img{

}
.congrats-target-img img{
  display: block;
  border-radius: 5px;
}
.congrats-target-name{
  font-size: 21px;
}

.congrats-new-offer{

}
.congrats-new-offer .congrats-img{
  height:280px;
}

.congrats-new-company{}
.congrats-new-company .congrats-img{
  height: 340px;
  margin: 20px 0;
}
.congrats-new-company .congrats-name{}


.congrats-dark{
  color:#fff;
}

.congrats-dark .congrats-title{
  color:#fff;
}
.congrats-dark .congrats-text{
  color: #B3B3B3;
}

#salut-wrapper{
  transform: scale(1);
}
#salut-3,
#salut-4,
#salut-5{
  transform: translate(0, 0);
}


@media screen and (max-width: 767px) {
  .congrats{
    margin:30px 0;
  }
  .congrats-img{
    margin: 30px 0;
  }
  .congrats-img>*{
    width: 100%;
    height: 100%;
  }
  .congrats-title{
    font-size: 24px;
    margin: 15px 0;
  }
  .congrats-text{
    font-size: 14px;
    line-height: 1.3;
  }

  .congrats-target table{
    font-size: 14px;
  }
  .congrats-target-name{
    font-size: 18px;
  }
  .congrats-new-company .congrats-img{
    height: 300px;
  }
  .congrats-new-company .congrats-img>*{
    position: absolute;
    width:600px;
    left: 50%;
    margin-left: -300px;
  }
  #salut-wrapper{
   transform: scale(0.8) translate(80px, 80px);
  }
  #salut-3{
    transform: translate(-120px, -150px);
  }
  #salut-4{
    transform: translate(70px, 20px);
  }
  #salut-5{
    transform: translate(81px, -105px);
  }
}
