.discount{
  position: relative;
  display: inline-block;
  color:#fff;
  line-height: 22px;
  height: 20px;
  padding-left:10px;
  /* overflow: hidden; */
  vertical-align: middle;
}
.discount span{
  display: block;
  position: relative;
  padding: 0 8px 0 5px;
  background: #39B54A;
  border-radius: 2px;
  height: 100%;
  z-index: 1;
}
.discount:before{
  content: "";
  display: block;
  position: absolute;
  left: 4px;
  top: 3px;
  height: 14px;
  width: 14px;
  background: #39B54A;
  transform: rotate(45deg);
  border-radius: 2px;
}


@media screen and (max-width:767px){
  .discount{
    line-height: 14px;
    height: 14px;
  }
  .discount span{
    padding: 0 5px 0;
  }
  .discount:before{
    width: 10px;
    height: 10px;
    top: 2px;
    left: 6px;
  }
}
