.docs-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.docs-item{
  display: inline-block;
  flex: 0 0 160px;
  margin: 0 20px 20px 0;
}
.docs-item-img{
  display: inline-block;
  position: relative;
  height: 65px;
  text-align: left;
}
.docs-item-img img,
.docs-item-img svg{
  max-height: 100%;
  display: block;
}
.docs-item-img svg{
  width: 50px;
}
.docs-item-img.zoom-img:hover:before{
  content: "\e932";
  position: absolute;
  top:50%;
  left:50%;
  margin-top: -15px;
  margin-left: -15px;
  width:30px;
  height:30px;
  line-height: 30px;
  text-align: center;
  font-family: icomoon;
  color: #2466BC;
  opacity: 0.5;
}



.docs-item-info{

}
.docs-item-title{
  display: inline-block;
  line-height: 1.4;
}
.docs-item-details{
  margin-top:3px;
  font-size: 12px;
}

@media screen and (max-width:767px){
  .docs-item{
    flex: 0 0 100%;
    display: flex;
    align-items: center;
  }
  .docs-item-img{
    flex:0 0 80px;
  }
  .docs-item-info{
    flex:1 1 200px;
  }
}
