.download-file{
  position: relative;
}
.download-file-img{
  position: absolute;
  left:0;
  width: 30px;
  height:100%;
}
.download-file-info{
  margin-left: 50px;
}
.download-file-link{
  white-space: nowrap;
}
.download-file-params{}
