
.dropdown-container{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display:none;
  position: absolute;
  background: rgb(242, 242, 242);
  border: 1px solid #ccc;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  z-index: 9;
  top: 100%;
  min-width: 100px;
}
.dropdown-toggle + .dropdown-content{
  margin-top: 8px;
}

.dropdown-container.open .dropdown-toggle:after,
.dropdown-container.open .dropdown-toggle:before{
  content: "";
  display:block;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  width: 0px;
  height: 0px;
  border: 8px solid transparent;
  transform: scaleX(1.5);
  z-index: 10;
}

.dropdown-container.open .dropdown-toggle:before{
  bottom: -8px;
  border-bottom-color: #ccc;
}

.dropdown-container.open .dropdown-toggle:after{
  bottom: -9px;
  border-bottom-color: #f2f2f2;
  background: none;
  transition: none;
}

.dropdown-container.dropdown-arrow-right .dropdown-toggle:after,
.dropdown-container.dropdown-arrow-right .dropdown-toggle:before{
  right: 18px;
  left: auto;
  margin-left: 0;
}
.dropdown-container.dropdown-arrow-left .dropdown-toggle:after,
.dropdown-container.dropdown-arrow-left .dropdown-toggle:before{
  left: 18px;
  margin-left: 0;
}

/*.dropdown-content-visible{
  display: block;
}*/

.open .dropdown-toggle{
  background: #FFF;
  border-color: #ddd;
}

.open .dropdown-content{
  display:block;
  padding: 5px 0 10px;
}

.dropdown-content h3{
  font-size: 21px;
  font-weight: normal;
  margin:0;
  margin: 20px 15px;
}

.dropdown-content-list{
  font-size: 14px;
  min-width: 180px;
}
.dropdown-content-list>* *[class^="icon-"]{
  display: inline-block;
  width: 20px;
  text-align: center;
  color: inherit;
}

.dropdown-content-list>*{
  display:block;
  padding: 5px 15px;
  line-height: 1.5;
  width: 100%;
}

.dropdown-content-list a span{
  margin-right:10px;
  color: #bbb;
}
.dropdown-small .dropdown-content-list>* span{
  margin-right:5px;
}

.dropdown-content-list>*:hover,
.dropdown-content-list>*:active{
  background: #C0D8FA;
  text-decoration: none;
}

.dropdown-menu-list form{
  padding: 0;
}
.dropdown-menu-list form button{
  padding: 5px 15px;
  display: block;
  width: 100%;
  text-align: left;
}
.dropdown-menu-list a,
.dropdown-menu-list button{
  color: #2466BC;
}

.dropdown-content.dropdown-btns-list{
  padding:0;
}
.dropdown-btns-list .dropdown-content-list>*{
  white-space: nowrap;
  text-align: left;
  color: #2466BC;
}
.dropdown-btns-list .dropdown-content-list>*:hover,
.dropdown-btns-list .dropdown-content-list>*:active{
  background: #2466BC;
  color:#fff;
}
.dropdown-btns-list.red .dropdown-content-list>*{
  color: #C1272D;
}
.dropdown-btns-list.red .dropdown-content-list>*:hover,
.dropdown-btns-list.red .dropdown-content-list>*:active{
  background: #C1272D;
  color:#fff;
}
.dropdown-btns-list .dropdown-content-list>*+*{
  border-top:1px solid #ddd;
}


.dropdown-mini{

}
.dropdown-mini.open .dropdown-toggle{
  background: none;
  box-shadow: none;
  border-radius: 2px 2px 0 0;
}
.dropdown-mini.open .dropdown-toggle span{
  color: #333;
}
.dropdown-mini.open .dropdown-toggle:before,
.dropdown-mini.open .dropdown-toggle:after{
  border: 4px solid transparent;
  border-bottom-color: #fff;
}
.dropdown-mini.open .dropdown-toggle:before{
  bottom: -5px;
}
.dropdown-mini.open .dropdown-toggle:after{
  bottom: -6px;
}
.dropdown-mini .dropdown-content{
  padding: 5px 0;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.14);
  background: #fff;
  border: none;
  min-width: 100%;
  margin-top: 5px;
}
.dropdown-mini.open .dropdown-content{

}
.dropdown-mini.dropdown-left .dropdown-content-list{
  min-width: 100%;
  font-size: 14px;
}
.dropdown-mini.dropdown-left .dropdown-content-list>*{
  text-align: left;
  padding: 4px 8px;
}


.dropdown-small{

}
.dropdown-small .dropdown-content{
  left: 0px;
  margin-top: 7px;
}
.dropdown-small .dropdown-toggle:after,
.dropdown-small .dropdown-toggle:before{
  display: none;
}
.dropdown-small .dropdown-content-list{
  min-width: 150px;
}
.dropdown-small .dropdown-content-list>*{
  text-align: left;
  padding: 4px 10px;
  color: #2466BC;
}
.dropdown-small .dropdown-content-list>*.active{
  background: #C0D8FA;
}




.dropdown-right .dropdown-content{
  right:0;
  left: auto;
}

.dropdown-left .dropdown-content{
  left:0;
}



.dropdown-content>textarea{
  min-width: 200px;
  width: auto;
  display: block;
  margin: 5px 10px 0;
}

@media screen and (min-width:768px){
  .dropdown-mini.dropdown-left .dropdown-content-list{
    min-width: 100%;
    font-size: 14px;
  }


}

@media screen and (max-width:767px){
  .dropdown-right-xs .dropdown-content{
    left:auto;
    right:0;
  }

  .dropdown-left-xs .dropdown-content{
    right: auto;
    left:0;
  }
  .dropdown-container.dropdown-arrow-right-xs .dropdown-toggle:after,
  .dropdown-container.dropdown-arrow-right-xs .dropdown-toggle:before{
    right: 18px;
    left: auto;
    margin-left: 0;
  }
  .dropdown-container.dropdown-arrow-left-xs .dropdown-toggle:after,
  .dropdown-container.dropdown-arrow-left-xs .dropdown-toggle:before{
    left: 18px;
    margin-left: 0;
  }
}
