
.dropdown-entry{
}

.dropdown-entry.open .dropdown-toggle{
  background: #EA544E;
  color: #fff;
}
.dropdown-entry .dropdown-content{
  line-height: 1.5;
}
.dropdown-entry.open .dropdown-content{
  width: 600px;
  max-width: 600px;
}

.dropdown-entry .entry{
  padding:0 20px;
  margin: 0;
}

.dropdown-entry .entry-col{
  padding-right: 20px;
}
.dropdown-entry .entry-col+.entry-col{
  padding-left: 20px;
  padding-right:15px;
}
.dropdown-entry .btn-social{
  margin-bottom: 0px;
}
.dropdown-entry .form-row{
  margin: 15px 0;
}
.dropdown-entry .entry-social{
  margin:5px 0;
}



@media (max-width: 767px){

  .header-profile.dropdown-entry{
    position: static;
  }
  .header-profile.dropdown-entry .dropdown-content{
    width: auto;
  }
}
