
.favorite-btn{
  padding: 0px 5px;
  color: #EAA7A4;
  cursor: pointer;
  text-align: center;
  transition: color .5s ease,
              text-shadow .5s ease,
              background 1s ease;
  border-radius: 50px;
}
.favorite-btn.active{
  color: #EA544E;
}
.favorite-btn:hover {
  color: red;
}

.favorite-btn:before{
  display: inline-block;
  line-height: 1;
  font-family: icomoon;
  vertical-align: middle;
}

.favorite-btn.active:before {
    content: "\e904";
}
.favorite-btn:before {
    content: "\e905";
}

.favorite-btn.active:active,
.favorite-btn:active{
  color: red;
  text-shadow: 0px 0px 1px  #F00;
  transition: color .1s ease,
              text-shadow .1s ease,
              background .1s ease;
}

.favorite-btn>*{
  margin-left: 5px;
  /* color: #EA544E; */
  text-shadow: none;
}
.favorite-btn.keep-color{
  color: #EA544E;
}
.favorite-btn.keep-color:hover{
   color: red;
}
 
