.filter-wrapper{
  position: relative;
  display: flex;
  font-size: 14px;
}
.filter{
  display: block;
  flex: 1;
  position: relative;
  background: #fff;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 5px 5px;
}
.filter-section{

}
.filter-item{
  display: inline-block;
  vertical-align: top;
  padding: 5px 5px;
}


.filter .dropdown-mini,
.filter .dropdown-small{
  padding: 3px 5px;
  height: 30px;
  line-height: 24px;
}

.filter-supertop-btn{
  position: absolute;
  top: -73px;
  right:0;
  font-size: 16px;
  padding: 17px 20px 14px;
  font-weight: bold;
  letter-spacing: 1px;
}
.filter-supertop-btn>*{
  display: inline-block;
  vertical-align:middle;
}
.filter-supertop-btn *[class*='icon-']{
  font-size: 12px;
  margin:0;
  margin-right: 6px;
  font-weight: bold;
  vertical-align: middle;
  line-height: 16px;
  height: 16px;
}

.filter-item-hint{
  margin: 0 5px;
}

.btn.btn-map{
  flex: 0 0 auto;
  position: relative;
  top: 0;
  right: 0;
  white-space: nowrap;
  margin-left: 10px;
  padding: 10px 20px 10px;
  height: 52px;
  font-weight: normal;
  border: 2px solid #2466BC;
  border-radius: 4px;
  letter-spacing: 0;
  font-family: 'Roboto', sans-serif;
}
.btn-map,
.btn-map:hover,
.btn-map:active{
  background: url(/src/img/btn-map.png);
}
.btn-map:hover,
.btn-map:active{
  border-color: #EA544E;
}
.btn-map:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(36,102,188,0.8);
  transition: all .3s ease;
}
.btn-map:hover:before,
.btn-map:active:before{
  background: rgba(234,84,78,0.8);
}

.btn-map>*{
  position: relative;
  z-index: 1;
}
.btn-map *[class*='icon-']{
  font-size:150%;
}

.btn-map-list{
  font-size: 16px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  line-height: 1.1;
  margin-left: 10px;
  flex: 0 0 100px;
  border-radius: 4px;
  border: 2px solid #2466BC;
  background: rgba(36,102,188,0.8);
}
.btn-map-list:hover,
.btn-map-list:active{
  background: rgba(234,84,78,0.8);
  border-color: #EA544E;
}

.btn-map-list *[class*='icon-']{
  font-size: 12px;
  margin-right: 15px;
}
.btn-map-list span{
  white-space: normal;
  word-wrap: break-word;
}



.filter .dropdown-mini .dropdown-content{
  left: -7px;
  right: -7px;
}






.filter-sort-direction{
  display: inline-block;
  height: 24px;
  width: 24px;
  border-radius: 50px;
  padding: 0;
  transition: all .3s ease,
              transform .5s ease;
  overflow: hidden;
}
.filter-sort-direction>*{
  position: relative;
  display: inline-block;
  width:30px;
  margin-left: -3px;
  text-align: center;
  z-index: 2;
}
.filter-sort-direction:hover,
.filter-sort-direction:active{
  transform: rotate(180deg);
  background: #eee;
}

.filter-sort-direction:after{
  content: "";
  display:block;
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 50%;
  right: 50%;
  transition: all .3s ease;
  border-radius: 50%;
  box-shadow: inset 0 0 0px 2px rgba(179, 179, 179, 0);
}
.filter-sort-direction:hover:after,
.filter-sort-direction:active:after{
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: inset 0 0 0px 2px rgba(255, 255, 255, .9);
}
.filter-sort-direction:before{
  content: "";
  display:block;
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 50%;
  right: 50%;
  transition: all .3s ease .2s;
  border-radius: 50%;
  background: #fff;
  z-index: 1;
}
.filter-sort-direction:hover:before,
.filter-sort-direction:active:before{
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.filter-sort-direction:active:before{
  box-shadow: inset 0 0 0px 2px rgba(0, 0, 0, .1);
}





@media screen and (max-width:767px){
  .filter{
    padding: 0;
  }
  .filter-item{
    display: block;
    padding: 5px 5px;
  }
  .filter-item + .filter-item{
    padding-top: 0;
  }
  .filter-supertop-btn{
    top: -50px;
    width: auto;
    padding: 10px;
  }
  .filter-supertop-btn .icon-plus{
    margin:0;
  }
  .filter-supertop-btn .icon-plus+*{
    display:none;
  }
  .btn.btn-map{
    font-size: 14px;
    height: 40px;
  }
}
@media screen and (min-width:768px){
  .filter-wrapper{
    font-size: 16px;
  }
}

@media screen and (max-width:991px){
  .btn-map-list{
    flex: 0 0 auto;
  }
}

@media screen and (min-width:1200px){
  .filter-wrapper{
    display: flex;
  }
  .filter-wrapper>*{

  }
  .filter{
    display: block;
    flex: 1 0 auto;
  }
  .filter-supertop-btn{
    flex: 0 0 auto;
    position: relative;
    top: 0;
    right:0;
    float: right;
    white-space: nowrap;
    margin-left:10px;
  }
}


@media screen and (max-width:419px){
  .btn-map-list{
    padding: 5px 10px;
  }
  .btn-map-list span{
    display: none;
  }
  .btn-map-list *[class*='icon-']{
    display: block;
    margin: 0;
  }
}
