.img-rotate-90{
  transform: rotate(90deg);
  transform-origin: 50% 50%;
}
.img-rotate-180{
  transform: rotate(180deg);
}
.img-rotate-270{
  transform: rotate(270deg);
  transform-origin: 50% 50%;
}
