@-webkit-keyframes loadingAnimation {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}

@keyframes loadingAnimation {
  0% {
    background-position: -40% 0
  }
  100% {
    background-position: 140% 0
  }
}


.loading-wrapper{
  overflow: hidden;
  border: 5px solid #fff;
  border-left-width: 0;
  border-right-width: 0;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: loadingAnimation;
  animation-name: loadingAnimation;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
  background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background: linear-gradient(to right, rgba(0,0,0,0) 0%, #dddddd 50%, rgba(0,0,0,0) 100%);
  /* -webkit-background-size: 1200px 104px; */
  background-size: 200px;
  background-color: #eee;
  background-repeat-x: no-repeat;
  /*  background-image: url(/src/img/examples/card.png);*/
}

.loading-element{
  position: relative;
  border:5px solid #fff;
  border-left-width: 0;
  border-right-width: 0;
}
.loading-element:before,
.loading-element:after{
  content:"";
  display: block;
  position: absolute;
  top:0;
  bottom:0;
  background-color: #fff;
}
.loading-element:after{
  right:0;
}
.loading-element+.loading-element{

}



.loading-wrapper.lightblue{
  background-color: #e9eaed;
  border-color: #F0F3F7;
}
.lightblue .loading-element{
  border-color: #F0F3F7;
}
.lightblue .loading-element:before,
.lightblue .loading-element:after{
  background-color: #F0F3F7;
}






.loading-10:after{
  width: 90%;
}
.loading-20:after{
  width: 80%;
}
.loading-30:after{
  width: 70%;
}
.loading-40:after{
  width: 60%;
}
.loading-50:after{
  width: 50%;
}
.loading-60:after{
  width: 40%;
}
.loading-70:after{
  width: 30%;
}
.loading-80:after{
  width: 20%;
}
.loading-90:after{
  width: 10%;
}





.loading-divider{
  border-top-width:19px;
}

.loading-text{
  height: 24px;
}
.loading-text-small{
  height: 18px;
}
.loading-h1{
  height: 50px;
}
.loading-h2{
  height: 36px;
}




.loading-float-container-left,
.loading-float-container-right{
  overflow: hidden;
}
.loading-float-container-left .loading-image,
.loading-float-container-right .loading-image{
  margin:0;
}

.loading-float-container-left .loading-image{
  float: left;
}
.loading-float-container-right .loading-image{
  float: right;
}

.loading-float-container-left>*:last-child:before,
.loading-float-container-right>*:last-child:before{
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 1000px;
}


.loading-float-container-left.loading-float-100>*{
  margin-left:100px
}
.loading-float-container-right.loading-float-100>*{
  margin-right:100px
}
.loading-float-container-left.loading-float-100 .loading-image,
.loading-float-container-right.loading-float-100 .loading-image{
  width: 100px;
}
.loading-float-container-left.loading-float-100 .loading-image:before{
  left: 100px;
}
.loading-float-container-right.loading-float-100 .loading-image:before{
  right: 100px;
}



.loading-float-container-left.loading-float-150>*{
  margin-left:150px
}
.loading-float-container-right.loading-float-150>*{
  margin-right:150px
}
.loading-float-container-left.loading-float-150 .loading-image,
.loading-float-container-right.loading-float-150 .loading-image{
  width: 150px;
}
.loading-float-container-left.loading-float-150 .loading-image:before{
  left: 150px;
}
.loading-float-container-right.loading-float-150 .loading-image:before{
  right: 150px;
}




.loading-float-container-left.loading-float-200>*{
  margin-left:200px
}
.loading-float-container-right.loading-float-200>*{
  margin-right:200px
}
.loading-float-container-left.loading-float-200 .loading-image,
.loading-float-container-right.loading-float-200 .loading-image{
  width: 200px;
}
.loading-float-container-left.loading-float-200 .loading-image:before{
  left: 200px;
}
.loading-float-container-right.loading-float-200 .loading-image:before{
  right: 200px;
}


.loading-float-container-left.loading-float-300>*{
  margin-left:300px
}
.loading-float-container-right.loading-float-300>*{
  margin-right:300px
}
.loading-float-container-left.loading-float-300 .loading-image,
.loading-float-container-right.loading-float-300 .loading-image{
  width: 300px;
}
.loading-float-container-left.loading-float-300 .loading-image:before{
  left: 300px;
}
.loading-float-container-right.loading-float-300 .loading-image:before{
  right: 300px;
}


.loading-float-container-left .loading-image,
.loading-float-container-right .loading-image{
  margin:0;
}
.loading-image{
  position: relative;
  height: 150px;
  margin: 0;
}
.loading-image-small{
  height: 100px;
}
.loading-image-medium{
  height: 200px;
}
.loading-image-big{
  height: 300px;
}
.loading-image:before,
.loading-image:after{
  content: "";
  display: block;
  background: #fff;
}
.loading-image:before{
  height:1000px;
  width: 10px;
}
.loading-image:after{
  width: 100%;
  top:100%;
  height: 1000px;
}
