.mail-subscribe{
  padding: 20px;
  background: #C0D8FA;
  margin:20px 0;
  overflow: hidden;
}
.mail-subscribe h2{
  margin: 0 0 10px;
}
.mail-subscribe p{
  font-size: 18px;
  margin:0;
  line-height: 1.3;
}
.mail-subscribe .btn{
  display: inline-block;
  width: auto;
}

@media screen and (max-width:991px){
  .mail-subscribe{
    margin: 10px 0;
  }
  .mail-subscribe p{
    font-size: 16px;
  }
}

@media screen  and (min-width:768px) and (max-width:991px){
  .mail-subscribe{
    text-align: center;
  }
  .mail-subscribe form{
    display: flex;
  }
  .mail-subscribe .form-group{
    flex: 5 1 auto;
  }
  .mail-subscribe .form-group+.form-group{
    flex: 0 0 auto;
    margin-left:10px;
  }
  .mail-subscribe p{
    font-size: 16px;
  }
}

@media screen and (max-width:767px){
  .mail-subscribe p{
    font-size: 14px;
  }
}
