.page-map{
  height: 100%;
  margin-top: -107px;
  padding-top: 107px;
}

.map-bg{
  position: relative;
  height: 100%;
  z-index: 1;
}

.map-content{
  position: absolute;
  top: 107px;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}


/* infobox */
.map-info{
  background: #fff;
  padding: 0 5px;
  /* border: 1px solid #ccc; */
  line-height: 1;
  margin: 0 -10px;
}
.map-info-title{
  font-size: 18px;
  font-weight: 500;
}
.map-info-content{
  display: flex;
  margin-top: 5px;
}
.map-info-price{
  padding-right: 10px;
}
.map-info-price strong{
  font-size: 16px;
  color: #EA544E;
}
.map-info-price span{
  font-size: 12px;
  color: #666;
  margin-left:5px;
}
.map-info .favorite-btn{
  position: absolute;
  right: -10px;
  bottom: 0;
  font-size: 14px;
}

.gm-style *[style*="box-shadow: rgba(0, 0, 0, 0.298039)"]{
  background: red;
}
.gm-style-iw *[style*="overflow: auto"]{
  overflow: visible!important;
}
.gm-style .gm-style-iw{
  overflow: visible!important;
}



@media screen and (max-width:991px){
  .map-content{
    top: 97px;
  }
  .page-map{
    margin-top: -97px;
    padding-top: 97px;
  }
}

@media screen and (max-width:767px){
  .map-content{
    top: 90px;
  }
  .page-map{
    margin-top: -90px;
    padding-top: 90px;
  }
}
