.map-search-wrapper{
  width: 300px;
  position: absolute;
  left: 10px;
  top: 0;
  z-index: 2;
}
.map-search.active{padding-top: 10px;}
.map-search{

}
.map-search .search-form{
  display: none;
  padding-bottom: 0;
}
.map-search.active .search-form{
  display: block;
  z-index: 3;
}
.map-search-expand{
  color:#fff;
  text-align: center;
  padding: 0 5px;
}
.map-search.active .map-search-expand{
  background: #2466BC;
  padding: 5px;
}
.map-search-expand-btn{
  background: #2466BC;
  padding:5px 15px;
  opacity: 0.7;
  transition: all .2s ease;
}
.map-search-expand-btn:hover,
.map-search-expand-btn:active{
  opacity: 1;
}
.map-search-expand-btn span[class*="icon-"]{
  font-size: 80%;
  margin-left: 5px;
}


.map-zoom-controls{
  position: absolute;
  top: 5px;
  left: 0;
  padding: 0;
}
.map-search.active+.map-zoom-controls{
  top: 5px;
  left: auto;
  right: -30px;
}
.map-zoom-controls>*{
  display: block;
  padding:0;
  margin: 5px;
  background: #eee;
  width: 20px;
  height: 20px;
  line-height: 18px;
  text-align: center;
  background: #E6E6E6;
  border: 1px solid #666;
  border-radius: 4px;
  color:#333;
  font-weight: 500;
  font-size: 20px;
  box-sizing: border-box;
  transition: all .2s ease;
}
.map-zoom-controls>*:hover,
.map-zoom-controls>*:active{
  border-color: #2466BC;
  background: #2466BC;
  color:#fff;
}



@media screen and (max-width:991px){
  .map-search-wrapper{
    position: static;
  }
  .map-search{
    position: absolute;
    padding-top:0;
    width: auto;
    top: 0;
    left: 10px;
    right: 10px;
    z-index: 2;
  }
  .map-search.active{
    top: 0;
  }
  .map-search .search-form{
    padding: 0 20px 20px;
  }
  .map-search .search-form-title{
    display: none;
  }
  .map-search-expand{
    padding:0 5px;
  }
  .map-search.active .map-search-expand{
    display: inline-block;
    padding: 0;
  }
  .map-search-expand-btn{
    opacity: 1;
    padding: 5px 15px;
  }
  .map-search.active .map-search-expand-btn{
    padding: 5px 20px;
  }

  .map-zoom-controls,
  .map-search.active+.map-zoom-controls{
    z-index: 2;
    top: auto;
    right: auto;
    left: 10px;
    bottom: 10px;
  }
}
