.map-offers-wrapper{
  position: absolute;
  right: 0;
  top:0;
  bottom: 0;
  z-index: 2;
  display: flex;
}
.map-offers{
  display: none;
  flex-direction: column;
  width: 360px;
  padding: 10px;
  background: #F0F3F7;
  font-size: 12px;
  border-left: 1px solid #ccc;
}
.map-offers.active{
  display: flex;
}

.map-offers-title{
  margin:0 0 5px;
  font-size: 24px;
}

.map-offers .filter-wrapper{
  margin: 10px 0;
  flex: 0 0 auto;
  font-size: 16px;
}

.map-offers .card-mini-list{
  margin: 0;
  padding: 2px 0;
}

.map-offers-expand{
  position: absolute;
  top: 50%;
  left:-22px;
  background: rgba(51, 51, 51, 0.5);
  height:50px;
  width: 22px;
  margin-top: -25px;
  color: #fff;
  text-align: center;
  padding:0;
  border-radius: 10px 0 0 10px;
  transition: all .2s ease;
}
.map-offers-expand:before{
  font-family: icomoon;
  content: '\e901';
  display: inline-block;
  margin-top: 1px;
}
.map-offers.active + .map-offers-expand:before{
  content: '\e902';
  margin-left: 4px;
}
.map-offers-expand:hover,
.map-offers-expand:active{
  background: #2466bc;
}



@media screen and (max-width:991px){
  .map-offers-wrapper{
    top: auto;
    left:0;
  }
  .map-offers{
    width:100%;
    border:none;
    background: rgba(51, 51, 51, 0.44);
  }
  .map-offers .filter{
    padding: 0;
  }
  .map-offers-title{
    margin: 0;
    color:#fff;
  }
  .map-offers-founded{
    display: none;
  }
  .map-offers-expand{
    top: -22px;
    left: 50%;
    width: 50px;
    height: 22px;
    margin-left: -25px;
    margin-top: 0;
    border-radius: 10px 10px 0 0;
  }
  .map-offers-expand:before{
    font-family: icomoon;
    content: '\e90d';
    display: inline-block;
    margin-top: 2px;
  }
  .map-offers.active + .map-offers-expand:before{
    content: '\e90c';
    margin-left: 0;
  }
}
