.markers{
  margin-left: -4px;
  margin-right: -4px;
}
.markers .marker{
  margin: 4px;
  float: left;
}
.markers:after{
  content: "";
  display: table;
  clear: both;
}
.marker{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  padding-left: 14px;
  color: #333;
}
.marker>*{
  display:block;
  float: left;
  padding: 5px 8px;
  font-size: 14px;
  line-height: 14px;
  background: #C0D8FA;
  border-radius: 0 3px 3px 0;
}
.marker:before{
  content: "";
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -14px;
  border: 15px solid transparent;
  border-right-color: #C0D8FA;
}
.marker:after{
  content: "";
  display: block;
  position: absolute;
  top: 9px;
  left: 11px;
  background: #fff;
  height: 5px;
  width: 5px;
  border-radius: 50%;
}

a.marker:hover span,
a.marker:active span{
  color: #fff;
  background: #2466BC;
}
a.marker:hover:before,
a.marker:active:before{
  border-right-color: #2466BC;
}

@media screen and (max-width:767px){
  .marker>*{
    font-size: 12px;
    line-height: 12px;
  }
}
