.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  text-align: center;
  /* font-size: 0; */
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal:before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin-left: -3px;
  width: 0;
}

.modal-xs{
  width: 300px;
}
.modal-sm{
  width: 500px;
}
.modal-md{
  width: 600px;
}
.modal-lg{
  width: 900px;
}

.modal-dialog {
  position: relative;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  max-width: 100%;
}

.modal-content {
  position: relative;
  outline: 0;
}
.modal-header {
  position: relative;
  padding: 15px 15px 10px;
  padding-right:50px;
}
.modal-header .modal-title{
  margin:0;
  font-size: 24px;
  color: #fff;
  text-shadow: 0 0 20px #000;
}
.modal-header .close{
  position: absolute;
  right:15px;
  top:15px;
  bottom: 10px;
  color:#fff;
  line-height: 24px;
  font-size: 16px;
}
.modal-header .close>*{display: block;}
.modal-body {
  position: relative;
  padding: 0;
  background-color: #F0F3F7;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.modal-main{
  padding: 15px;
}
.modal-main.text{
  padding-top:5px;
  padding-bottom:5px;
}
.modal-main .tab-pane{
  padding:0;
}

.modal-body .tab-titles{
  padding-top: 15px;
}


.modal-prompt{

}
.modal-prompt .modal-body{
  padding:0;
  background: none;
  border:none;
  background: rgba(8, 8, 8, 0.43);
}
.modal-prompt .modal-main{
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.modal-prompt .modal-main>*{
  display:inline-block;
  margin: 0 15px;
  min-width: 100px;
  flex: 1 1 150px;
}




.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
  -webkit-transform: translate(0,-25%);
  -ms-transform: translate(0,-25%);
  -o-transform: translate(0,-25%);
  transform: translate(0,-25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
}


.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: 0.6;
}

.modal-open {
  overflow: hidden;
  padding-right: 0 !important;
}
.modal-open .slideout-panel{
  z-index: auto;
}
.modal-open{
  padding-right:17px;
}


@media (min-width: 768px){
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
}
