.n-table{
  width: 100%;
  background: #fff;
  border: 0;
  border-collapse: collapse;
}
.n-table>tbody>tr{
  border: 1px solid #E6E6E6;
  background: #fff;
}

@media screen and (max-width: 767px){

}
