.notifications{
  position: fixed;
  top:20px;
  right:50px;
  z-index: 20;
  width: 300px;
}
.notifications-item{
  position: relative;
  padding: 5px 40px;
  background: rgba(192, 216, 250, 0.95);
  /* border: 1px solid #ddd; */
  border-radius: 2px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
}

.notifications-item+.notifications-item{
  margin-top: 20px;
}


.notifications-item-go{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width:40px;
  text-align: center;
  color: #8EACD8;
}
.notifications-item-go:before{
  content: "";
  height: 100%;
}
.notifications-item-go span{
  display: block;
  padding-top: 12px;
}
.notifications-item-go:hover{
  background: #C0D8FA;
  color: #2466BC;
  text-decoration: none;
}


.notifications-item-message>*{
  margin: 5px 0;
}
.notifications-item-title{

}
.notifications-item-title>*{
  margin-right:5px;
}
.notifications-item-text{
  color: #808080;
}


.notifications-item .icon-warning{
  font-size: 120%;
  color: #EA544E;
}
.notifications-item .icon-label{
  color: #FBB03B;
}


.notifications-item-controls{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width:40px;
  text-align: center;
}
.notifications-item-controls .close{
  margin-top:10px;
}
.notifications-item-controls .close:hover,
.notifications-item-controls .close:active{
  color: #EA544E;
}


@media screen and (max-width: 419px){
  .notifications{
    width:auto;
    left:20px;
    right:20px;
  }
}
