.notification{

}



.notification-head{
  padding: 12px 0 6px;
  line-height: 30px;
}
.notification-head>*{
  display: inline-block;
}
.notification-date{

}
.notification-delete{
  margin-left:20px;
  color: #2466BC;
}
.notification-delete span{
  display: inline-block;
  margin-right:5px;
  font-size: 120%;
  vertical-align: text-top;
}
.notification-delete:hover,
.notification-delete:active{
  color: #EA544E;
}

.notification-siblings{
  float: right;
}
.notification-siblings>*{
  color: #2466BC;
  border-radius: 4px;
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 33px;
  text-align: center;
}
.notification-siblings>*:hover,
.notification-siblings>*:active{
  background: #C0D8FA;
}
.notification-siblings .prev{
  padding-right:2px;
}
.notification-siblings .next{
  padding-left:2px;
}



.notification-body{
  padding: 10px;
  color: #333;
  font-size: 12px;
  background: #fff;
  border: 1px solid #E6E6E6;
  line-height: 1.3;
}
.notification-body>*{
  margin: 10px 0;
}
.notification-title{
  font-size: 16px;
  font-weight: bold;
}
.notification-subtitle{

}

.notification-content{

}

.notification-content .text{

}
.notification-content .text li{
  margin: 5px 0;
}
.notification-content .text .bigger{
  font-size: 130%;
}
.notification-action{
  margin:20px 0 10px;
}



.notification-comment{
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #E6E6E6;
  background: #F0F3F7;
}


@media screen and (min-width: 768px){

  .notification-body{
    padding: 20px;
    font-size: 16px;
    line-height: 1.5;
  }
  .notification-body>*{
    margin: 10px 0;
  }
  .notification-title{
    font-size: 24px;
  }
  .notification-comment{
    padding: 20px 20px 10px;
    margin: 10px 0 30px;
  }
  .notification-action{
    margin:20px 0 10px;
  }
}
