.page-description{
  overflow: hidden;
  position: relative;
  padding: 70px 0;
  background: #fff;
}
.page-description:after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url(/src/img/dot.svg);
  background-repeat: repeat;
  background-size: 3px 3px;
}
.page-description-bg{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom:0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page-description.open:after,
.page-description.open .page-description-bg{
  max-height: 500px;
}
.page-description.open .page-description-box{
  background: #fff;
}
.page-description.open .page-description-img .hidden-img{
  display: block;
}


.page-description-box{
  position: relative;
  z-index: 2;
  padding: 40px;
  background: rgba(255, 255, 255, 0.8);
}
.page-description-title{
  margin-top: 0;
}


.page-description-content{
  display: flex;
}

.page-description-text{
  flex: 1 1 70%;
  box-sizing: border-box;
  padding-right: 20px;
}


.page-description-img{
  flex: 1 1 30%;
  box-sizing: border-box;
  padding-left:20px;
}
.page-description-img img{
  display: block;
  max-width: 100%;
}
.page-description-img .hidden-img{
  display: none;
}
.page-description-img img+img{
  margin-top:40px;
}







@media screen and (max-width:767px){
  .page-description{
    padding: 0;
  }
  .page-description:after,
  .page-description .page-description-bg{
    display: none;
  }
  .page-description-box{
    padding: 10px 0;
  }
  .page-description-content{
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .page-description-content>*{
    flex: 1 0 100%;
    padding:0;
  }
  .page-description-img{
    padding-bottom: 20px;
  }
  .page-description-img img+img{
    margin-top:20px;
  }

}
