.pagination-showed{
  margin: 10px 0 5px;
  font-size: 14px;
}

.pagination{
  font-size: 14px;
  margin: 15px 0;
}
.pagination>*{
  display: inline-block;
}
.pagination button{
  padding:0 8px;
  margin: 5px 0;
  line-height: 30px;
  color: #2466BC;
  border: 1px solid #C0D8FA;
  border-radius: 2px;
}

.pagination-pages{}
.pagination-pages button{
  margin: 0 2px;
}
.pagination button.current{
  background: #C0D8FA;
}
.pagination button:hover,
.pagination button:active{
  background: #2466BC;
  border-color: #2466BC;
  color: #fff;
}
.pagination button.current:hover,
.pagination button.current:active{
  background: #C0D8FA;
  color: #2466BC;
  border-color: #C0D8FA;
}
.pagination button span{
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
}
.pagination button span+span{
  margin-left:8px;
}
.pagination button span[class^="icon"]{
}
.pagination button span[class^="icon"]:before{
  font-size: 14px;
  vertical-align: initial;
}
.pagination-current-text{
  text-align: center;
  padding: 0 6px;
  margin: 5px 0;
  font-size: 14px;
  line-height: 30px;
}
.pagination .disabled,
.pagination .disabled:hover,
.pagination .disabled:active{
  color: #999;
  border-color: #ccc;
  background: none;
}


@media screen and (max-width: 767px){
  .pagination{
    text-align: center;
    margin: 5px 0 10px;
  }
  .pagination-showed{
    text-align: center;
  }
  .pagination-pages{
    display: none;
  }
  .pagination .prev{
    float:left;
  }
  .pagination .next{
    float:right;
  }
}

@media screen and (min-width: 768px){
  .pagination{
    font-size: 16px;
  }
  .pagination-current-text{
    display:none;
  }
  .pagination button{
    line-height: 40px;
    padding:0 12px;
  }
  .pagination button.disabled{
    display:none;
  }
  .pagination button span+span{
    margin-left:12px;
  }
  .pagination button span{
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
  }

}
