.rating,
.rating-stars{
  display: inline-block;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  font-family: icomoon;
  /* font-size: 16px; */
}
.rating:after,
.rating-stars:after{
  content: "";
  display: table;
  clear: both;
}
.rating span,
.rating-stars span{
  display: block;
  float:right;
  cursor: pointer;
  line-height: 1;
  padding:3px 3px 3px;
  border-radius: 50px;
  transition: background 1s ease,
              box-shadow .5s ease;
}
.rating-stars span{
  cursor: inherit;
}

.rating span:before,
.rating-stars span:before{
  content: "\e908";
  display: inline-block;
  color: #333;
  transition: color .2s ease;
  line-height: 1;
}

.rating span.rated:before,
.rating span.rated ~ span:before,
.rating-stars span.rated:before,
.rating-stars span.rated ~ span:before{
  color: #FBB03B;
}
.rating span:hover:before,
.rating span:hover ~ span:before
{
  color: #FF6C00;
}
.rating span.rated:hover:before,
.rating span.rated:hover ~ span:before,
.rating span.rated ~ span:hover:before,
.rating span.rated ~ span:hover ~ span:before{
  color: #FF6C00;
}

.rating span:active{
  background: #fff;
  transition: background .1s ease;
  box-shadow:  0px 0px 1px 1px #ddd;
}

@media (min-width: 768px){
  .rating{

  }
  .rating span,
  .rating-stars span{
    padding:3px 3px 5px;
  }
  .rating span:active{
    box-shadow: inset 0px 0px 2px 2px #ddd;
  }
}
