.recently-viewed-offers{
  margin: 30px 0;
}
.recently-viewed-offers .card-small,
.recently-viewed-offers .card-small:nth-child(2n){
  background: #fff;
}
.recently-viewed-offers .card-small{
  border:1px solid #E6E6E6;
  margin: 8px 0;
}
.recently-viewed-offers .card-small-content-top{
  min-height: 20px;
}
.recently-viewed-offers .card-small:hover{
  background: #f9f9f9;
}


@media screen and (min-width:992px){
  .recently-viewed-offers .card-small{
    margin:0;
  }
  .recently-viewed-offers .card-small+.card-small{
    border-top: 0;
  }
}

@media screen and (max-width:991px){
  .recently-viewed-offers .card-small:nth-child(4n-1),
  .recently-viewed-offers .card-small:nth-child(4n-2){
    background: #fff;
  }
  .recently-viewed-offers .card-small-list{
    justify-content: space-between;
  }
  .recently-viewed-offers .card-small{
    flex: 0 0 49%;
  }
}

@media screen and (max-width:767px){
  .recently-viewed-offers .card-small{
    border:none;
    padding: 2px 10px 35px;
    margin: 0 0 2px;
  }
  .recently-viewed-offers .card-small-image{
    width: 100px;
    left: 0;
    top: 0;
    bottom: 5px;
  }
  .recently-viewed-offers .card-small-content,
  .recently-viewed-offers .card-small-actions{
    width:auto;
    margin-left: 80px;
  }
  .recently-viewed-offers .card-small-actions{
    margin-left: 90px;
    bottom: 2px;
  }
  .recently-viewed-offers{
    margin: 0 0 20px;
  }
}
