.remark{
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 0 12px;
}

.remark span{
  position: relative;
  display: block;
  padding: 2px 5px;
  background: #000;
  color: #fff;
  border-radius: 2px;
  z-index: 2;
}


.remark:before{
  content: "";
  position: absolute;
  right: 5px;
  top:0;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  background: #000;
  transform: rotate(45deg);
}



.remark.left{
  padding-left:12px;
}
.remark.left span{
  padding-left: 0;
}
.remark.left:before{
  left: 5px;
}

.remark.right{
  padding-right:12px;
}
.remark.right span{
  padding-right: 0;
}
.remark.right:before{
  right: 5px;
}



.remark.red span,
.remark.red:before{
  background: #EA544E;
}
.remark.green span,
.remark.green:before{
  background: #39B54A;
}

@media screen and (max-width:767px){
  .remark:before{
    width:18px;
    height: 18px;
  }
  .remark.xs-left{
    padding: 0;
    padding-left:12px;
  }
  .remark.xs-left span{
    padding: 2px 5px;
    padding-left: 0;
  }
  .remark.xs-left:before{
    left: 5px;
  }

  .remark.xs-right{
    padding: 0;
    padding-right:12px;
  }
  .remark.xs-right span{
    padding: 2px 5px;
    padding-right: 0;
  }
  .remark.xs-right:before{
    right: 5px;
  }
}
