.r-table{
  width: 100%;
  background: #fff;
  display: block;
  position: relative;
  overflow: hidden;
  text-align: left;
  font-size: 12px;
  border: 1px solid #E6E6E6;
}
.r-table+.r-table{
  margin-top: 20px;
}

.r-table-body{
  max-height: 400px;
}
.r-table-tall tbody{
  max-height: 600px;
  /* max-height: 100%; */
}
.r-table-short tbody{
  max-height: 300px;
}

.r-table caption{
  position: relative;
  display: block;
  border-bottom: 1px solid #E6E6E6;
  padding: 10px;
  padding-left: 90px;
  text-align: left;
  font-size: 16px;
  color: #333;
}
.r-table caption:after{
  content: "";
  display: table;
  clear: both;
}
.r-table-caption-img{
  position: absolute;
  left:0;
  top:0;
  bottom:0;
  width: 80px;
  overflow: hidden;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-clip: border-box;
}
.r-table-caption-img img{
  display:inline-block;
  vertical-align: middle;
}
.r-table-caption-markers{
}
.r-table caption .marker{
  display: block;
  margin: 5px 0;
}

.r-table-head,
.r-table-body{
  display: block;
  position: relative;
  /* width: 100%; */
  background: white;
}


.r-table-head{
  z-index: 1;
  padding: 0 10px;
}
.r-table-body{
  padding: 0 10px 10px;
  overflow-y: scroll;
}


.r-table tr{
  /* width: 100%; */
  display: block;
  overflow: hidden;
}
.r-table-body tr{
  background: #F0F3F7;
}


.r-table th,
.r-table td{
  padding: 10px;
  display: block;
  position: relative;
}
.r-table-head th,
.r-table-head td{
  color: #666;
  font-weight: normal;
  vertical-align: bottom;
}
.r-table-body th,
.r-table-body td{
  background: #F0F3F7;
  vertical-align: top;
}
.r-table-body th{
  color: #666;
  font-weight: normal;
}






@media (max-width: 767px){
  .r-table-body td+td:before{
    content: "";
    position: absolute;
    display: block;
    top:0;
    left:10px;
    right: 10px;
    border-top: 1px solid #E6E6E6;
  }
  .r-table-body>tr{
    display:none;
  }
  .r-table-body>tr.active{
    display:block;
  }
}

@media (min-width: 768px){
  .r-table{
    font-size: 14px;
  }
  .r-table caption{
    font-size: 21px;
  }
  .r-table-caption{
    float:left;
  }
  .r-table-caption-text{
    float: left;
    margin: 0 10px;
  }
  .r-table-caption-markers{
    /* width: 300px; */
    float:right;
  }
  .r-table caption .marker{
    /* float:right; */
    margin-left: 5px;
    display: inline-block;
  }
  .r-table-body{
    padding: 10px;
  }
  .r-table-body tr+tr{
    margin-top: 10px;
  }
  .r-table th,
  .r-table td{
    /* width: 30%; */
    min-width: 100px;
    display: table-cell;
  }

  .r-table:after{
    content: "";
    display: block;
    position: absolute;
    left:0;
    right:17px;
    bottom:0;
    height: 10px;
    background: #fff;
  }
  /* shadows */

  .r-table-head:before,
  .r-table-head:after{
    content: "";
    display: block;
    position: absolute;
    left:0;
    right:0;
    height: 4px;
  }
  .r-table-head:after{
    bottom: 0px;
    background: #fff;
    height:10px;
  }
  .r-table-head:before{
    bottom: 0px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.45);
  }
}
