.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-menu.absolute{
  position: absolute;
}
.slideout-menu:before{
  content: " ";
  display: table;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  background: #F0F3F7;
  min-height: 300px;
  overflow: hidden;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
.slideout-panel:before,
.slideout-panel:after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right:100%;
  z-index: 20;
}

.slideout-panel:before{
  left: 0;
  background: rgba(0, 0, 0, 0);
  transition: background .5s ease, right .5s step-end ;
}
.slideout-panel:after{
  right:0;
  box-shadow: 0 0 10px #000;
}

.slideout-open .slideout-panel:before{
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: background .5s ease, right .5s step-start ;
}
.slideout-open .slideout-panel:after{
  width:1px;
}

@media screen and (min-width: 768px) {
  .slideout-panel {
    overflow:visible;
  }
}
@media screen and (max-width: 991px) {
  .slideout-menu {
    width: 269px;
    background: #eee;
    padding: 0;
  }
}
@media screen and (min-width: 992px) {
  .slideout-panel {
    position: relative;
  }
  .slideout-panel {
    background: none;
  }
  .slideout-menu {
    position: relative!important;
    top: 0!important;
    left: 0;
    display: block;
    overflow-y: visible;
  }

  .btn-hamburger {
    display: none;
  }
}
