.steps{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  color: #808080;
  text-transform: uppercase;
  width: 100%;
  margin: 20px 0 40px;
  display: flex;
}
.step{
  position: relative;
  text-align: center;
  background: #fff;
  letter-spacing: 1px;
  line-height: 1.2;
  padding:5px 15px 3px 25px;
  vertical-align: middle;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step:hover,
.step:active{
  text-decoration:none;
}
.step.active{
  background: #2466BC;
  color: #fff;
}
.step.finished{
  color: #2466BC;
  padding-left:5px;
}


@media screen and (max-width: 767px){
  .steps{
    position:relative;
    display: block;
    padding-left: 30px;
    margin-bottom: 30px;
  }
  .steps tr{
    display: block;
    position: relative;
    padding-left: 30px;
  }
  .steps:before{
    content: "";
    display: block;
    position: absolute;
    top:10px;
    bottom: 10px;
    left: 9px;
    width: 3px;
    background: #C0D8FA;
  }
  .step,
  .step.finished{
    display: block;
    position: relative;
    width: auto;
    text-align: left;
    padding: 10px 15px;
    border: 1px solid #C0D8FA;
  }
  .step+.step{
    margin-top: -1px;
  }
  .step:before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    padding: 2px;
    height: 14px;
    left: -30px;
    width: 14px;
    background: #fff;
    border:1px solid #C0D8FA;
    border-radius: 10px;
    line-height: 12px;
    text-align: center;
    font-size: 16px;
  }
  .steps-3 .step{
    width: auto;
  }
  .step.finished:before{
    content: "\e916";
    font-family: icomoon;
    color: #39B54A;
  }
}


@media screen and (min-width: 768px){
  .steps{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: #808080;
    text-transform: uppercase;
    width: 100%;
    background: #C0D8FA;
    padding: 1px;
    margin: 20px 0 40px;
  }
  .step{
    position: relative;
    text-align: center;
    background: #fff;
    letter-spacing: 1px;
    height: 60px;
    line-height: 1.2;
    padding:5px 15px 3px 25px;
    vertical-align: middle;
    cursor: pointer;
  }
  .step+.step{
    margin-left:1px;
  }
  .step.active{
    background: #2466BC;
    color: #fff;
  }
  .step.finished{
    color: #2466BC;
    padding-left:5px;
  }
  .step.finished>*:before{
    content: "\e916";
    font-family: icomoon;
    margin-right:10px;
    color: #39B54A;
  }
  .step:before{
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    height: 0;
    right: -21px;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid #C0D8FA;
    z-index: 1;
  }
  .step:after{
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    height: 0;
    right: -20px;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid #fff;
    z-index: 1;
  }
  .step.active:after{
    border-left-color: #2466BC;
  }
  .step:hover,
  .step:active{
    background: #C0D8FA;
    color:#333;
  }
  .step:hover:after,
  .step:active:after{
    border-left-color: #C0D8FA;
  }
  .step:last-child:before,
  .step:last-child:after{
    display:none
  }
  .step>*{
    display: inline-block;
    vertical-align: middle;
  }

  .steps-3 .step{
    width: 33.3333%;
  }
}
