.tabs{

}
.tab-titles{
  margin: 0;
  list-style: none;
  padding: 0;
  border-bottom: 1px solid #ccc;
}
.tab-titles:after{
  content: "";
  display:table;
  clear: both;
}
.tab-titles li{
  display: block;
  float: left;
  margin: 0;
}
.tab-titles a{
  display: block;
  padding: 2px 25px;
  min-width: 100px;
  height: 42px;
  border-radius: 3px 3px 0 0;
  border: 1px solid transparent;
  border-bottom: none;
  text-align: center;
}
.tab-titles a:before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.tab-titles a span{
  display: inline-block;
  vertical-align: middle;
}
.tab-titles .active a{
  background: #C0D8FA;
  color: #333;
  border-color: #E6E6E6;
}

.tab-content{

}
.tab-content .tab-pane{
  display: none;
  padding: 20px 0;
}
.tab-content .tab-pane.active{
  display: block;
}


.tabs-2 .tab-titles li{
  max-width: 50%;
  width: 50%;
}

.tab-pane h1,
.tab-pane h2,
.tab-pane h3,
.tab-pane h4,
.tab-pane h5,
.tab-pane h6{
  color:#666;
}

@media (max-width: 767px){
  .tab-titles a{
    height:32px;
  }
}


@media (min-width: 768px){
  .tab-titles{
    padding: 0 10px;
  }
  .tab-titles li{
    margin: 0 5px;
  }
  .tabs-2 .tab-titles li{
    width:auto;
  }
}
