.tickets-buy{
  width: 100%;
  text-align: left;
}

.tickets-buy thead{
}

.tickets-buy thead th{
  font-weight: normal;
  vertical-align: bottom;
  padding: 8px 8px;
}


.tickets-buy .price,
.tickets-buy .price-black{
  font-weight: bold;
}
.tickets-buy .price{
  color: #EA544E;
}
.tickets-buy .price-old{
  margin-left: 5px;
  color:#666;
  text-decoration: line-through;
  text-decoration-color: #EA544E;
}
.tickets-buy .discount{
  margin-left: 5px;
}
.tickets-buy .discount:hover,
.tickets-buy .discount:active{
  cursor:pointer;
}


.tickets-buy tbody{

}
.tickets-buy tbody:nth-child(2n){
  background: #F0F3F7;
}
.tickets-buy tbody td{
  padding: 8px 8px;
  vertical-align: middle;
}
.tickets-buy tbody td>*{
  vertical-align: middle;
}
.tickets-buy .tickets-buy-services-title td{
  padding: 0 8px;
}
.tickets-buy-services-title span{
  display: block;
  border-top: 1px solid #ddd;
  padding: 12px 0;
}


.tickets-buy .tickets-buy-service td{
  padding: 0px 8px 8px;
}


.tickets-buy tbody.disabled{
  opacity: 0.5;
}
.tickets-buy tbody.disabled .ui-spinner{
  position: relative;
}
.tickets-buy tbody.disabled .ui-spinner:before{
  content: "";
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom: 0;
  z-index: 10;
}

.tickets-buy-count{
  width: 1%;
}


.tickets-buy-resume{
  display: flex;
  justify-content: space-between;
  padding:16px 0 8px;
  margin-top:8px;
  border-top: 1px solid #ddd;
}
.tickets-buy-resume>*{
  flex:1;
  margin:0 8px;
}
.tickets-buy-resume-details{
  flex-grow: 10;
}
.tickets-buy-resume-action .btn{
  white-space: nowrap;
}



@media screen and (max-width:767px){
  .tickets-buy thead{
    display: none;
  }
  .tickets-buy tbody{
    display: block;
    position: relative;
  }
  .tickets-buy tbody tr{
    display: block;
    padding:0 8px;
  }
  .tickets-buy tbody td{
    display: inline-block;
    padding: 8px 0px;
  }
  .tickets-buy .tickets-buy-services-title td{
    display: block;
    padding: 0;
  }
  .tickets-buy-services-title span{
    padding:8px 0;
  }
  .tickets-buy tbody{
    padding-bottom: 50px;
  }
  .tickets-buy .tickets-buy-ticket{
    padding: 6px 0;
  }
  .tickets-buy .tickets-buy-ticket td{
    display: inline-block;
    padding:2px 0;
    margin: 0 8px;
    justify-content: space-between;
  }
  .tickets-buy td>.hidden-sm{
    color: #666;
    margin-right:5px;
  }
  .tickets-buy .tickets-buy-ticket .tickets-buy-count{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 8px;
    margin: 0;
    display: flex;
  }
  .tickets-buy .tickets-buy-service{
    position: relative;
    padding: 4px 8px;
    padding-right: 116px;
  }
  .tickets-buy .tickets-buy-service td{
    padding:0;
    display: block;
  }
  .tickets-buy-service-count{
    position: absolute;
    right:8px;
    top:4px;
  }
  .tickets-buy .tickets-buy-count{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
  }
  .tickets-buy .disabled .tickets-buy-count:before{
    content: "";
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .tickets-buy-count>*{
    flex: 1;
    display: inline-block;
  }
  .tickets-buy .tickets-buy-count .hidden-sm{
    text-align:right;
    margin: 0;
  }
}
