.tickets-table{
  padding: 10px;
  margin: 20px 0;
  background: #fff;
  border: 1px solid #E6E6E6;
}


.tickets-services.disabled{
  line-height: 42px;
}

.tickets-table .show-next-content .spinner{
  width: 110px;
}
.tickets-table-services{
  margin: 14px 0;
}
.tickets-table-services-add{
  margin-top: 18px;
}
select.tickets-share-select{
  display:none;
}

.tickets-table .tickets-table-item .a-table-side-right{
  position: relative;
  min-height: 100px;
  background: #C0D8FA;
  font-size: 16px;
}
.tickets-table-item .a-table-side-right>*{

}
.tickets-table-item .a-table-side-right .ticket-close{
  position: relative;
  margin: 7px 0;
  color: #C1272D;
}
.tickets-table-item .a-table-side-right .ticket-copy{
  position: absolute;
  bottom: 7px;
  color: #2466BC;
}
.tickets-table-item .a-table-side-right .ticket-close,
.tickets-table-item .a-table-side-right .ticket-copy{
  z-index: 1;
}
.tickets-table-item .a-table-side-right .ticket-close:hover,
.tickets-table-item .a-table-side-right .ticket-copy:hover,
.tickets-table-item .a-table-side-right .ticket-close:active,
.tickets-table-item .a-table-side-right .ticket-copy:active{
  cursor: pointer;
  color: #333;
}
.tickets-table-item .a-table-side-right .draggable{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  cursor: move;
}
.tickets-table-item .a-table-side-right .draggable span{
  position: absolute;
  right:0;
  top:50%;
  margin-top: -15px;
  line-height: 30px;
  width:20px;
  text-align: center;
  color: #B3B3B3;
}


.tickets-table-controls{
  padding:20px 0;
}
.tickets-table-controls-bottom{
  padding:20px 0 0;
  margin:20px 0 0;
  border-top: 1px solid #ddd;
}
.tickets-table-controls .dropdown-right{
  float:right;
}

.tickets-info{
    margin: 40px 0;
    color: #333;
}
.tickets-info>*{}
.tickets-info-text{}
.tickets-info-actions{
  margin: 20px -10px;
  font-size: 12px;
}
.tickets-info-actions .download-file-link{
  font-size: 14px;
}
.tickets-info-actions .download-file{
  padding-right: 40px;
}
.tickets-info-actions td{
  padding: 10px;
}
.tickets-info-actions .btn{
  white-space: nowrap;
}
.tickets-info-actions>*{}
