
.title-box{
  padding: 0.67em 0;
  position: relative;
}
.title-box:after{
  content: "";
  display: table;
  clear: both;
}
.title-box h1{
  margin: 0;
}
.title-box-btn{
  display: block;
  width:100%;
  margin: 10px 0;
}

@media (min-width: 768px){
  .title-box h1{
    padding-right: 200px;
  }
  .title-box-btn{
    height: 40px;
    position: absolute;
    right:0;
    top:5px;
    width: 190px;
  }
}
