<div class="entry">
  <div class="entry-top">
    <div class="page-title-small entry-top-title">Вход</div>
    <a href="" class="entry-top-trigger">Регистрация</a>
  </div>

  <div class="row">



    <div class="entry-col col-sm-6 col-xs-12">

      <form action="" class="form form-straight">

      <!-- ОШИБКИ -->
<!--  <div class="form-row form-row-input-group">
          <div class="form-row-input">
            <span class="input-error input-full">
              <input type="email" class="input-full" placeholder="Электронная почта">
              <span class="input-error-text">
                Пользователь с такой почтой не найден
              </span>
            </span>
          </div>
          <div class="form-row-input">
              <div class="iconed-input full">
                <button class="show-pass"><span class="icon-eye"></span></button>
                <span class="input-error input-full">
                  <input type="password" class="input-full" placeholder="Пароль">
                  <span class="input-error-text">
                    Неправильный пароль
                  </span>
                </span>
              </div>
          </div>
        </div> -->

        <div class="form-row form-row-input-group">
          <div class="form-row-input">
            <input type="email" class="input-full" placeholder="Электронная почта">
          </div>
          <div class="form-row-input">
              <div class="iconed-input full">
                <button class="show-pass"><span class="icon-eye"></span></button>
                <input type="password" class="input-full" placeholder="Пароль">
              </div>
          </div>
        </div>


        <div class="form-row">
          <div class="form-row-input">
            <label class="checkbox">
              <input type="checkbox" class="input-full">
              <span>Запомнить меня</span>
            </label>
          </div>
        </div>

        <div class="form-row form-submit-row">
            <input type="submit" value="Войти" class="btn btn-red btn-spaced">
        </div>

        <div class="form-row text-center">
          <button class="btn-text">Я забыл пароль</button>
        </div>

      </form>

    </div>



    <div class="entry-col col-sm-6 col-xs-12">
      <div class="entry-col-title">
        <span>
          Или войти<br>
          через соцсети
        </span>
      </div>
       <!-- @include page/entry.soc.col.login.html -->
    </div>



  </div>
</div>
