<div class="row clearfix">

  <div class="dropdown-container dropdown-right header-profile dropdown-entry">
    <button class="dropdown-toggle header-login header-login-enter"  type="button" data-toggle="dropdown" aria-expanded="true">
      <span class="icon-person hidden-md"></span>
      <span class="header-login-text visible-md">Вход/Регистрация</span>
    </button>
    <div class="dropdown-content keep-open">
     <!-- @include header.bar.entry.html -->
    </div>
  </div>


  <a href="/" class="header-logo"><img src="img/logo.svg" alt=""></a>

  <button type="button" class="navbar-toggle hidden-md" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-menu"></span>
  </button>

  <div class="navbar-collapse collapse clearfix">
    <a href="#" class="navbar-collapse-item">Виды спорта</a>
    <a href="#" class="navbar-collapse-item">Блог</a>
    <a href="#" class="navbar-collapse-item"><span class="icon-heart"></span>Закладки</a>
    <!-- ПОЛНАЯ КОРЗИНА -->
    <!--<a href="#" class="navbar-collapse-item">Корзина <span class="count">3</span></a>-->
    <!-- ПУСТАЯ КОРЗИНА -->
    <div class="dropdown-container dropdown-empty-cart">
      <button class="dropdown-toggle navbar-collapse-item"  type="button" data-toggle="dropdown" aria-expanded="true">
        Корзина
      </button>
      <div class="dropdown-content">
        <svg>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-img-basket"></use>
        </svg>
        <span>В корзине  пока пусто. </span>
      </div>
    </div>
  </div>
</div>
