<div class="row clearfix">

  <div class="dropdown-container dropdown-right header-profile">
    <button class="dropdown-toggle header-profile-open"  type="button" data-toggle="dropdown" aria-expanded="true">
      <span class="header-profile-avatar">
        <img src="img/examples/office-avatar.png" alt="">
        <!--<span class="icon-person"></span>-->
      </span>
      <span class="header-profile-text visible-md">Svetlana Novikova<span class="icon-caret"></span></span>
    </button>
    <div class="dropdown-content">
      <div class="dropdown-content-list dropdown-menu-list">
        <a href="#"><span class="icon-person"></span>Личная информация</a>
        <a href="#"><span class="icon-heart"></span>Закладки</a>
        <a href="#"><span class="icon-basket"></span>Покупки</a>
        <form action="">
          <button>Выход</button>
        </form>
      </div>
    </div>
  </div>


  <a href="/" class="header-logo"><img src="img/logo.svg" alt=""></a>

  <button type="button" class="navbar-toggle hidden-md" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-menu"></span>
  </button>

  <div class="navbar-collapse collapse clearfix">
    <a href="#">Виды спорта</a>
    <a href="#">Блог</a>
    <a href="#"><span class="icon-heart"></span>Закладки</a>
    <a href="#">Корзина</a>
  </div>
</div>
