<div class="dropdown-container dropdown-right select-location" id="select-location">

  <button type="button" class="dropdown-toggle" data-toggle="dropdown">Россия, Санкт-Петербург<span class="icon-caret"></span></button>

  <div class="dropdown-content keep-open row">

    <div class="col-sm-5">
      <h3>Страна</h3>
      <div class="dropdown-content-list select-location-country" id="select-location-country">
        <a href="#" data-select="Литва">Литва</a>
        <a href="#" data-select="Латвия">Латвия</a>
        <a href="#" data-select="Эстония">Эстония</a>
        <a href="#" data-select="Польша">Польша</a>
      </div>
    </div>

    <div class="col-sm-7">
      <h3>Город</h3>
      <input type="text" id="select-location-city-search" placeholder="Поиск города">
      <div class="dropdown-content-list select-location-city" id="select-location-city">
        <a href="#" data-select="Таллин">Таллин</a>
        <a href="#" data-select="Тарту">Тарту</a>
        <a href="#" data-select="Нарва">Нарва</a>
        <a href="#" data-select="Пярну">Пярну</a>
        <a href="#" data-select="Таллин">Таллин</a>
        <a href="#" data-select="Тарту">Тарту</a>
        <a href="#" data-select="Нарва">Нарва</a>
        <a href="#" data-select="Пярну">Пярну</a>
      </div>
    </div>

    <button class="btn btn-blue select-location-submit" id="select-location-submit">ВЫБРАТЬ</button>

  </div>

</div>



<div class="dropdown-container select-currency" id="select-currency">

  <button type="button" class="dropdown-toggle" data-toggle="dropdown">
    <span class="currence-symbol">€</span>
    <span class="icon-caret"></span>
    </button>

  <div class="dropdown-content">
    <h3>Валюта</h3>
    <div class="dropdown-content-list" id="select-currency-item">
      <a href="#" data-select="Евро"><span class="currence-symbol">€</span> Евро</a>
      <a href="#" data-select="Доллар США"><span class="currence-symbol">$</span> Доллар США</a>
      <a href="#" data-select=">Польский злотый"><span class="currence-symbol">zł</span> Польский злотый</a>
      <a href="#" data-select="Российский рубль"><span class="icon-rub currence-symbol"></span> Российский рубль</a>
    </div>
  </div>

</div>



<div class="dropdown-container dropdown-right select-lang" id="select-lang">

  <button type="button" class="dropdown-toggle" data-toggle="dropdown">
    <svg class="select-lang-img">
      <use xlink:href="#svg-flag-ru"></use>
    </svg>
    RU
    <span class="icon-caret"></span>
  </button>

  <div class="dropdown-content">
    <h3>Язык</h3>
    <div class="dropdown-content-list" id="select-lang-item">
      <a href="#" data-select="EN">
        <svg class="select-lang-img">
          <use xlink:href="#svg-flag-en"></use>
        </svg>
        <span>EN</span>English
      </a>
      <a href="#" data-select="LV">
        <svg class="select-lang-img">
          <use xlink:href="#svg-flag-lv"></use>
        </svg>
        <span>LV</span>Lietuvių
      </a>
      <a href="#" data-select="PL">
        <svg class="select-lang-img">
          <use xlink:href="#svg-flag-pl"></use>
        </svg>
        <span>PL</span>Polski
      </a>
      <a href="#" data-select="RU">
        <svg class="select-lang-img">
          <use xlink:href="#svg-flag-ru"></use>
        </svg>
        <span>RU</span>Русский
      </a>
    </div>
  </div>

  </div>
