
<script src="js/vendor/jquery-2.2.1.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/func.js"></script>
<!--[if lte IE 9]>
  <script src="js/vendor/flexibility.js"></script>
<![endif]-->
