.advantages{
  background: #F0F3F7;
}
.advantages-list{
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  font-size:0;
  position: relative;
}
.advantages-item{
  display:block;
  width: 100%;
  padding: 5px 0;
  margin: 0;
  vertical-align: top;
}
.advantages-item>*{
  display: inline-block;
  vertical-align: middle;
  word-wrap: break-word;
  float: none;
}
.advantages-item:before{
  content: "";
  display: table;
  clear:both;
}
.advantages-item-image{
  padding: 0;
  text-align: right;
}
.advantages-item-image svg{
  overflow: visible;
  width: 100%;
  height: 80px;
}
.advantages-item-text{
  font-size: 14px;
}
.advantages-item-text strong{
  display:block;
}



@media (min-width:768px){
  .advantages-list{
    text-align: center;
  }
  .advantages-item{
    display:inline-block;
    width: 24%;
    margin: 0 2%;
    padding: 20px 0;
  }
  .advantages-item-image{
    padding: 10px 0;
    text-align: center;
  }
  .advantages-item-image svg{
    height: 100%;
  }
  .advantages-item-text{
    font-size: 18px;
  }
  .advantages-item-text strong{
    display: inline;
  }
}

@media (min-width:992px){
  .advantages-item{
    width: 18%;
    padding: 20px 0;
    margin: 0 1%;
  }
}
