.card-small{
  position: relative;
  display: block;
  margin:0;
  padding:8px;
  padding-bottom: 40px;
  transition: box-shadow 0.5s ease, z-index 0.1s step-end;
  z-index:0;
  color: #333;
}
.card-small:hover{
  box-shadow: 0 0 0px 2px #ea544e;
  transition:box-shadow 0.1s ease, z-index 0s step-start;
  z-index:1;
  text-decoration: none;
  color: inherit;
}
.card-small:nth-child(2n){
  background: #f2f2f2;
}
.card-small>*{
  display: block;
  vertical-align: top;
}






.card-small-image{
  position: absolute;
  top:10px;
  bottom:10px;
  left:10px;
  width: 30%;
  background-position: center;
  background-size: cover;
}
.card-small-image img{
  max-width: 100%;
  display:block;
  margin: 0 auto;
}
.card-small-content{
  width: 70%;
  margin-left: 30%;
  padding-left: 20px;
}
.card-small-content-top{
  min-height: 100px;
}
.card-small-content p{
  margin:0;
}
.card-small-title{
  font-size: 14px;
  color: #2466BC;
  line-height: 1.3;
  margin-bottom: 5px;
  display: block;
}
.card-small-text{
  line-height: 1.2;
}
.card-small-actions{
  position: absolute;
  bottom: 5px;
  width: 70%;
  left: 0;
  margin-left: 30%;
  padding: 5px;
  padding-left: 20px;
}
.card-small-rathing{
  display: inline-block;
}
.card-small-favorite{
  float:right;
}




.card-small-top{
  position: relative;
}
.card-small-top + .card-small-actions{
  margin:0;
  padding: 5px;
  font-size: 12px;
}
.card-small-top .card-small-image{
  top:0;
  bottom:0;
  left:0;
}
.card-small-top .card-small-content{
  padding-left: 10px;
}
.card-small-top .card-small-text{
  font-size: 12px;
}





@media (min-width: 768px) and (max-width: 991px){
  .card-small-list{
    display: flex;
    flex-wrap: wrap;
  }
  .card-small{
    flex: 0 0 50%;
    background: #fff;
  }
  .card-small:nth-child(2n){
    background: #fff;
  }
  .card-small:nth-child(4n-1),
  .card-small:nth-child(4n-2){
    background: #f2f2f2;
  }
  .card-small-text{
    font-size: 13px;
  }
  .card-small-title{
    font-size: 16px;
  }

}

@media (min-width: 992px){
  .card-small{
    width: 100%;
    float: none;
  }
  .card-small-text{
    font-size: 14px;
  }
  .card-small-title{
    font-size: 18px;
  }
}
