.card-list{
  margin: 20px 0;
  color: #333;
}

.card{
  position: relative;
  margin: 10px 0;
  font-size: 12px;
  line-height: 1.2;
}

.card .grey{
  color: #666;
}
.card-main{
  position: relative;
  display: flex;
  background: #fff;
  border:1px solid #E6E6E6;
  border-bottom: none;
}
.card-main>*{
  display: inline-block;
  vertical-align: top;
}
.card-bottom{
  position: relative;
  padding: 0px 10px;
  background: #C0D8FA;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}
.card-bottom:before{
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left:0;
  right:0;
  height: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.46);
}



.card-content-title{}
.card-content-title .favorite-btn{
  float: right;
}



.card-image{
  flex: 0 0 auto;
  width: 110px;
  height: 110px;
  bottom:auto;
  background-color: #eee;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.card-gallery{
  width: 110px;
  padding: 8px;
  padding-right: 0;
  padding-bottom: 90px;
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  box-sizing: border-box;
}
.card-gallery-img{
  position: relative;
  background-size: cover;
  background-position: center;
}
.card-gallery-img:hover,
.card-gallery-img:active{
  cursor: pointer;
}
.card-gallery-img:hover:before,
.card-gallery-img:active:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.1);
}
.card-gallery-img.small{
  flex: 1 0 25%;
  width: 30px;
  height: 30px;
  display: none;
}
.card-gallery-img.main{
  flex: 1 0 90%;
  height: 102px;
}
.card-gallery-img-zoom{
  position: absolute;
  top: 100%;
  left:0;
  height: 300px;
  width: 500px;
  z-index: 5;
  border-radius: 2px;
  border: 5px solid #fff;
  background: #fff;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.26),0 0 0 1px #ccc;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.card-content{
  padding:5px 20px;
}
.card-content-box{
  position: relative;
}

.card-content-title{
  margin: 5px 0;
  font-size: 18px;
}
.card-content-text{
  margin: 10px 0;
}



.card-content-bottom{
  display: flex;
  margin: 5px -10px 0;
  padding: 0;
  flex-wrap: wrap;
}
.card-content-bottom>*{
  margin: 5px 10px;
}
.card-content-bottom-rating{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card-content-bottom-rating .rating,
.card-content-bottom-rating .rating-stars{/* display: block; */}
.card-content-bottom{

}
.card-content-bottom-rating .grey{
  padding: 0 5px;
}


.card-content-bottom-price{
  display: flex;
}
.card-content-bottom-price>*+*{
  margin-left: 5px;}
.card-content-bottom .price{
  font-size: 18px;
  color: #EA544E;
  font-weight: 500;
}


.card-content-side .price{
  font-size: 18px;
  color: #EA544E;
  font-weight: 500;
}
.card-content-side .price{

}



.card-markers{
  margin: 5px -5px;
}
.card-markers>*{
  margin: 5px 5px;
}
.card-markers .marker{

}




.card-actions{
}
.card-actions button{
  position: relative;
  padding: 10px;
  color: #2466BC;
}
.card-actions button:hover,
.card-actions button:active{
  background: #F1F6FD;
  z-index: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.card-actions button>*{
  margin: 0 5px;
}
.card-actions button *[class^="icon-"]{

}
.card-actions button.off{
  color: #C1272D;
}



.card.disabled .card-main{
  opacity: 0.7;
}
.card.disabled .card-bottom{
  background: #ccc;
}

.card-tip{
  position: absolute;
  top: 20px;
  left:-10px;
  padding: 5px 10px;
  background: #999;
  color:#fff;
  text-transform: uppercase;
  z-index: 2;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}
.card-tip span{
  font-size: 13px;
  display: block;
}
.card-tip.huge{
  font-size: 28px;
  font-weight: bold;
}
.card-tip.red{
  background: #EA544E;
}
.card-tip.orange{
  background: #FBB03B;
}




@media screen and (max-width:767px){
  .card-content{
    padding: 5px 10px;
  }
  .card-content-box{
    position: static;
  }
  .card-main{
    min-height: 170px;
  }
  .card-content-title .favorite-btn{
    position: absolute;
    bottom: 12px;
    left: 5px;
  }
  .card-content-bottom-price{
    flex-direction: row-reverse;
    display: block;
    margin-right:0;
  }
  .card-content-bottom-price>*{
    display: inline;
    margin: 0;
    /* float: right; */
  }
  .card-content-bottom-rating{
    position: absolute;
    bottom: 45px;
    left: 0;
    margin: 0 8px;
  }
  .card-content-bottom-price .remark{
    float: right;
    margin-left: 5px;
  }
  .card-content-bottom .price{
    display: inline;
    font-size: 16px;
  }
  .card-content-bottom-more{
    padding: 0;
    margin-right:0;
    margin-left:0;
    flex: 1;
    text-align: right;
  }
  .card-content-bottom-more .btn{
    background: none;
    color: #2466BC;
    font-size: 20px;
    padding:5px 10px;
  }
  .card-content-side{
    position: absolute;
    left: 10px;
    top: 120px;
    max-width: 90px;
  }
  .card-actions button>*{
    display: none;
  }
  .card-actions button *[class^="icon-"]{
    display: block;
    font-size: 16px;
  }
  .offer-list .card-list .card-main{
    min-height: 200px;
  }
  .card-tip.huge{
    font-size: 21px;
  }
}
@media screen and (min-width:768px){

  .card{
    font-size: 14px;
  }
  .card-image{
    width: 200px;
    height: auto;
    bottom: 0;
  }


  .card-gallery{
    width: 200px;
    padding: 6px;
    padding-bottom: 6px;
    padding-right: 0;
  }
  .card-gallery-img.small{
    flex: 1 0 20%;
    width: 30px;
    height: 40px;
    margin: 2px;
    display: block;
  }
  .card-gallery-img.main{
    flex: 1 0 90%;
    height: 190px;
    margin: 2px;
  }
  .card-content{
  }
  .card-content-title{
    font-size: 21px;
  }
}
@media screen and (min-width:768px) and (max-width: 1199px){

  .card-content-side{
    margin: 15px -5px 5px;
  }
  .card-content-side>*{
    display: inline-block;
    margin: 0 5px;
  }
}
@media screen and (min-width:992px) and (max-width: 1199px){
  .card-content-bottom-more{
    flex: 1 0 100%;
    text-align: right;
    padding: 0 18px;
  }

}

@media screen and (min-width:1200px){

  .card-content{
    margin-right: 160px;
  }
  .card-content.full{
    margin-right: 0;
  }
  .card-content-side{
    position: absolute;
    right: -150px;
    top: 0;
    max-width: 140px;
    margin:0;
  }
}
