.card-mini-list-wrapper{
  position: relative;
  margin: 0 -10px;
  padding: 0 10px;
  overflow-y: auto;
}
.card-mini{
  display: flex;
  font-size: 12px;
  line-height: 1.3;
  color: #666;
  background: #fff;
  border: 1px solid #E6E6E6;
}
.card-mini+.card-mini{
  margin-top: 10px;
}
.card-mini.active{
  box-shadow: 0 0 0px 2px #ea544e;
}
.card-mini>*{
  position: relative;
  padding: 8px;
  box-sizing: border-box;
}

.card-mini-left{
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  padding-right: 4px;
}
.card-mini-right{
  flex: 1 1 70%;
  padding-bottom: 45px;
}

.card-mini-image{
  max-width: 100%;
  display: block;
  flex: 1 0 70%;
  background-position: center;
  background-size: cover;
}


.card-mini-left .rating,
.card-mini-left .rating-stars{
  margin-top:5px;
}


.card-mini-title{
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}
.card-mini-text{

}


.card-mini-actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}


.card-mini-price{

}
.card-mini-price strong{
  display: block;
  color: #EA544E;
  font-size: 16px;
  font-weight: 500;
  line-height: 12px;
}
.card-mini-price span{

}
.card-mini .favorite-btn{
  font-size: 18px;
}


.card-mini-slide{
  display: none;
}

.card-mini-list.sliding{
  transition: transform 1s ease;
  transform: translateX(-18%);
}


@media screen and (max-width:991px){

  .map-offers .card-mini-list-wrapper{
    overflow: hidden;
    margin:0;
    padding: 0;
  }
  .map-offers .card-mini-list{
    display: flex;
    align-items: stretch;
    margin: 0 -10px;
    padding: 0;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .card-mini{
    display: flex;
    flex: 0 0 380px;
  }
  .card-mini,
  .card-mini+.card-mini{
    margin: 2px 8px;
    margin-left: 2px;
  }

  .card-mini-list:before,
  .card-mini-list:after{
    content: '';
    display: block;
    flex: 0 0 100px;
    width: 100px;
  }

  .card-mini-slide{
    display: block;
    position: absolute;
    top: 2px;
    bottom: 2px;
    width: 60px;
    text-align: center;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.56);
  }
  .card-mini-slide.prev{
    left: -10px;
    padding-right: 20px;
    background-image: linear-gradient(to right, rgba(0,0,0,.5), rgba(0,0,0,0));
  }
  .card-mini-slide.next{
    right: -10px;
    padding-left: 20px;
    background-image: linear-gradient(to left, rgba(0,0,0,.5), rgba(0,0,0,0));
  }

  .card-mini-slide:hover,
  .card-mini-slide:active{
    color: #000;
  }



}


@media screen and (max-width:767px){

}


@media screen and (max-width:419px){
  .card-mini-slide{
    display: none;
  }
  .card-mini{
    display: flex;
    flex: 0 0 300px;
  }
}
