
.cart-total{
  margin: 40px 0;
  margin-left: auto;
  width: 230px;
  text-align: right;
}
.cart-total-row{
  display: flex;
}
.cart-total-label{
  color: #666;
  flex: 1 0 100px;
}
.cart-total-value{
  flex: 0 0 100px;
}


.cart-total-row.main{
  margin: 20px 0;
  align-items: flex-end;
}
.cart-total-row.main .cart-total-label{
  font-size: 16px;
  color: #000;
}
.cart-total-row.main .cart-total-value{
  font-size: 21px;
  font-weight: bold;
}







@media screen and (min-width: 768px){
  .cart .steps {
    margin: 20px 0;
  }
}

@media screen and (max-width:767px){
  .cart-total{
    text-align: left;
    margin:20px 0;
  }
  .cart-total-row.main{
    margin:10px 0;
  }
}
