.cart-table{
margin: 20px 0;
}



.cart-table-item{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background: #fff;
  align-items: stretch;
  padding-right: 60px;
  border: 1px solid #E6E6E6;
  margin: 10px 0;
}

.cart-table-item-close{
  position: absolute;
  top: 13px;
  right: 20px;
  color: #C1272D;
  padding: 0;
}
.cart-table-item-close:hover,
.cart-table-item-close:active{
  color:#000;
}


.cart-table-top{
  display: flex;
  align-items: flex-start;
  flex: 0 0 36%;
}
.cart-table-img{
  flex: 0 0 25%;
  height: 100px;
  background-size: cover;
  background-position: center;
}
.cart-table-name{
  font-size: 21px;
  flex: 1 0 70%;
  margin-left: 10px;
  line-height: 1.3;
}



.cart-table-info{
  flex: 1 0 60%;
}
.cart-table-row{
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 100%;
  align-items: center;
  margin: 2px 0;
  padding: 2px 0;
  /* background: #eee; */
  border-radius: 3px;
}
.cart-table-row.headers{
  color:#666;
  margin:0;
}
.cart-table-row>*{

}
.cart-table-row.main{

padding-bottom: 10px;
}
.cart-table-row-title{

}


.cart-table-row-title,
.cart-table-date{
  flex: 0 0 55%;
  padding: 0 5px 0 0;
}

.cart-table-date{

}
.cart-table-date>*{
  display: block;
}




.cart-table-row-params{
  display: flex;
  flex: 0 0 45%;
  align-items: center;
  justify-content: space-between;
}
.cart-table-row-params>*{
  padding: 0 5px;
}
.cart-table-price{

}
.cart-table-count{

flex: 0 0 100px;
}
.cart-table-sum{

}





.cart-table-services{
  display: flex;
  flex-wrap: wrap;

}
.cart-table-services-title{
  flex: 0 0 100%
}



.cart-table-info-show{
margin: 10px 0 0;
}
.cart-table-info-show>*{padding: 0;}



.cart-table-total{
  flex: 0 0 100%;
  padding-top: 10px;
  padding: 10px 5px 0;
  margin-top: 10px;
  border-top: 1px solid #E6E6E6;
  text-align: right;
}
.cart-table-total strong{
  margin-left:5px;
}



@media screen and (max-width:991px){
  .cart-table-item{
    padding:0;
  }
  .cart-table-top{
    flex: 0 0 100%;
    min-height: 60px;
    border-bottom: 1px solid #E6E6E6;
  }
  .cart-table-name{
    padding: 5px 50px 5px 10px;
    align-self: center;
  }
  .cart-table-img{
    flex: 0 0 100px;
    height: 100%;
  }

  .cart-table-info{
    padding:10px;
  }
  .cart-table-date{

  }

  .cart-table-row-title{

  }
  .cart-table-item-close{
    top: 20px;
  }
  .cart-table-total{
    padding: 15px 10px;
    margin-top: 5px;
    text-align: left;
  }
}



@media screen and (max-width:767px){
  .cart-table-row .visible-xs{
    color: #666;
  }
  .cart-table-row,
  .cart-table-row-params{
    align-items: flex-start;
  }
  .cart-table-row{
    margin: 10px 0 15px;
  }
  .cart-table-row-params{
    margin:5px -5px;
  }
  .cart-table-date,
  .cart-table-row-title{
    flex: 0 0 100%;
  }
  .cart-table-row-params>*>*{
    display: block;
    height: 30px;
    line-height: 30px;
  }
  .cart-table-row-params>*>.visible-xs{
    height: auto;
  }
  .cart-table-date>*{
    display: inline;
  }
  .cart-table-row.main{
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: 15px;
  }
  .cart-table-services-title{
  margin: 5px 0;
  }
  .cart-table-info-show>*{
    font-size: 12px;
  }
}
