.cart-finish-table{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  line-height: 1.3;
}

.cart-finish-table th,
.cart-finish-table td{
  text-align: left;
}

.cart-finish-table thead th{
  font-weight: normal;
  color:#666;
  padding: 0 10px;
  line-height: 1.3;
  vertical-align: bottom;
}



.cart-finish-table tbody{

}
.cart-finish-table tbody tr{}

.cart-finish-table td{
  vertical-align: top;
  padding: 10px;
  background: #fff;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}
.cart-finish-table-date{
  border-left: 1px solid #E6E6E6;
}
.cart-finish-table-extra{
  border-right: 1px solid #E6E6E6;
}


.cart-finish-table tbody .visible-xs-inline{
  color: #666;
}


.cart-finish-table-data{
  width:400px;
}
.cart-finish-table-data-title{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}
.cart-finish-table-data-row{
  color: #B3B3B3;
  margin: 2px 0;
  position: relative;
}
.cart-finish-table-data-row>*{
  color:#000;
  margin: 0 3px;
  white-space: nowrap;
  word-break: break-word;
}
.cart-finish-table-data-row>*:first-child{
  margin-left:0;
}
.cart-finish-table-data-row>*:last-child{
  margin-right:0;
}
.cart-finish-table-data-extra{
  margin-top:5px;
}
.cart-finish-table-data-extra .cart-finish-table-data-row{
  padding-left: 10px;
}
.cart-finish-table-data-extra .red{
  color: #EA544E;
  margin-right:0;
  position: absolute;
  left:0;
  top:0;
}


.cart-finish-table-sum strong{
  font-size: 21px;
}



td.cart-finish-table-extra{
  padding-right:0;
  white-space: nowrap;
}
.cart-finish-table-extra>*{
  vertical-align: top;
}
.cart-finish-table-extra strong{
  font-size: 21px;
}
.cart-finish-table-extra-qr{
  display: inline-block;
  margin: 4px 15px 0;
  outline: none;
}
.cart-finish-table-extra-qr img{
  display:block;
}
.cart-finish-table-extra-qr:hover,
.cart-finish-table-extra-qr:active{
  text-decoration:none;
  cursor: zoom-in;
}

.cart-finish-table-extra .dropdown-toggle{
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #000;
}
.cart-finish-table-extra .dropdown-toggle span{
  line-height:30px;
}
.cart-finish-table-extra .dropdown-toggle:hover,
.cart-finish-table-extra .dropdown-toggle:active{
  color: #2466BC;
}


@media screen and (max-width:991px){
  .cart-finish-table .cart-finish-table-data{
    width: 300px;
  }
}



@media screen and (max-width:767px){
  .cart-finish-table thead{
    display: none;
  }
  .cart-finish-table,
  .cart-finish-table tbody,
  .cart-finish-table tbody tr,
  .cart-finish-table tbody td{
    display: block;
  }
  .cart-finish-table tbody tr{
    margin: 10px 0;
    border: 1px solid #E6E6E6;
    background: #fff;
  }
  .cart-finish-table td{
    border:none;
    padding: 10px 0;
    margin: 0 10px;
  }
  .cart-finish-table-data-title{
    font-size: 14px;
    margin-bottom: 8px;
  }
  .cart-finish-table .cart-finish-table-date{
    border:none;
    border-bottom: 1px solid #E6E6E6;
  }
  .cart-finish-table-data-extra{
    margin-top: 8px;
  }
  .cart-finish-table-date .grey{
    color:#000;
  }
  .cart-finish-table .cart-finish-table-sum{
    padding-top:0;
  }
  .cart-finish-table-sum strong{
    font-size: 16px;
  }
  .cart-finish-table .cart-finish-table-extra{
    border:none;
    border-top: 1px solid #E6E6E6;
  }
  .cart-finish-table-extra>*{
    vertical-align: middle;
  }
  .cart-finish-table-extra>strong{
    font-size: 16px;
  }
  .cart-finish-table-extra-qr{
    margin:0 15px;
  }
  .cart-finish-table-extra .dropdown-container{
    margin:0;
    float:right;
  }
  .cart-finish-table-extra .dropdown-toggle{
    font-size: 20px;
  }
  .cart-finish-table .visible-xs-inline{
    margin-right:5px;
  }





}
