.cart-empty{
  color:#666;
  text-align: center;
  font-size: 21px;
  line-height: 1.3;
  padding:20px 0;
  margin: 0 auto;
  max-width: 340px;
}
.cart-empty svg{
  max-width: 100%;
}
.cart-empty-message{
  margin:40px 0 20px;
}
.cart-empty-hint{
  padding: 0 0 10px;
}





@media screen and (max-width:767px){
  .cart-empty{
    font-size: 14px;
  }
  .cart-empty-search{
    margin:0 -10px;
  }
}
