@media screen and (max-width:991px){
  .cart-order-wrapper{
    flex-wrap: wrap;
  }
}



@media screen and (max-width:767px){
  .cart-order-wrapper{
    flex-wrap: wrap;
  }
  .cart-order{
    flex-wrap: wrap;
  }
  .cart-order-section{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .cart-order-section-data{
    padding:0;
  }
  .cart-order-section + .cart-order-section{
    border: none;
    border-top: 1px solid #E6E6E6;
  }
  .cart-order-title-num{
    margin-right: 10px;
  }
  .cart-order-title-text{
    font-size: 16px;
  }
}
