.cart-order-wrapper{
  display: flex;
  align-items: flex-start;
  margin: 30px 0;
}

.cart-order-top,
.cart-order{
  background: #fff;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}


.cart-order{
  display: flex;
}
.cart-order-section{
  padding: 20px;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
}
.cart-order-section + .cart-order-section{
  border-left:1px solid #E6E6E6;
}
.cart-order-section.disabled:before{
  content: '';
  display: block;
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background: rgba(255, 255, 255, 0.5);
}

.cart-order .form-row{
  margin: 20px 0;
}


.cart-order-title{
  display: flex;
  align-items: center;
}
.cart-order-title-num{
  background: #C0D8FA;
  color:#fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  width: 24px;
  text-align: center;
  margin-right:15px;
  border-radius: 50%;
}
.cart-order-title-text{
  font-size: 21px;
}



.cart-order-section-data{
  padding: 10px;
}


.cart-order-section-comment{

}
.cart-order-section-comment .btn{

}
.cart-order-section-comment textarea{
  min-height: 100px;
  max-width: 100%;
  margin-top: 5px;
}


.cart-order-section-hint{
  font-size: 12px;
  background: #F2F2F2;
  padding: 10px 25px;
  color: #666;
}
.cart-order-section-conf{
  color: #666;
}
.cart-order-section-conf .btn{
  margin-left: 23px;
}


.cart-order-payment-main{
  margin: 20px 0;
}
.cart-order-payment-main-img{
  margin: 10px 0;
}
.cart-order-payment-main-description{
  font-size: 12px;
  color: #666;
}
.cart-order-payment-list{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 15px -5px;
}
.cart-order-payment-list-img{
  display: flex;
  align-items: center;
  margin: 5px 5px;
  padding: 5px;
  border: 1px solid #E6E6E6;
}
.cart-order-payment-list-img img{

}


.cart-order-submit{
  margin: 10px 0;
  padding: 16px 40px;
}
