.cart-order-top{
  display: flex;
  flex: 0 0 240px;
  flex-wrap: wrap;
  justify-self: flex-end;
  order: 2;
  margin-left: 30px;
  padding: 10px 20px;
}
.cart-order-top>*{
  flex: 1 0 auto;
  padding: 10px 0;
}
.cart-order-top>* span{

}
.cart-order-top>* .label{
  width:100px;
}
.cart-order-top-count{
  flex: 0 0 100%;
  border-bottom: 1px solid #E6E6E6;
  font-size: 18px;
  padding: 10px 0 15px;
}
.cart-order-top-count span{
  margin-right:3px;
}
.cart-order-top-subtotal{padding: 15px 0 5px;}
.cart-order-top-subtotal>*{
  display: flex;
}
.cart-order-top-subtotal>*+*{
  margin-top:5px;
}
.cart-order-top-subtotal span{

}
.cart-order-top-subtotal .label{
  flex:1;
  color: #666;
}
.cart-order-top-total{
  display: flex;
  align-items: flex-end;
}
.cart-order-top-total span{font-size: 21px;}
.cart-order-top-total .label{
  flex:1;
  font-size: 16px;
}






@media screen and (max-width:991px) and (min-width: 768px){
  .cart-order-top{
    flex: 0 0 100%;
    order:0;
    margin: 0 0 10px;
    padding: 5px 0;
    align-items: center;
  }
  .cart-order-top>*{
    flex: 0 0 33%;
    border:none;
    padding: 5px 20px;
  }
  .cart-order-top-count{
    border-right: 1px solid #E6E6E6;
  }
  .cart-order-top-total{
    align-self: flex-end;
  }
  .cart-order-top-subtotal>*+*{
    margin: 0;
  }
}





@media screen and (max-width:767px){
  .cart-order-top{
    flex: 0 0 100%;
    order:0;
    margin: 0 0 10px;
    padding: 10px 20px;
    align-items: center;
  }
  .cart-order-top-count{
    padding:5px 0 10px;
    font-size: 16px;
  }
  .cart-order-top>*{
    flex: 0 0 100%;
  }
  .cart-order-top-total{
    padding:0 0 5px;
  }
}
