.cart-finish{
  max-width: 880px;
  margin: 0 auto;
}

.cart-finish-congrats{
  text-align: center;
  padding:40px 0;
}
.cart-finish-congrats-img{
  width: 250px;
  height: 250px;
}
.cart-finish-congrats-title{
  color: #2466BC;
}
.cart-finish-congrats-text{
  color: #666;
}
