.cart-top{
  text-align: right;
  margin: 20px 0;
}


.cart-top-clear{
  padding:10px;
  margin-right: 40px;
}


.cart-top-promo{

}
.cart-top-promo{

}
.cart-top-promo-dropdown.dropdown-content{
  padding:10px;
}
.dropdown-container.open .cart-top-promo-dropdown{
  display: flex;
}
.cart-top-promo-dropdown.dropdown-content input{
  min-width:150px;
  margin-right:10px;
}


@media screen and (max-width:767px){

  .cart-top-clear{
    margin:0;
  }

  .cart-top .dropdown-container{
    float:left;
  }
}
