
.dropdown-empty-cart{
  float:right;
  padding:0;
}
.dropdown-empty-cart .dropdown-content{
  width: 260px;
  margin-left:-130px;
  left: 50%;
  text-align:center;
  padding:20px;
}
.dropdown-empty-cart .dropdown-content svg{
  height:110px;
  width: 130px;
  display: block;
  margin: 0 auto 10px;
}
.dropdown-empty-cart .dropdown-content span{
  display:block;
  line-height: 1.3;
  margin: 20px 0 10px;
}

@media screen and (max-width:991px){
  .dropdown-empty-cart{
    float: none;
    width: 100%;
  }
  .dropdown-empty-cart.open .dropdown-toggle{
    background: #F2F2F2;
  }
}
