.cats{
  background: #2466BC;
  padding: 5px 0;
}
.cats-list{
  margin: 0 -3px;
  overflow: hidden;
}
.cats-item{
  display: block;
  float:left;
  width: 50%;
  text-align: center;
  padding: 20px;
  padding-bottom: 0px;
  border: 3px solid;
  box-sizing: border-box;
  background-color: #5085C9;
  transition: all .3s ease;
}
.cats-item:hover,
.cats-item:active{
  transition: background-color .3s;
  background-color: #ea544e;
}
.cats-item-image{
  width: 100%;
  height: 90px;
}
.cats-item-title{
  padding:5px 0;
  min-height: 55px;
}
.cats-item-title h3{
  display: inline-block;
  font-size: 18px;
  color:#fff;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  margin:0;
  vertical-align: middle;
}
.cats-item-title:before{
  content: "";
  display: inline-block;
  height: 55px;
  vertical-align: middle;
}

.cats-btns{
  padding: 20px 0 40px;
  text-align: center;
}
.cats-all{
  font-size: 16px;
  line-height: 2.2;
  display: block;
  border: 2px solid #fff;
  width: auto;
  padding:0 30px;
  letter-spacing: 1px;
}
.cats-all:hover,
.cats-all:active{

}


@media (min-width: 768px){
  .cats-item{
    width: 25%;
    padding: 15px;
    padding-bottom: 0px;
    border: 3px solid;
  }
  .cats-item-title,
  .cats-item-title:before{
    min-height: 70px;
  }
  .cats-item-title h3{
    font-size: 22px;
  }
  .cats-item-image{
  }
  .cats-btns{
    padding: 30px 0 50px;
  }
  .cats-all{
    display:inline-block;
    font-size: 21px;
  }
}

@media (min-width: 992px){
  .cats-item{
    padding: 40px 30px;
    padding-bottom: 0px;
  }
  .cats-item-title,
  .cats-item-title:before{
    min-height: 90px;
  }
  .cats-item-title h3{
    font-size: 28px;
  }
  .cats-btns{
    padding: 40px 0 60px;
  }
  .cats-all{
    font-size: 24px;
  }
  .cats-item-image{
    height: 120px;
}
}
@media (min-width: 1200px){
  .cats-item-title h3{
    font-size: 32px;
  }
  .cats-item-title,
  .cats-item-title:before{
    min-height: 100px;
  }
  .cats-item-image{}

}
