.cover-item{
  position: relative;
  display: block;
  transition: box-shadow 0.5s ease, z-index 0.1s step-end;
  z-index:0;
  color: #333;
}
.cover-item:hover{
  box-shadow: 0 0 0px 3px #ea544e;
  transition:box-shadow 0.1s ease, z-index 0s step-start;
  z-index:1;
}
.cover-item-title{
  background-color: #2466BC;
  color: #fff;
  padding:10px;
  transition: background-color 0.5s ease
}
.cover-item:hover .cover-item-title{
  background-color: #ea544e;
  transition:background-color 0.1s ease;
}
.cover-item-bg{
  height: 110px;
  background-position: center;
  background-size: cover;
}
.cover-item-title h3{
  font-size: 32px;
  font-weight: bold;
  line-height: 1.3;
  text-transform: uppercase;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
.cover-item-title p{
  margin:0;
}
.cover-item-text{
  background: rgba(255, 255, 255, 0.89);
  padding:10px;
}



@media (min-width: 768px){
  .cover-item-bg{
    height: 300px;
  }
  .cover-item-title{
    width: 322px;
    position: absolute;
    top: 20px;
    right: 0;
    padding: 15px 10px 20px 30px;
  }
  .cover-item-title:after{
    content: "";
    display: block;
    position: absolute;
    height:9px;
    bottom:-9px;
    left:0;
    right:0;
    background: rgba(255,255,255,0.6);
  }
  .cover-item-title h3{
    font-size: 42px;
  }
  .cover-item-count{
  font-size: 21px;
  }
  .cover-item-text{
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    min-height: 70px;
    padding: 10px 20px;
    font-size: 16px;
  }


}




@media (min-width: 992px){
  .cover-item-title{
    right:-10px;
  }

}
