.header-masthead{
  text-align: right;
  font-size: 10px;
  color: #666;
  background: #f2f2f2;
  border-bottom: 1px solid #ccc;
}

.header-masthead .dropdown-container{
  text-align: left;
}

.header-masthead .dropdown-toggle{
  position: relative;
  border:none;
  background: none;
  padding:0 5px 0 10px;
  margin:0;
  outline:none;
  line-height: 25px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: none;
  color: #666;
}
.header-masthead .dropdown-content{
  width: 180px;
  min-width: 100%;
}


/*location*/
.select-location{
  float:left;
  position: static;
}
.select-location .dropdown-content{
  padding: 5px 20px 20px;
  left: 10px;
  right: 10px;
  min-width: 0;
  width: auto;
  overflow-y: auto;
}
.select-location .dropdown-content:before{
  left: 50px;
}
.select-location .dropdown-content-list{
  margin: 15px 0;
  max-height: 150px;
  overflow-y: auto;
}
.select-location .dropdown-content h3{
  margin-left: 5px;
  margin-right: 5px;
}
.select-location .dropdown-content-list{
  font-size: 16px;
}
.select-location-city{
  border-bottom: 1px solid #ddd;
}
.select-location .dropdown-content-list a{
  padding-left: 5px;
  padding-right: 5px;
  color: #333;
}
.select-location-submit{
  display: block;
  margin-top: 10px;
  float: right;
  padding: 10px 30px;
  letter-spacing: 1px;
}


/*currency*/

.select-currency .dropdown-content{
  left: 50%;
  margin-left: -90px;
}
.select-currency .dropdown-content-list a span{

}
.select-currency .dropdown-toggle{

}
.select-currency .dropdown-content .currence-symbol{
  font-size: 16px;
  color:#333;
  display: inline-block;
  width: 12px;
}
.select-currency .dropdown-toggle .currence-symbol{
  padding: 3px 6px;
  color:#fff;
  background: #666;
  border-radius: 20px;
}


/*langs*/
.select-lang{}
.select-lang-img{
  height: 9px;
  width:16px;
  border: 1px solid #ccc;
  box-sizing: content-box;
  margin-right: 5px;
}

@media (max-width: 767px) {
/*  .header-masthead .select-location .dropdown-content{
    left:0;
    right: auto;
  }*/
/*  .header-masthead .select-currency .dropdown-content{
    left:auto;
    right: 0;
  }*/
}

@media (min-width: 768px) {
  .header-masthead{
    font-size: 12px;
  }
  .header-masthead .dropdown-toggle{
    padding:0 10px 0 20px;
    line-height: 32px;
  }
  .select-location{
    float:none;
    position: relative;
  }
  .select-location .dropdown-content{
    left:auto;
    min-width: 570px;
  }
}
