.header .dropdown-content{

}
.header .dropdown-content{
  margin-top:0;
}
.header .dropdown-container.open .dropdown-toggle:after{
  bottom: -2px;
}
.header .dropdown-container.open .dropdown-toggle:before{
  bottom: -1px;
}
