.header-bar{
  background: #fff;
  border-bottom: 2px solid #0D3162;
  line-height: 62px;
  text-align: center;
}


.header-logo{
  display:inline-block;
  vertical-align: top;
  width: 122px;
  height: 62px;
  margin: 0;
  padding: 0 15px;
}
.header-logo img{
  width: 100%;
  height: 100%;
}


.header-login,
.header-profile{
  float: right;
  padding: 0 20px;
  margin: 0;
  position: relative;
  text-align: left;
}

.header-login-enter{
  color: #EA544E;
}

.header-profile{
  padding: 0 10px;
  margin: 0 10px;
}
.header-profile-open{
  padding: 0;
  margin: 0;
  position: relative;
}
.header-profile-avatar{
  display: block;
  width: 40px;
  left: 0;
  top: 0;
  bottom: 0;
}
.header-profile-text>*{
  font-size:12px;
  margin-left: 5px;
}
.header-profile-avatar>*{
  max-width: 30px;
  display:inline-block;
  vertical-align:middle;
}
.header-profile-avatar:before{
  content: "";
  display:inline-block;
  vertical-align:middle;
  height:100%;
}
.header-profile .dropdown-content{
  min-width: 200px;
  width: auto;
  max-width: 300px;
}




.collapse {
  display: none;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .35s ease;
  transition: height .35s ease;
}
.collapse.in {
  display: block;
}

.navbar-toggle{
  padding: 0 25px;
  float: left;
  font-size: 12px;
}
.navbar-collapse-item{
  position: relative;
  display:block;
  padding: 0;
  color: #333;
  background: #F2F2F2;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  width: 100%;
}
.navbar-collapse-item:hover,
.navbar-collapse-item:active{
  text-decoration: none;
}
.navbar-collapse-item *[class^="icon"]{
  font-size: 13px;
  margin-right: 5px;
}



@media (min-width:768px){
  .navbar-toggle{
    font-size: 16px;
  }
  .header-login,
  .header-profile{
    font-size: 16px;
  }
  .header-profile{
    padding:0;
    margin: 0 20px;
  }
  .header-profile .dropdown-content{
    min-width: 100%;
  }
  .header-bar{
    line-height: 62px;
  }
  .header-logo{
    width: 146px;
    height: 62px;
  }

  .header-login-enter:hover{
    background-color: #d44c46;
  }
}


@media (min-width:992px){
  .collapse{
    display:block;
  }
  .header-logo{
    float: left;
    height: 72px;
  }
  .header-profile-open{
    padding: 5px 12px 5px 45px;
  }
  .header-login-enter{
    background: #EA544E;
    color:#fff;
    padding: 5px 25px;
    height: 72px;
  }
  .header-profile-avatar{
    position: absolute;
  }
  .navbar-collapse{
    float:right;
  }
  .navbar-collapse-item{
    display:block;
    position: relative;
    float:left;
    padding: 5px 15px 5px;
    margin: 0 10px;
    background: none;
    transition: .3s ease;
    height: 72px;
    border: none;
    width: auto;
  }
  .navbar-collapse-item:after{
    content: "";
    display: block;
    position: absolute;
    left:0;
    right:0;
    bottom: 0px;
    height: 0px;
    background: #EA544E;
  }
  .navbar-collapse-item.active [class^="icon"],
  .navbar-collapse-item:after{
    transition: .2s ease;
  }
  .navbar-collapse-item.active:after,
  .navbar-collapse-item:hover:after{
    height: 5px;
  }
  .navbar-collapse-item.active [class^="icon"],
  .navbar-collapse-item:hover [class^="icon"]{
    color: #EA544E;
  }
}
