.mainpage{
  padding: 10px 0 50px;
  background: #fff;
}
.mainpage-suggest{

}
.mainpage-shares{
}

@media (max-width: 767px){
  .mainpage-suggest{
    padding:0;
  }
}
@media (min-width: 992px){
  .mainpage-suggest{
    float: right;
  }
}
