.page-main{
  background: #F0F3F7;
}

.bg-darkblue.page-main{
  background: linear-gradient(to bottom, rgb(0, 64, 102), rgb(0, 34, 54));
  color:#fff;
}
.bg-darkblue .page-title{
  color:#fff;
}

.page-main.spaced{
  padding: 20px 0;
}

.page-bottom{
  background: #fff;
}

@media screen and (max-width: 991px) {
  .bg-darkblue .slideout-panel{
    background: linear-gradient(to bottom, rgb(0, 64, 102), rgb(0, 34, 54));
  }

}

@media screen and (max-width:767px){

  .page-main.spaced{
    padding: 0 0;
  }
}
