.poster{
  background: url(/src/img/poster.png) no-repeat center center;
  padding: 35px 0;
}

.poster-info{
  padding: 20px;
  background: #fff;
  background: rgba(255,255,255, .85);
}
.poster-title{
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 20px;
}
.poster-text{
  font-size: 12px;
}


@media (min-width: 768px){
  .poster-title{
    font-size: 28px;
    margin: 0 0 20px;
  }
  .poster-text{
    font-size: 18px;
  }
}
