.search-form{
  background: #2466BC;
  color:#fff;
  padding: 23px;
  font-size: 14px;
}
.search-form-title,
h3.search-form-title{
  margin: 0 0 0px;
  font-weight: normal;
}
.search-form label{
  display:block;
  margin-bottom: 5px;
}
.search-form-submit-container{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 245px;
}
.search-form-submit{
  background: #EA544E;
  display: block;
  vertical-align: top;
  padding: 0 10px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.search-form input,
.search-form textarea,
.search-form .selectize-input{
  border:none;
}


@media (min-width: 768px){
  .search-form-top .form-group{
    display:inline-block;
    width: 48%;
    float: left;
  }
  .search-form-top .form-group+.form-group{
    margin-left: 4%;
  }
  .search-form-submit-container{
    left: 52%;
  }
  .search-form-submit{
    font-size: 21px;
  }
}
@media (min-width: 992px){
  .search-form-top .form-group{
    display:block;
    margin:15px 0 0;
    width: 100%;
    float: none;
  }
  .search-form-top .form-group+.form-group{
    margin-left: 0;
  }
  .search-form-submit-container{
    position: relative;
    top:0;
    bottom: 0;
    left:0;
    right:0;
  }
  .search-form-submit{
    margin-top: 23px;
    padding: 10px 10px;
    font-size: 24px;
    height: auto;
    line-height: 1.5;
  }
}


@media screen and (max-width:419px){
  .search-form-submit-container{
    position: relative;
    left: 0;
    margin-top: 10px;
  }
}
