.side-menu{
  padding:10px 0;
}

.side-menu-list{
  padding:0;
  margin: 0;
  list-style: none;
  text-align: left;
}
.side-menu-list ul{
  padding:0;
  margin: 0;
  list-style: none;
}
.side-menu-list li{
  list-style: none;

}
.side-menu-list li ul{
  padding:0;
}
.side-menu-list li li{

}
.side-menu-list a{
  position: relative;
  display: block;
  padding: 10px 10px;
  padding-left: 40px;
  line-height: 20px;
  border-left: 5px solid transparent;
  font-size: 14px;
}
.side-menu-list a:hover{
  border-color: #2466BC;
  text-decoration: none;
  color: #2466BC;
}
.side-menu-list .active a{
  background: #2466BC;
  color: #fff;
}
.side-menu-list li li a{
  padding-left: 60px;
}
.side-menu-list li li a *[class^='icon']{
  left: 28px;
}
.side-menu-list li *[class^='icon']{
  display: inline-block;
  width: 22px;
  text-align: center;
  position: absolute;
  top: 10px;
  left: 10px;
}
.side-menu-list li + li:before,
.side-menu-list li ul:before{
  content: "";
  display: block;
  margin-left: 5px;
  margin-right: 5px;
  height: 1px;
  background: #ccc;
}

.side-menu-list .has-childs ul{
  opacity: 0;
  max-height: 0;
  transition: opacity .3s ease, max-height .3s ease;
}
.side-menu-list .has-childs.open ul{
  opacity: 1;
  max-height: 1000px;
}
.side-menu-list .has-childs.open>a>*[class^='icon']:before{
  content: "\e90d";
}


.side-menu-list .notificated a{
  font-weight: bold;
}
.side-menu-list .notify-count{
  display: inline-block;
  margin-left:10px;
  line-height: 16px;
  width:16px;
  font-weight: normal;
  text-align: center;
  color:#fff;
  background: #EA544E;
  border-radius: 10px;
  font-size: 12px;
}


@media screen and (max-width: 767px) {

}


@media screen and (min-width: 768px) {
  .side-menu-list a{
    font-size: 16px;
  }
  .side-menu-list .notify-count{
    line-height: 20px;
    width:20px;
    font-size: 14px;
  }

}

@media screen and (min-width: 992px) {
  .side-menu{
    background: #F2F2F2;
    border:  1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
    margin-bottom: 60px;
  }
}
