.user-list{
  font-size: 0;
}
.user-list-item{
  margin: 10px 0 20px;
}
.user-list-item:after{
  content: "";
  display: table;
  clear: both;
}
.user-list-item>*{
  display: inline-block;
  vertical-align: middle;
}
.user-list-avatar{
  border-radius: 50%;
  margin-right:20px;
}
.user-list-avatar img{
  border-radius: 50%;
  width: 80px;
  border: 1px solid #ccc;
}
.user-list-content{
  font-size: 12px;
}
.user-list-name{
  font-size: 14px;
  color:#333;
}
.user-list-content>*{
  display: block;
  margin: 0;
  padding: 0;
}
.user-list-content p{

}
.user-list-content .btn{
  margin: 6px 0;
}



@media (min-width: 768px){
  .user-list-avatar img{
    width: 100px;
  }
  .user-list-content{
    font-size: 14px;
  }
  .user-list-name{
    font-size: 16px;
  }
  .user-list-item{
    width: 50%;
    display: inline-block;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .user-list-straight .user-list-item{
    display: block;
    width:100%;
  }

}
