.entry{
  margin: 40px auto;
  max-width: 800px;
}


.entry-top{
  position: relative;
}
.entry-top-title{
  margin: 15px 0 0;
}
.entry-top-trigger{
  position: absolute;
  right:0;
  top: 2px;
  padding: 2px 10px;
  border: 1px solid rgba(36, 102, 188, 0.5);
  border-radius: 3px;
  font-size: 14px;
}
.entry-top-trigger:hover,
.entry-top-trigger:active{
  background: #2466BC;
  text-decoration: none;
  color:#fff;
}


.entry-col{
  border-right: 1px solid #ddd;
  padding-right:50px;
}
.entry-col+.entry-col{
  border-right: none;
  padding-right:15px;
  padding-left:50px;
}
.entry-col-title{
  position: relative;
  text-align: center;
  display: none;
}
.entry-col-title:before{
  content: "";
  display: block;
  position: absolute;
  left:0;
  right:0;
  top: 50%;
  height: 1px;
  background: #ddd;
}
.entry-col-title span{
  position: relative;
  display: inline-block;
  padding:5px 20px;
  background: #F0F3F7;
  color: #666;
  z-index: 1;
}
.entry-social{
  text-align: center;
  margin: 10px 0;
}




@media (max-width: 991px){
  .entry-col{
    padding-right:30px;
  }
  .entry-col+.entry-col{
    padding-left:30px;
  }
}

@media (max-width: 767px){
  .entry-col,
  .entry-col+.entry-col{
    padding: 0 15px;
  }
  .entry-col-title{
    display: block;
  }
}
