.offer .title-box{
  position: relative;
}
.offer .title-box h1{
  float:left;
}



.offer-markers{
  margin-bottom: 10px;
}



.offer-place{
  margin:10px 0 20px;
}



.offer-actions{
  margin:20px 0 10px;
  color: #808080;
}
.offer-actions .rating{
  margin-left:0;
}
.offer-actions-col>*{
  margin: 0 10px;
}
.offer-actions *{
  display: inline-block;
  height: 24px;
  line-height: 24px;
  vertical-align: top;
}
.offer-actions:after{
  content: "";
  display: table;
  clear: both;
}


.offer-ancors{
  margin-bottom: 20px;
}

.offer-slider{
  height: 300px;
}


.offer-description{
  margin: 40px 0;
}
.offer-advantages{
  margin: 20px 0;
}


.offer-tickets{
  margin: 40px 0;
}


@media screen and (max-width:991px){
  .offer .title-box{
    margin-top: 10px;
  }
}
@media screen and (max-width:767px){
  .offer .title-box h1{
    float:none;
  }
  .offer-slider{
    height: 200px;
  }
}
