.selling-table{
  color: #333;
}

.selling-table th,
.selling-table td{

}

.selling-table thead .selling-table-datetime{
  padding-right:30px;
}
.selling-table-datetime .icon-date{
  position: absolute;
  right: 5px;
  bottom: 14px;
  font-size: 20px;
  color: #A7C2E4;
}
.selling-table tbody .selling-table-datetime{

}
.selling-table tbody .visible-xs{
  color: #666;
  font-size: 12px;
  font-weight: normal;
  float: left;
  margin-right: 5px;
}

.selling-table tbody .selling-table-desc{

}
.selling-table tbody .selling-table-desc>*{
  margin: 5px 0;
}
.selling-table-desc-title{
  font-size: 14px;
  line-height: 20px;
}
.selling-table-desc-option{
  position: relative;
  padding-left: 20px;
}
.selling-table-desc-option:before{
  content: "+";
  position: absolute;
  left:5px;
  top: 0;
  color: #EA544E;
}

.selling-table tbody .selling-table-sum{
  font-size: 16px;
  font-weight: bold;
  line-height: 12px;
}

.selling-table tbody .selling-table-customer{
  padding-right: 40px;
  position: relative;
}
.selling-table-delete{
  position: absolute;
  right: 5px;
  top: 8px;
  color: #C1272D;
  padding: 5px;
}
.selling-table-delete:hover,
.selling-table-delete:active{
  color: #2466BC;
}


.selling-table-controls{
  position: relative;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  z-index: 1;
}
.selling-table-controls>th{
  padding: 0;
}
.selling-table-controls .icon-date{
  color: #C0D8FA;
}
button[class^="selling-table-controls-"]{
  position: relative;
  color: #B3B3B3;
  width: 40px;
  height: 40px;
}
button[class^="selling-table-controls-"]>*{
  display: block;
}
button[class^="selling-table-controls-"]:hover,
button[class^="selling-table-controls-"]:active{
  color: #2466BC;
}
button[class^="selling-table-controls-"]:hover:after,
button[class^="selling-table-controls-"]:active:after{
  background: #2466BC;
}
.selling-table-controls-first{
  float:left;
}
.selling-table-controls-prev{
  float:left;
}
.selling-table-controls-next{
  float:right;
}
.selling-table-controls-last{
  float:right;
}
.selling-table-controls-first:after,
.selling-table-controls-last:after{
  content: "";
  position: absolute;
  top: 13px;
  bottom: 13px;
  width: 2px;
  background: #B3B3B3;
}
.selling-table-controls-first:after{
  left: 10px;
}
.selling-table-controls-last:after{
  right: 10px;
}



@media (max-width: 767px){
  .selling-table-time:before{
    content: ", ";
  }
  .selling-table .selling-table-sum:before{
    /*display: none;*/
    border: none;
  }
}



@media (min-width: 768px){
  .r-table.selling-table th,
  .r-table.selling-table td{
    min-width: 115px;
  }
  table.r-table .selling-table-datetime{
    color:#666;
    width: 15%;
    min-width: 135px;
  }
  .selling-table-date{
    display: block;
  }
  table.r-table .selling-table-desc{
    width: 46%;
  }
  table.r-table .selling-table-sum{
    width: 10%;
  }
  table.r-table .selling-table-customer{
    /* width: 24%; */
  }
  .selling-table tbody .selling-table-datetime{

  }

  .selling-table tbody .selling-table-desc{

  }
  .selling-table-desc-title{
    font-size: 16px;
  }

  .selling-table tbody .selling-table-sum{
    font-size: 21px;
    line-height: 1;
  }

  .selling-table tbody .selling-table-customer{

  }
}
