.office-side{
  padding-bottom: 10px;
}
.office-side-card{
  text-align: center;
}
.office-side-avatar{
  display: inline-block;
  margin: 10px 0 20px;
  position: relative;
  width: 147px;
}
.office-side-avatar img{
  display: block;
  margin: 0 auto;
  border-radius: 100px;
  border: 3px solid #B3B3B3;
  width: 100%;
}
.office-side-avatar-change{
  display: block;
  position: absolute;
  bottom: 7px;
  left: 7px;
  width: 30px;
  line-height: 30px;
  background: #fff;
  border-radius: 50%;
  color: #2466BC;
  cursor: pointer;
}
.office-side-avatar-change:after{
  content: "";
  display:block;
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 50%;
  right: 50%;
  transition: all .3s ease;
  border-radius: 50%;
  box-shadow: inset 0 0 0px 3px rgba(179, 179, 179, 0);
}
.office-side-avatar-change:hover:after,
.office-side-avatar-change:active:after{
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: inset 0 0 0px 3px rgb(179, 179, 179);
}
.office-menu{
  background: #F2F2F2;
}


.office-side-btn-add{
  display: block;
  position: relative;
  bottom: 30px;
  padding: 0 20px;
  line-height: 20px;
  color: #808080;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 12px;
  margin-top: 40px;
}
.office-side-btn-add *[class^='icon']{
  margin-right:10px;
  font-size: 120%;
  display: inline-block;
  vertical-align: text-top;
}

.office-side.absolute{
  padding-bottom: 0px;
}
.office-side.absolute .office-side-btn-add{
  position: relative;
  margin-top: 30px;
}
.office-side-btn-add:hover,
.office-side-btn-add:active{
  color: #2466BC;
}


@media screen and (max-width: 767px) {
  .office-side{
    padding-bottom: 0;
  }
  .office-side-btn-add{
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .office-side-avatar-change{
    bottom: 0;
    left: 0;
    width: 40px;
    line-height: 40px;
  }
  .office-side-btn-add{
    font-size: 14px;
  }

}

@media screen and (min-width: 992px) {
  .office-side{
    padding-top: 10px;
  }
  .office-side-btn-add{
    padding: 0 20px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  .office-side-btn-add{
    padding: 0 10px;
  }
}

