.notifications-table{
  margin: 20px 0;
}

.notifications-table tbody{

}
.notifications-table td{
  vertical-align: top;
}



.notifications-table .notifications-table-go{
  padding: 0;
  vertical-align: top;
  overflow: hidden;
  height: 1px;
}
.notifications-table-go>*{
  position: relative;
  height: 100%;
}
.notifications-table-go a{
  position: relative;
  display: block;
  height: 100%;
  padding: 15px 15px;
  padding-left: 12px;
  border-left: 3px solid transparent;
  font-size: 16px;
  text-align: center;
  color: #8EACD8;
  transition: border-color .5s ease;
}

.notifications-table tr:hover .notifications-table-go a {
  border-color: #2466BC;
}
.notifications-table tr:hover .notifications-table-controls{
  color: #2466BC;
}
.notifications-table-go a:hover,
.notifications-table-go a:active{
  color: #2466BC;
  text-decoration: none;
}



.notifications-table-message{
  padding: 10px 0;
}
.unread .notifications-table-message{
  font-weight: bold;
}
.notifications-table-title{
  display: block;
  color:#333;
  margin: 5px 0;
}
.notifications-table-title>span{
  display: inline-block;
  vertical-align: baseline;
  margin-right: 5px;
}
.notifications-table-text{
  display: block;
  color: #808080;
  margin: 5px 0;
}

.notifications-table-extra{
  text-align: right;
  white-space: nowrap;
  padding: 10px 20px;
}
.notifications-table .notifications-table-extra>*{
  display: inline-block;
  margin: 5px 0;
}
.notifications-table-controls{
  padding-left: 10px;
  color: #8EACD8;
}
.notifications-table-controls button{
  margin-left:10px;
}
.notifications-table-controls button:hover,
.notifications-table-controls button:active{
  color: #2466BC;
}
.notifications-table-controls{

}
.notifications-table-controls .check:hover,
.notifications-table-controls .check:active{
  color:#39B54A;
}
.notifications-table-controls .delete:hover,
.notifications-table-controls .delete:active{
  color: #EA544E;
}






.notifications-table tr.unread{
  background: #C0D8FA;
}

.notifications-table .icon-warning{
  font-size: 120%;
  color: #EA544E;
}
.notifications-table .icon-label{
  color: #FBB03B;
}
.notifications-table .notifications-currency{
  display: inline-block;
  padding:0;
  background: #39B54A;
  color:#fff;
  height: 17px;
  line-height: 18px;
  width: 17px;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  vertical-align: top;
}
.notifications-table .notifications-currency>*{
  line-height: 18px;
  font-weight: normal;
}


@media screen and (max-width: 767px){
  .notifications-table{
    margin: 10px -10px;
    line-height: 1.8;
  }
  .notifications-table .notifications-table-extra{
    white-space: normal;
  }
  .notifications-table-extra>*{
    white-space: nowrap;
    display: block;
  }
  .notifications-table-title+.notifications-table-text:before{
    display: none;
  }
  .notifications-table-controls{
    padding:0;
  }
}
