.office{

}

.office-main{
  padding-bottom: 20px;
  color: #666;
}
.office-main .form{
  color: #666;
}
.office-form{

}

@media screen and (min-width: 992px) {
  .office{
    padding-top: 20px;
  }
}
