.icon-bulb{
  color: #FBB03B;
}


.icon-list:before {
    content: "\e914";
}
.icon-answer:before {
    content: "\e92e";
}
.icon-comments:before {
    content: "\e92f";
}
.icon-ex-link:before {
    content: "\e930";
}
.icon-question:before {
    content: "\e931";
}
.icon-zoom:before {
    content: "\e932";
}
.icon-eye:before {
    content: "\e92d";
}
.icon-label:before {
    content: "\e927";
}
.icon-left:before {
    content: "\e928";
}
.icon-ok-light:before {
    content: "\e929";
}
.icon-right:before {
    content: "\e92a";
}
.icon-settings2:before {
    content: "\e92b";
}
.icon-star-hollow:before {
    content: "\e92c";
}
.icon-social-vk:before {
    content: "\e01a";
}
.icon-social-tw:before {
    content: "\e040";
}
.icon-social-fb:before {
    content: "\e041";
}
.icon-social-gp:before {
    content: "\e042";
}
.icon-caret:before {
    content: "\e900";
}
.icon-caret-up:before {
    content: "\e913";
}
.icon-arrow_left:before {
    content: "\e901";
}
.icon-arrow_right:before {
    content: "\e902";
}
.icon-date:before {
    content: "\e903";
}
.icon-heart:before {
    content: "\e904";
}
.icon-heart2:before {
    content: "\e905";
}
.icon-menu:before {
    content: "\e906";
}
.icon-x-small:before {
    content: "\e907";
}
.icon-star:before {
    content: "\e908";
}
.icon-warning:before {
    content: "\e909";
}
.icon-x:before {
    content: "\e90a";
}
.icon-rub:before {
    content: "\e90b";
}
.icon-arrow-down:before {
    content: "\e90c";
}
.icon-arrow-up:before {
    content: "\e90d";
}
.icon-basket:before {
    content: "\e90e";
}
.icon-calc:before {
    content: "\e90f";
}
.icon-coins:before {
    content: "\e910";
}
.icon-drag-hor:before {
    content: "\e911";
}
.icon-graph:before {
    content: "\e912";
}
.icon-miniarrow-down:before {
    content: "\e913";
}
.icon-miniarrow-up:before {
    content: "\e914";
}
.icon-notification:before {
    content: "\e915";
}
.icon-ok:before {
    content: "\e916";
}
.icon-pen:before {
    content: "\e917";
}
.icon-plus:before {
    content: "\e918";
}
.icon-purse:before {
    content: "\e919";
}
.icon-rotate:before {
    content: "\e91a";
}
.icon-bulb:before {
    content: "\e91b";
}
.icon-settings:before {
    content: "\e91c";
}
.icon-tag:before {
    content: "\e91d";
}
.icon-person:before {
    content: "\e91e";
}
.icon-windows:before {
    content: "\e91f";
}
.icon-x-light:before {
    content: "\e920";
}
.icon-spinner:before {
    content: "\e921";
}
.icon-bin:before {
    content: "\e922";
}
.icon-place:before {
    content: "\e923";
}
.icon-play:before {
    content: "\e924";
}
.icon-rupor:before {
    content: "\e925";
}
.icon-ok-min:before {
    content: "\e926";
}

.icon-plus-light,
.icon-minus{
  font-family: 'Roboto', sans-serif;
}
.icon-plus-light:before{
  content: "+";
}
.icon-minus:before{
  content: "−";
}
