
<div class="cart-finish">

  <div class="cart-finish-congrats">
    <svg class="cart-finish-congrats-img">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-img-tickets"></use>
    </svg>
    <h1 class="cart-finish-congrats-title">Новые билеты</h1>
    <div class="cart-finish-congrats-text">
      Вы купили 2 билета. Мы отправили их на вашу электронную почту.<br>
      Вы так же всегда можете их найти в «Моих покупках» в личном профиле.
    </div>
  </div>

  <table class="cart-finish-table">
    <thead>
      <tr>
        <th>Дата и время покупки</th>
        <th>Покупка</th>
        <th>Общая сумма покупки</th>
        <th>Код</th>
      </tr>
    </thead>
    <tbody>


      <tr>
        <td class="cart-finish-table-date">
          <span class="visible-xs-inline">Дата и время покупки:</span>
          <span class="grey">
            18 июня 2016
            <br class="hidden-xs">
            <span class="visible-xs-inline">,</span>
            18:53
          </span>
        </td>
        <td class="cart-finish-table-data">
          <div class="cart-finish-table-data-title">
            Прыжки с парашюта
          </div>
          <div class="cart-finish-table-data-row">
            <strong>22.07.2016</strong> — <strong>10:00</strong> — <strong>2 шт.</strong> — <span>1 100 Р</span>
          </div>
          <div class="cart-finish-table-data-row">
            <strong>22.07.2016</strong> — <strong>10:00</strong> — <strong>2 шт.</strong> — <span>1 100 Р</span>
          </div>
          <div class="cart-finish-table-data-extra">
            <div class="cart-finish-table-data-row">
              <span class="red">+</span>
              <span>Бальзамчик</span> — <span>4 шт.</span> — <span>2 000 Р</span>
            </div>
            <div class="cart-finish-table-data-row">
              <span class="red">+</span>
              <span>Аренда ботинок 1 час</span> — <span>4 шт.</span> — <span>1 800 Р</span>
            </div>
          </div>
        </td>
        <td class="cart-finish-table-sum">
          <span class="visible-xs-inline">Итоговая сумма:</span>
          <strong>5 000 Р</strong>
        </td>
        <td class="cart-finish-table-extra">
          <span class="visible-xs-inline">Код:</span>
          <strong>76DW2</strong>
          <a href="img/examples/noimage.png" class="cart-finish-table-extra-qr">
            <img src="img/examples/qr.png" alt="">
          </a>

          <div class="dropdown-container dropdown-small dropdown-right">
            <button class="dropdown-toggle btn-link" type="button" data-toggle="dropdown" aria-expanded="true">
              <span class="icon-settings2"></span>
            </button>
            <div class="dropdown-content">
              <div class="dropdown-content-list">
                <button><span class="icon-notification"></span>Распечатать</button>
                <button><span class="icon-bin"></span>Удалить</button>
                <a href="">Что-то</a>
                <button>Что-то другое</button>
              </div>
            </div>
          </div>
        </td>
      </tr>

      <tr>
        <td class="cart-finish-table-date">
          <span class="visible-xs-inline">Дата и время покупки:</span>
          <span class="grey">
            18 июня 2016
            <br class="hidden-xs">
            <span class="visible-xs-inline">,</span>
            18:53
          </span>
        </td>
        <td class="cart-finish-table-data">
          <div class="cart-finish-table-data-title">
            Прыжки с парашюта
          </div>
          <div class="cart-finish-table-data-row">
            <strong>22.07.2016</strong> — <strong>10:00</strong> — <strong>2 шт.</strong> — <span>1 100 Р</span>
          </div>
        </td>
        <td class="cart-finish-table-sum">
          <span class="visible-xs-inline">Итоговая сумма:</span>
          <strong>5 000 Р</strong>
        </td>
        <td class="cart-finish-table-extra">
          <span class="visible-xs-inline">Код:</span>
          <strong>76DW2</strong>
          <a href="img/examples/noimage.png" class="cart-finish-table-extra-qr">
            <img src="img/examples/qr.png" alt="">
          </a>

          <div class="dropdown-container dropdown-small dropdown-right">
            <button class="dropdown-toggle btn-link" type="button" data-toggle="dropdown" aria-expanded="true">
              <span class="icon-settings2"></span>
            </button>
            <div class="dropdown-content">
              <div class="dropdown-content-list">
                <button><span class="icon-notification"></span>Распечатать</button>
                <button><span class="icon-bin"></span>Удалить</button>
                <a href="">Что-то</a>
                <button>Что-то другое</button>
              </div>
            </div>
          </div>

        </td>
      </tr>

    </tbody>
  </table>

</div>
