



<div class="steps steps-3">
    <a href="" class="step finished"><span>Ваша корзина</span></a>
    <a href="" class="step active"><span>Подтверждение и оплата</span></a>
    <a href="" class="step"><span>Успешная покупка!</span></a>
</div>



<div class="cart-order-wrapper">

  <div class="cart-order-top">
    <div class="cart-order-top-count">
      <span>Ваш заказ:</span>
      <strong>2 билета</strong>
    </div>
    <div class="cart-order-top-subtotal">
      <div>
        <span class="label">Итого без скидки:</span>
        <span>7 200 Р</span>
      </div>
      <div>
        <span class="label">Ваша скидка:</span>
        <span>0 Р</span>
      </div>
    </div>
    <div class="cart-order-top-total">
      <span class="label">К оплате:</span>
      <span>7 200 Р</span>
    </div>
  </div>




  <form class="cart-order form form-straight">


    <div class="cart-order-section">

      <div class="cart-order-title">
        <div class="cart-order-title-num">1</div>
        <div class="cart-order-title-text">Личные данные</div>
      </div>

      <div class="cart-order-section-data">

        <div class="form-row-low">
          <div class="form-row-label">
            <label for="name">Ваше имя</label>
          </div>
          <div class="form-row-input">
            <span class="input-confirmed input-full">
              <input type="text" class="input-full confirmed" id="name">
            </span>
          </div>
        </div>

        <div class="form-row-low">
          <div class="form-row-label">
            <label for="email">Эл. почта</label>
          </div>
          <div class="form-row-input">
              <span class="input-error input-full">
                <input type="email" class="input-full" id="email" name="email">
                <span class="input-error-text">
                  Пожалуйста укажите существующую почту.
                </span>
              </span>
          </div>
        </div>

        <div class="form-row-low">
          <div class="form-row-label">
            <label for="tel">Номер телефона</label>
          </div>
          <div class="form-row-input">
            <input type="tel" class="input-xs error" id="tel" name="tel">
          </div>
        </div>


        <div class="form-row cart-order-section-comment">
          <button class="btn btn-dashed show-next">Добавить комментарий</button>
          <div class="show-next-content">
            <textarea class="input-full" placeholder="Ваш комментарий"></textarea>
          </div>
        </div>

        <div class="form-row cart-order-section-hint">
          Для перехода к оплате, пожалуйста, заполните все поля выше и подтвердите Ваше согласие с условиями политики конфиденциальности «Daisy Extreme»
        </div>

        <div class="form-row cart-order-section-conf">
          <label class="checkbox">
            <input type="checkbox" class="input-full error">
            <span>Настоящим подтверждаю, что я ознакомлен
            и согласен с условиями политики
            конфиденциальности.</span>
          </label>
          <button class="btn btn-dashed modal-show" data-toggle="modal" data-target="#modal-confidentional">Узнать больше</button>
        </div>
      </div>
    </div>


    <div class="cart-order-section disabled">

      <div class="cart-order-title">
        <div class="cart-order-title-num">2</div>
        <div class="cart-order-title-text">Онлайн-оплата</div>
      </div>

      <div class="cart-order-section-data">
        <div class="cart-order-payment-main">
          <img src="img/examples/robokassa.jpg" class="cart-order-payment-main-img">
          <div class="cart-order-payment-main-description">
            ROBOKASSA — это сервис, принимающий платежи банковских карт, в любой электронной валюте, с помощью сервисов мобильная коммерция (МТС, Мегафон, Билайн), платежи через интернет-банк ведущих Банков РФ, платежи через банкоматы, через терминалы мгновенной оплаты, а также с помощью приложения для iPhone.
          </div>
        </div>
        <div class="cart-order-payment-list">
          <div class="cart-order-payment-list-img"><img src="img/examples/visa.jpg"></div>
          <div class="cart-order-payment-list-img"><img src="img/examples/mastercard.jpg"></div>
          <div class="cart-order-payment-list-img"><img src="img/examples/yandex.jpg"></div>
          <div class="cart-order-payment-list-img"><img src="img/examples/qiwi.jpg"></div>
        </div>

        <button class="cart-order-submit btn btn-red btn-huge btn-iconed-after">Оплатить <span class="icon-right"></span></button>
      </div>

    </div>


  </form>




  <div class="modal fade" id="modal-confidentional">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Политика конфиденциальности</h4>
          <button type="button" class="close" data-dismiss="modal"><span class="icon-x-light"></span></button>
        </div>
        <div class="modal-body">
          <div class="modal-main text">

            <p>Наши службы можно использовать разными способами – искать и распространять информацию, общаться с людьми, а также создавать новую информацию. Когда вы предоставляете нам данные, например регистрируя аккаунт Google, мы используем их для того, чтобы усовершенствовать свои службы. Благодаря этим данным мы показываем более релевантные результаты поиска и рекламу, способствуем вашему общению и обеспечиваем возможность легко и быстро делиться информацией. В то же время мы хотим, чтобы вы четко представляли себе, как используются ваши данные и каким образом вы можете защитить их конфиденциальность.</p>

            <p>Политика конфиденциальности объясняет:</p>

            <ul>
              <li>какие данные мы собираем и зачем;</li>
              <li>как мы используем собранные данные;</li>
              <li>какие существуют варианты доступа к данным и их обновления.</li>
            </ul>

            <p>Мы постарались изложить все как можно проще, но если вы не знаете, что такое файл cookie, IP-адрес, пиксельный тег или браузер, изучите сначала список основных терминов. Google серьезно относится к конфиденциальности ваших данных, поэтому независимо от того, новичок вы или опытный пользователь, обязательно ознакомьтесь с нашими правилами и при необходимости задайте вопросы.</p>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
