
<div class="steps steps-3">
    <a href="" class="step active"><span>Ваша корзина</span></a>
    <a href="" class="step"><span>Подтверждение и оплата</span></a>
    <a href="" class="step"><span>Успешная покупка!</span></a>
</div>


<div class="cart-top">
  <button class="cart-top-clear btn-text">Очистить корзину</button>
  <div class="dropdown-container dropdown-right dropdown-left-xs dropdown-arrow-right dropdown-arrow-left-xs">
    <button class="dropdown-toggle cart-top-promo btn btn-bordered btn-regular" data-toggle="dropdown" aria-expanded="true">Ввести промокод</button>
    <div class="dropdown-content cart-top-promo-dropdown">
      <input type="text" placeholder="Промокод">
      <button class="btn btn-bordered btn-regular">Добавить</button>
    </div>
  </div>
</div>



<div class="cart-table">

  <div class="cart-table-item">

    <div class="cart-table-top">
      <div class="cart-table-img" style="background-image:url(img/examples/card.png)"></div>
      <a href="" class="cart-table-name">Горнолыжный курорт под Санкт-Петербургом</a>
    </div>

    <div class="cart-table-info">

      <div class="cart-table-row headers hidden-xs">
        <div class="cart-table-row-title">Дата и время:</div>
        <div class="cart-table-row-params">
          <div class="cart-table-price">
            <div class="grey">Цена:</div>
          </div>
          <div class="cart-table-count">
            <div class="grey">Количество:</div>
          </div>
          <div class="cart-table-sum">
            <div class="grey">Сумма:</div>
          </div>
        </div>
      </div>

      <div class="cart-table-row main">
        <div class="cart-table-date">
          <span class="visible-xs-inline">Дата и время:</span>
          <strong>22 июня 2016 в 11:00</strong>
        </div>
        <div class="cart-table-row-params">
          <div class="cart-table-price">
            <div class="visible-xs">Цена:</div>
            <strong>1 200 Р</strong>
          </div>
          <div class="cart-table-count">
            <div class="visible-xs">Количество:</div>
            <input class="spinner-plus" value="2">
          </div>
          <div class="cart-table-sum">
            <div class="visible-xs">Сумма:</div>
            <strong>2 400 Р</strong>
          </div>
        </div>
      </div>

      <div class="cart-table-services">
        <div class="cart-table-services-title grey">Дополнительные услуги</div>

        <div class="cart-table-row">
          <div class="cart-table-row-title">Аренда сноуборда на 1 час</div>
          <div class="cart-table-row-params">
            <div class="cart-table-price">
              <div class="visible-xs">Цена:</div>
              <strong>1 200 Р</strong>
            </div>
            <div class="cart-table-count">
              <div class="visible-xs">Количество:</div>
              <input class="spinner-plus" value="2">
            </div>
            <div class="cart-table-sum">
              <div class="visible-xs">Сумма:</div>
              <strong>2 400 Р</strong>
            </div>
          </div>
        </div>

        <div class="cart-table-row">
          <div class="cart-table-row-title">Аренда сноуборда на 1 час</div>
          <div class="cart-table-row-params">
            <div class="cart-table-price">
              <div class="visible-xs">Цена:</div>
              <strong>1 200 Р</strong>
            </div>
            <div class="cart-table-count">
              <div class="visible-xs">Количество:</div>
              <input class="spinner-plus" value="2">
            </div>
            <div class="cart-table-sum">
              <div class="visible-xs">Сумма:</div>
              <strong>2 400 Р</strong>
            </div>
          </div>
        </div>

      </div>

      <div class="cart-table-info-show">
        <button class="btn btn-text">Показать все доступные допуслуги для этого билета</button>
      </div>

    </div>

    <div class="cart-table-total">
      <span class="grey">Общая сумма за билет:</span>
      <strong>5 200 Р</strong>
    </div>

    <button class="cart-table-item-close"><span class="icon-x-light"></span></button>
  </div>

  <div class="cart-table-item">

    <div class="cart-table-top">
      <div class="cart-table-img" style="background-image:url(img/examples/card.png)"></div>
      <a href="" class="cart-table-name">Горнолыжный курорт под Санкт-Петербургом</a>
    </div>

    <div class="cart-table-info">

      <div class="cart-table-row headers hidden-xs">
        <div class="cart-table-row-title">Дата и время:</div>
        <div class="cart-table-row-params">
          <div class="cart-table-price">
            <div class="grey">Цена:</div>
          </div>
          <div class="cart-table-count">
            <div class="grey">Количество:</div>
          </div>
          <div class="cart-table-sum">
            <div class="grey">Сумма:</div>
          </div>
        </div>
      </div>

      <div class="cart-table-row main">
        <div class="cart-table-date">
          <span class="visible-xs-inline">Дата и время:</span>
          <strong>22 июня 2016 в 11:00</strong>
        </div>
        <div class="cart-table-row-params">
          <div class="cart-table-price">
            <div class="visible-xs">Цена:</div>
            <strong>1 200 Р</strong>
          </div>
          <div class="cart-table-count">
            <div class="visible-xs">Количество:</div>
            <input class="spinner-plus" value="2">
          </div>
          <div class="cart-table-sum">
            <div class="visible-xs">Сумма:</div>
            <strong>2 400 Р</strong>
          </div>
        </div>
      </div>


      <div class="cart-table-info-show">
        <button class="btn btn-text">Показать все доступные допуслуги для этого билета</button>
      </div>

    </div>


    <button class="cart-table-item-close"><span class="icon-x-light"></span></button>
  </div>


</div>



<div class="cart-total">
  <div class="cart-total-row">
    <div class="cart-total-label">Итого без скидки:</div>
    <div class="cart-total-value">7 200 Р</div>
  </div>
  <div class="cart-total-row">
    <div class="cart-total-label">Ваша скидка:</div>
    <div class="cart-total-value">7 200 Р</div>
  </div>
  <div class="cart-total-row main">
    <div class="cart-total-label">Всего:</div>
    <div class="cart-total-value">7 200 Р</div>
  </div>

  <button class="btn btn-red">Оформить заказ</button>
</div>
