<h1 class="page-title">Корзина</h1>

<div class="row">

  <div class="col-md-7">
    <div class="cart-empty">
      <svg>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-img-basket"></use>
      </svg>
      <div class="cart-empty-message">
        Ваша корзина пуста.
      </div>
      <div class="cart-empty-hint">
        Начните поиск интересующего вас
        спортивного мероприятия
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="cart-empty-search">
      <!-- @include ../el/search.html -->
    </div>
  </div>

</div>
