<div class="entry">
  <div class="entry-top">
    <h1 class="page-title page-title-small">Вход</h1>
    <a href="" class="entry-top-trigger">Регистрация</a>
  </div>

  <div class="row">



    <div class="entry-col col-sm-7 col-xs-12">

      <form action="" class="form">

        <div class="form-row row">
          <div class="form-row-label col-sm-3 col-xs-12">
            <label for="">Электронная почта</label>
          </div>
          <div class="form-row-input col-sm-9 col-xs-12">
            <input type="email" class="input-full">
          </div>
        </div>

        <div class="form-row row">
          <div class="form-row-label col-sm-3 col-xs-12">
            <label for="">Пароль</label>
          </div>
          <div class="form-row-input col-sm-9 col-xs-12">

            <div class="iconed-input full">
              <button class="show-pass"><span class="icon-eye"></span></button>
              <input type="password" class="input-full">
            </div>
          </div>
        </div>


        <div class="form-row row">
          <div class="form-row-label col-sm-3 col-xs-12"></div>
          <div class="form-row-input col-sm-9 col-xs-12">
            <label class="checkbox">
              <input type="checkbox">
              <span>Запомнить меня</span>
            </label>
          </div>
        </div>

        <div class="form-row form-submit-row">
            <input type="submit" value="Войти" class="btn btn-red btn-spaced">
        </div>

      </form>

    </div>



    <div class="entry-col col-sm-5 col-xs-12">
      <div class="entry-col-title">
        <span>
          Или войти<br>
          через соцсети
        </span>
      </div>
       <!-- @include entry.soc.col.login.html -->
    </div>



  </div>
</div>
