<div class="entry-social social-btns">
  <button class="btn btn-social social-vk" data-social-name="social-vk">
    <span class="icon-social-vk"></span>
    <span>Регистрация через Вконтакте</span>
  </button>
  <button class="btn btn-social social-gp" data-social-name="social-gp">
    <span class="icon-social-gp"></span>
    <span>Регистрация через Google+</span>
  </button>
  <button class="btn btn-social social-tw" data-social-name="social-tw">
    <span class="icon-social-tw"></span>
    <span>Регистрация через Twitter</span>
  </button>
  <button class="btn btn-social social-fb" data-social-name="social-fb">
    <span class="icon-social-fb"></span>
    <span>Регистрация через Facebook</span>
  </button>
</div>
