<div class="entry">
  <div class="entry-top">
    <h1 class="page-title page-title-small">Регистрация</h1>
    <a href="" class="entry-top-trigger">Вход</a>
  </div>

  <div class="row">



    <div class="entry-col col-sm-7 col-xs-12">

      <form action="" class="form">

        <div class="form-row row">
          <div class="form-row-label col-sm-3 col-xs-12">
            <label for="">Электронная почта</label>
          </div>
          <div class="form-row-input col-sm-9 col-xs-12">
            <input type="email" class="input-full">
          </div>
        </div>

        <div class="form-row row">
          <div class="form-row-label col-sm-3 col-xs-12">
            <label for="">Пароль</label>
          </div>
          <div class="form-row-input col-sm-9 col-xs-12">

            <div class="iconed-input full">
              <button class="show-pass"><span class="icon-eye"></span></button>
              <span class="input-error input-full">
                <input type="password" class="input-full" placeholder="Пароль">
                <span class="input-error-text">
                  Неправильный пароль
                </span>
              </span>
            </div>
            <div class="form-row-tip form-row-tip-under">Пароль должен быть не менее 6 символов и состоять из символов латинского алфавита.</div>
          </div>
        </div>

        <div class="form-row row">
          <div class="form-row-label col-sm-3 col-xs-12">
            <label for="">Имя</label>
          </div>
          <div class="form-row-input col-sm-9 col-xs-12">
            <input type="text" class="input-full">
          </div>
        </div>

        <div class="form-row row">
          <div class="form-row-label col-sm-3 col-xs-12">
            <label for="">Фамилия</label>
          </div>
          <div class="form-row-input col-sm-9 col-xs-12">
            <input type="text" class="input-full">
          </div>
        </div>

        <div class="form-row row">
          <div class="form-row-label col-sm-3 col-xs-12"></div>
          <div class="form-row-input col-sm-9 col-xs-12">
            <label class="checkbox">
              <input type="checkbox">
              <span>Я подтверждаю своё согласие с условиями <a href="">пользовательского соглашения</a></span>
            </label>
            <label class="checkbox">
              <input type="checkbox">
              <span>Я хочу получать <a href="">информационные сообщения</a> от Daisy Extreme</span>
            </label>
          </div>
        </div>

        <div class="form-row form-submit-row">
            <input type="submit" value="Зарегистрироваться" class="btn btn-red btn-spaced">
        </div>

      </form>

    </div>



    <div class="entry-col col-sm-5 col-xs-12">
      <div class="entry-col-title">
        <span>
          Или зарегистрироваться<br>
          через соцсети
        </span>
      </div>
       <!-- @include entry.soc.col.html -->
    </div>



  </div>
</div>
