<h2 class="block-title block-title-white">Виды спорта</h2>

<div class="cats-list">
  <a href="#" class="cats-item">
    <svg class="cats-item-image">
      <use xlink:href="#svg-sport-1"></use>
    </svg>
    <div class="cats-item-title"><h3>ГОРНЫЕ ЛЫЖИ</h3></div>
  </a>
  <a href="#" class="cats-item">
    <svg class="cats-item-image">
      <use xlink:href="#svg-sport-2"></use>
    </svg>
    <div class="cats-item-title"><h3>СНОУБОРД</h3></div>
  </a>
  <a href="#" class="cats-item">
    <svg class="cats-item-image">
      <use xlink:href="#svg-sport-3"></use>
    </svg>
    <div class="cats-item-title"><h3>BMX</h3></div>
  </a>
  <a href="#" class="cats-item">
    <svg class="cats-item-image">
      <use xlink:href="#svg-sport-4"></use>
    </svg>
    <div class="cats-item-title"><h3>ДЕЛЬТАПЛАН</h3></div>
  </a>
  <a href="#" class="cats-item">
    <svg class="cats-item-image">
      <use xlink:href="#svg-sport-1"></use>
    </svg>
    <div class="cats-item-title"><h3>СКЕЙТБОРД</h3></div>
  </a>
  <a href="#" class="cats-item">
    <svg class="cats-item-image">
      <use xlink:href="#svg-sport-2"></use>
    </svg>
    <div class="cats-item-title"><h3>КАТАНИЕ НА ЛОШАДЯХ</h3></div>
  </a>
  <a href="#" class="cats-item">
    <svg class="cats-item-image">
      <use xlink:href="#svg-sport-3"></use>
    </svg>
    <div class="cats-item-title"><h3>АЛЬПИНИЗМ</h3></div>
  </a>
  <a href="#" class="cats-item">
    <svg class="cats-item-image">
      <use xlink:href="#svg-sport-4"></use>
    </svg>
    <div class="cats-item-title"><h3>ДАЙВИНГ</h3></div>
  </a>
</div>

<div class="cats-btns">
  <a href="#" class="btn cats-all">ВСЕ ВИДЫ СПОРТА</a>
</div>
