<div class="row xs-no-gutter">



  <div class="col-md-6 col-lg-7 mainpage-suggest">

    <h2 class="block-title block-title-blue">В вашем регионе</h2>

    <div class="cover-list">
      <a href="#" class="cover-item">
        <div class="cover-item-bg" style="background-image: url(img/examples/region1.jpg)"></div>
        <div class="cover-item-title">
          <h3>Горные лыжи и сноуборд</h3>
          <div class="cover-item-count"><span>4<span> варианта</div>
        </div>
        <div class="cover-item-text">
          Все горнолыжные курорты Петербурга и Ленинградской области!
        </div>
      </a>

      <a href="#" class="cover-item">
        <div class="cover-item-bg" style="background-image: url(img/examples/region2.jpg)"></div>
        <div class="cover-item-title">
          <h3>Аэротруба</h3>
          <div class="cover-item-count"><span>119<span> вариантов</div>
        </div>
        <div class="cover-item-text">
          Больше 200 человек летали на Аэротрубе в Петербурге!
        </div>
      </a>

      <a href="#" class="cover-item">
        <div class="cover-item-bg" style="background-image: url(img/examples/region3.jpg)"></div>
        <div class="cover-item-title">
          <h3>Скейтборд</h3>
          <div class="cover-item-count"><span>1<span> вариант</div>
        </div>
        <div class="cover-item-text">
          Открытые и крытые парки в Петербурге и Ленинградской области.
        </div>
      </a>
    </div>

  </div>



  <div class="col-md-6 col-lg-5 mainpage-shares">

    <h2 class="block-title block-title-blue">Акции и предложения</h2>

    <div class="card-small-list">

      <div class="card-small">
        <a href="#" class="card-small-image" style="background-image: url(img/examples/share1.jpg)"></a>
        <div class="card-small-content">
          <div class="card-small-content-top">
            <a href="#" class="card-small-title">Прыжки с парашютом -20%</a>
            <div class="card-small-text">
              <p class="card-small-company">
                Аэроклуб Sky Jumper
              </p>
              <p class="card-small-location">
                Россия, Санкт-Петербург
              </p>
            </div>
          </div>
          <div class="card-small-actions">
            <div class="card-small-rathing">
              <!-- @include ../el/rating.html -->
            </div>
            <button class="card-small-favorite favorite-btn"></button>
          </div>
        </div>
      </div>

      <div class="card-small">
        <a href="#" class="card-small-image" style="background-image: url(img/examples/share2.jpg)"></a>
        <div class="card-small-content">
          <div class="card-small-content-top">
            <a href="#" class="card-small-title">Месячный абонемент на батуты</a>
            <div class="card-small-text">
              <p class="card-small-company">
                Батутный центр Skylife
              </p>
              <p class="card-small-location">
                Россия, Санкт-Петербург
              </p>
            </div>
          </div>
          <div class="card-small-actions">
            <div class="card-small-rathing">
              <!-- @include ../el/rating.html -->
            </div>
            <button class="card-small-favorite favorite-btn active"></button>
          </div>
        </div>
      </div>

      <div class="card-small">
        <a href="#" class="card-small-image" style="background-image: url(img/examples/share3.jpg)"></a>
        <div class="card-small-content">
          <div class="card-small-content-top">
            <a href="#" class="card-small-title">Скалолазание с инструктором 2490 р.</a>
            <div class="card-small-text">
              <p class="card-small-company">
                ISM
              </p>
              <p class="card-small-location">
                Швейцария, Альпы
              </p>
            </div>
          </div>
          <div class="card-small-actions">
            <div class="card-small-rathing">
              <!-- @include ../el/rating.html -->
            </div>
            <button class="card-small-favorite favorite-btn active"></button>
          </div>
        </div>
      </div>

      <div class="card-small">
        <a href="#" class="card-small-image" style="background-image: url(img/examples/share4.jpg)"></a>
        <div class="card-small-content">
          <div class="card-small-content-top">
            <a href="#" class="card-small-title">Дайвинг в Испании со скидкой</a>
            <div class="card-small-text">
              <p class="card-small-company">
                SP-Diveclub
              </p>
              <p class="card-small-location">
                Испания,  Кабо де Гато
              </p>
            </div>
          </div>
          <div class="card-small-actions">
            <div class="card-small-rathing">
              <!-- @include ../el/rating.html -->
            </div>
            <button class="card-small-favorite favorite-btn"></button>
          </div>
        </div>
      </div>

      <div class="card-small">
        <a href="#" class="card-small-image" style="background-image: url(img/examples/share5.jpg)"></a>
        <div class="card-small-content">
          <div class="card-small-content-top">
            <a href="#" class="card-small-title">Катание на лошадях</a>
            <div class="card-small-text">
              <p class="card-small-company">
                Зобнатица
              </p>
              <p class="card-small-location">
                Сербия, Бачка-Топола
              </p>
            </div>
          </div>
          <div class="card-small-actions">
            <div class="card-small-rathing">
              <!-- @include ../el/rating.html -->
            </div>
            <button class="card-small-favorite favorite-btn"></button>
          </div>
        </div>
      </div>

      <div class="card-small">
        <a href="#" class="card-small-image" style="background-image: url(img/examples/share1.jpg)"></a>
        <div class="card-small-content">
          <div class="card-small-content-top">
            <a href="#" class="card-small-title">European Championships Wörgl чемпионат по рол...</a>
            <div class="card-small-text">
              <p class="card-small-company">
                C.E.C. - Comité Européen de Co...
              </p>
              <p class="card-small-location">
                Франция, Париж
              </p>
            </div>
          </div>
          <div class="card-small-actions">
            <div class="card-small-rathing">
              <!-- @include ../el/rating.html -->
            </div>
            <button class="card-small-favorite favorite-btn"></button>
          </div>
        </div>
      </div>


    </div>

  </div>



</div>
