<div class="row xs-no-gutter">
  <div class="col-md-6 col-lg-5 col-xs-12">
    <!-- @include ../el/search.html -->
  </div>
  <div class="col-md-6 col-lg-7 col-xs-12">
    <div class="poster-info">
      <h1 class="poster-title">Daisy Extreme — новый проект для облегчения бронирования на спортивные развлечения и мероприятия. </h1>
      <div class="poster-text">
        Мы собрали российские и европейские компании в одном сервисе для удобства и экономии вашего времени. Укажите интересующий вас вид спорта, желаемый город и предполагаемую дату, а мы соберём для вас лучшие возможные предложения для комфортного выбора. <br>
        Хорошего отдыха!
      </div>
    </div>
  </div>
</div>
