<ul class="advantages-list">

  <li class="advantages-item">
    <div class="advantages-item-image col-xs-4 col-sm-12">
      <svg>
        <use xlink:href="#svg-advantage-1"></use>
      </svg>
    </div>
    <div class="advantages-item-text col-xs-8 col-sm-12">
      <strong>Все в одном месте</strong> Удобный поиск и сравнение
    </div>
  </li>

  <li class="advantages-item">
    <div class="advantages-item-image col-xs-4 col-sm-12">
      <svg>
        <use xlink:href="#svg-advantage-2"></use>
      </svg>
    </div>
    <div class="advantages-item-text col-xs-8 col-sm-12">
      <strong>Мгновенное бронирование</strong>
    </div>
  </li>

  <li class="advantages-item">
    <div class="advantages-item-image col-xs-4 col-sm-12">
      <svg>
        <use xlink:href="#svg-advantage-3"></use>
      </svg>
    </div>
    <div class="advantages-item-text col-xs-8 col-sm-12">
      <strong>Личный кабинет</strong> Все брони в одном месте
    </div>
  </li>

  <li class="advantages-item">
    <div class="advantages-item-image col-xs-4 col-sm-12">
      <svg>
        <use xlink:href="#svg-advantage-4"></use>
      </svg>
    </div>
    <div class="advantages-item-text col-xs-8 col-sm-12">
      <strong>Акции и предложения</strong> Будьте в курсе всех новостей
    </div>
  </li>

  <li class="advantages-item">
    <div class="advantages-item-image col-xs-4 col-sm-12">
      <svg>
        <use xlink:href="#svg-advantage-5"></use>
      </svg>
    </div>
    <div class="advantages-item-text col-xs-8 col-sm-12">
      <strong>Мобильная версия</strong> Удобно для смартфонов.
    </div>
  </li>

</ul>
