<h1 class="page-title">Горные лыжи, сноубординг</h1>


<!-- @include offer.list.content.filter.html -->


<div class="card-list">


  <div class="card">
    <div class="card-main">
      <div class="card-gallery">
        <div class="card-gallery-img main" style="background-image:url(/src/img/examples/card.png)" data-image="/src/img/examples/card.png"></div>
        <div class="card-gallery-img small" style="background-image:url(/src/img/examples/card.png)" data-image="/src/img/examples/card.png"></div>
        <div class="card-gallery-img small" style="background-image:url(/src/img/examples/card.png)" data-image="/src/img/examples/card.png"></div>
        <div class="card-gallery-img small" style="background-image:url(/src/img/examples/card.png)" data-image="/src/img/examples/card.png"></div>
        <div class="card-gallery-img small" style="background-image:url(/src/img/examples/card.png)" data-image="/src/img/examples/card.png"></div>
      </div>
      <div class="card-content full">
        <h2 class="card-content-title">
          <button class="favorite-btn"></button>
          <a href="">Золотая долина</a>
        </h2>
        <div class="card-content-box">
          <div class="card-content-text">
            12 современных трасс различной степени сложности с перепадом высот от 10 до 105 метров и протяженностью от 70 до 1100 метров. Сноуборд-парк, прокат ...
          </div>
          <div class="card-content-text grey">
            Ленинградская обл., Приозерский район, пос. Коробицыно
          </div>
          <div class="card-markers">
            <span class="marker"><span>Горные лыжи</span></span>
            <span class="marker"><span>Сноубординг</span></span>
          </div>
          <div class="card-content-bottom">
            <div class="card-content-bottom-rating">
              <!-- @include ../el/rating-stars.html -->
              <div class="grey">32 отзыва</div>
            </div>
            <div class="card-content-bottom-price">
              <div>
                <div class="price">от 400 Р</div>
                <div class="grey">за час катания</div>
              </div>
            </div>
            <div class="card-content-bottom-more">
              <a href="#" class="btn btn btn-regular btn-normal">
                <span class="icon-arrow_right visible-xs"></span>
                <span class="hidden-xs">Посмотреть</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-tip huge red"><span class="hidden-xs">СКИДКА</span>-20%</div>
    <div class="card-main">
      <div class="card-gallery">
        <div class="card-gallery-img main" style="background-image:url(/src/img/examples/card.png)" data-image="/src/img/examples/card.png"></div>
      </div>
      <div class="card-content full">

        <h2 class="card-content-title">
          <button class="favorite-btn"></button>
          <a href="">Золотая долина</a>
        </h2>
        <div class="card-content-box">
          <div class="card-content-text">
            12 современных трасс различной степени сложности с перепадом высот от 10 до 105 метров и протяженностью от 70 до 1100 метров. Сноуборд-парк, прокат ...
          </div>
          <div class="card-content-text grey">
            Ленинградская обл., Приозерский район, пос. Коробицыно
          </div>
          <div class="card-markers">
            <span class="marker"><span>Горные лыжи</span></span>
            <span class="marker"><span>Сноубординг</span></span>
          </div>
          <div class="card-content-bottom">
            <div class="card-content-bottom-rating">
              <!-- @include ../el/rating-stars.html -->
              <div class="grey">32 отзыва</div>
            </div>
            <div class="card-content-bottom-price">
              <div>
                <div class="remark right xs-left red"><span>Дешево</span></div>
              </div>
              <div>
                <div class="price">от 400 Р</div>
                <div class="grey">за час катания</div>
              </div>
            </div>
            <div class="card-content-bottom-more">
              <a href="#" class="btn btn btn-regular btn-normal">
                <span class="icon-arrow_right visible-xs"></span>
                <span class="hidden-xs">Посмотреть</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-tip huge orange">HIT!</div>
    <div class="card-main">
      <div class="card-gallery">
        <div class="card-gallery-img main" style="background-image:url(/src/img/examples/card.png)" data-image="/src/img/examples/card.png"></div>
        <div class="card-gallery-img small" style="background-image:url(/src/img/examples/card.png)" data-image="/src/img/examples/card.png"></div>
        <div class="card-gallery-img small" style="background-image:url(/src/img/examples/card.png)" data-image="/src/img/examples/card.png"></div>
        <div class="card-gallery-img small" style="background-image:url(/src/img/examples/card.png)" data-image="/src/img/examples/card.png"></div>
        <div class="card-gallery-img small" style="background-image:url(/src/img/examples/card.png)" data-image="/src/img/examples/card.png"></div>
        <div class="card-gallery-img small" style="background-image:url(/src/img/examples/card.png)" data-image="/src/img/examples/card.png"></div>
        <div class="card-gallery-img small" style="background-image:url(/src/img/examples/card.png)" data-image="/src/img/examples/card.png"></div>
      </div>
      <div class="card-content full">

        <h2 class="card-content-title">
          <button class="favorite-btn"></button>
          <a href="">Золотая долина</a>
        </h2>
        <div class="card-content-box">
          <div class="card-content-text">
            12 современных трасс различной степени сложности с перепадом высот от 10 до 105 метров и протяженностью от 70 до 1100 метров. Сноуборд-парк, прокат ...
          </div>
          <div class="card-content-text grey">
            Ленинградская обл., Приозерский район, пос. Коробицыно
          </div>
          <div class="card-markers">
            <span class="marker"><span>Горные лыжи</span></span>
            <span class="marker"><span>Сноубординг</span></span>
          </div>
          <div class="card-content-bottom">
            <div class="card-content-bottom-rating">
              <!-- @include ../el/rating-stars.html -->
              <div class="grey">32 отзыва</div>
            </div>
            <div class="card-content-bottom-price">
              <div>
                <div class="remark right xs-left green"><span>Выгодно</span></div>
              </div>
              <div>
                <div class="price">от 400 Р</div>
                <div class="grey">за час катания</div>
              </div>
            </div>
            <div class="card-content-bottom-more">
              <a href="#" class="btn btn btn-regular btn-normal">
                <span class="icon-arrow_right visible-xs"></span>
                <span class="hidden-xs">Посмотреть</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
