<div class="row">

  <div class="col-md-4">
   <!-- @include ../el/search.html -->
  </div>

  <div class="col-md-8">
    <div class="offer-list">
      <!-- @include offer.list.map.content.html -->
    </div>
  </div>

</div>
