<div class="tickets-table">
  <table class="tickets-buy">
    <thead>
      <tr>
        <th>Время</th>
        <th>Наличие</th>
        <th>Стоимость</th>
        <th>Количество</th>
      </tr>
    </thead>
    <tbody>
      <tr class="tickets-buy-ticket">
        <td>
          <spam class="hidden-sm">Время:</spam>
          <span>9:00</span>
        </td>
        <td>
          <spam class="hidden-sm">Наличие:</spam>
          <span>9 шт.</span>
        </td>
        <td>
          <spam class="hidden-sm">Стоимость:</spam>
          <span class="price">500 Р</span>
          <span class="price-old">600 Р</span>
          <span class="discount" data-toggle="tooltip" data-placement="bottom" title="Вау вау какая скидка"><span>-20 %</span></span>

          <span class="discount" data-toggle="tooltip" data-placement="bottom" title="Вау вау какая скидкаВау вау какая скидкаВау вау какая скидкаВау вау какая скидка"><span>-20 %</span></span>
        </td>
        <td class="tickets-buy-count">
          <span><input class="spinner-plus" value="0"></span>
          <spam class="hidden-sm"><button class="btn btn-red btn-light">В корзину</button></spam>
        </td>
      </tr>
      <tr class="tickets-buy-services-title">
        <td colspan="4">
          <span>C этим билетом можно взять следующие дополнительные услуги:</span>
        </td>
      </tr>
      <tr class="tickets-buy-service">
        <td colspan="2">
          <span>Аренда сноуборда 1 час</span>
        </td>
        <td>
          <spam class="hidden-sm">Стоимость:</spam>
          <span class="price-black">500 Р</span>
        </td>
        <td class="tickets-buy-service-count">
          <span><input class="spinner-plus" value="0"></span>
        </td>
      </tr>
      <tr class="tickets-buy-service">
        <td colspan="2">
          <span>Аренда ботинок 1 час</span>
        </td>
        <td>
          <spam class="hidden-sm">Стоимость:</spam>
          <span class="price-black">500 Р</span>
        </td>
        <td class="tickets-buy-service-count">
          <span><input class="spinner-plus" value="0"></span>
        </td>
      </tr>
      <tr class="tickets-buy-service">
        <td colspan="2">
          <span>Подъемник</span>
        </td>
        <td>
          <spam class="hidden-sm">Стоимость:</spam>
          <span class="price-black">250 Р</span>
        </td>
        <td class="tickets-buy-service-count">
          <span><input class="spinner-plus" value="0"></span>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr class="tickets-buy-ticket">
        <td>
          <spam class="hidden-sm">Время:</spam>
          <span>9:00</span>
        </td>
        <td>
          <spam class="hidden-sm">Наличие:</spam>
          <span>9 шт.</span>
        </td>
        <td>
          <spam class="hidden-sm">Стоимость:</spam>
          <span class="price">500 Р</span>
        </td>
        <td class="tickets-buy-count">
          <span><input class="spinner-plus" value="0"></span>
          <spam class="hidden-sm"><button class="btn btn-red btn-light">В корзину</button></spam>
        </td>
      </tr>
    </tbody>
    <tbody class="disabled">
      <tr class="tickets-buy-ticket">
        <td>
          <spam class="hidden-sm">Время:</spam>
          <span>9:00</span>
        </td>
        <td>
          <spam class="hidden-sm">Наличие:</spam>
          <span>Закончились</span>
        </td>
        <td>
          <spam class="hidden-sm">Стоимость:</spam>
          <span class="price">500 Р</span>
          <span class="price-old">600 Р</span>
          <span class="discount"><span>-200 Р</span></span>
        </td>
        <td class="tickets-buy-count">
          <span><input class="spinner-plus" value="0"></span>
          <spam class="hidden-sm"><button class="btn btn-red btn-light">В корзину</button></spam>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr class="tickets-buy-ticket">
        <td>
          <spam class="hidden-sm">Время:</spam>
          <span>9:00</span>
        </td>
        <td>
          <spam class="hidden-sm">Наличие:</spam>
          <span>9 шт.</span>
        </td>
        <td>
          <spam class="hidden-sm">Стоимость:</spam>
          <span class="price">500 Р</span>
          <span class="discount"><span>-20 %</span></span>
        </td>
        <td class="tickets-buy-count">
          <span><input class="spinner-plus" value="0"></span>
          <spam class="hidden-sm"><button class="btn btn-red btn-light">В корзину</button></spam>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="tickets-buy-resume hidden-xs">
    <div class="tickets-buy-resume-details">
      <div class="grey">Вы выбрали 2 билета:</div>
      <div>12.06.2016 на 9:00, 12.06.2016 на 10:00</div>
      <div class="grey">Дополнительные услуги:</div>
      <div>Аренда сноуборда 1 час — 2, Аренда ботинок 1 час — 2</div>
    </div>
    <div class="tickets-buy-resume-cost">
      <div class="grey">Итого:</div>
      <strong>850 Р</strong>
    </div>
    <div class="tickets-buy-resume-action">
      <button class="btn btn-red btn-light">В корзину</button>
    </div>
  </div>
</div>
