<div class="row">

  <div class="col-md-4">
   <!-- @include ../el/search.html -->
     <div class="visible-md">
        <!-- @include ../el/mail-subscribe.html -->
        <!-- @include ../el/recently-viewed-offers.html -->
     </div>
  </div>

  <div class="col-md-8">
    <div class="offer">
      <!-- @include offer.page.content.html -->
    </div>
  </div>

</div>
