<div class="title-box">
  <h1 class="page-title">Катание на горных орных лыжах</h1>
  <button class="title-box-btn btn btn-red btn-light">Купить билет</button>
</div>


<div class="offer-top">

  <div class="offer-markers markers">
    <a href="" class="marker"><span>Горные лыжи</span></a>
    <a href="" class="marker"><span>Сноуборд</span></a>
  </div>

  <div class="offer-place">
    <a href="">Гостеприимный курорт «Игора»</a><br>
    <a href="" class="iconed-before"><span class="icon-place"></span>Ленинградская обл., Приозерский район, пос. Коробицыно</a>
  </div>

  <div class="offer-actions">
    <div class="offer-actions-col to-left">
     <!-- @include ../el/rating.html -->
     <span>6578 отзывов</span>
    </div>
    <div class="offer-actions-col to-right">
      <button class="favorite-btn keep-color active">
        <span class="hidden-xs">В закладки</span>
      </button>
      <a href="" class="no-decoration"><span class="icon-ex-link"></span></a>
    </div>
  </div>

</div>

<div class="offer-ancors ancor-menu">
  <a href="#offer-tickets" class="ancor-menu-item"><span>Билеты</span></a>
  <a href="#offer-rules" class="ancor-menu-item"><span>Правила и безопасность</span></a>
  <a href="#offer-docs" class="ancor-menu-item"><span>Документы</span></a>
  <a href="#" class="ancor-menu-item"><span>Отзывы<span class="count-bubble">6578</span></span></a>
</div>

<div class="offer-slider">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="img/examples/slide1.jpg" alt="">
      </div>
      <div class="item">
        <img src="img/examples/slide2.jpg" alt="">
      </div>
      <div class="item">
        <img src="img/examples/slide3.jpg" alt="">
      </div>
    </div>

    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="icon-arrow_left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="icon-arrow_right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


<div class="offer-description" id="offer-description">
  <!--ТУТ ДОЛЖНЫ БЫЛИ БЫТЬ ПРЕИМУЩЕСТВА, НО ПРЕИМУЩЕСТВ НЕТ-->
  <div class="offer-advantages page-advantages">
    <div class="page-advantage">
      <div class="page-advantage-img"></div>
      <div class="page-advantage-text"></div>
    </div>
    <div class="page-advantage">
      <div class="page-advantage-img"></div>
      <div class="page-advantage-text"></div>
    </div>
    <div class="page-advantage">
      <div class="page-advantage-img"></div>
      <div class="page-advantage-text"></div>
    </div>
  </div>

  <h2>О месте</h2>
  <div class="offer-description-text text">
    <p>Повседневная практика показывает, что укрепление и развитие структуры представляет собой интересный эксперимент проверки соответствующий условий активизации. Таким образом начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки дальнейших направлений развития. Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Товарищи! дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.</p>
    <p>Идейные соображения высшего порядка, а также новая модель организационной деятельности позволяет выполнять важные задания по разработке соответствующий условий активизации. Не следует, однако забывать, что новая модель организационной деятельности способствует подготовки и реализации существенных финансовых и административных условий.</p>
    <p>Равным образом укрепление и развитие структуры в значительной степени обуславливает создание форм развития. Товарищи! сложившаяся структура организации представляет собой интересный эксперимент проверки соответствующий условий активизации.</p>
  </div>
  
  <div class="offer-description-text text">
    <div class="loading-wrapper lightblue">
      <div class="loading-element loading-text"></div>
      <div class="loading-element loading-text"></div>
      <div class="loading-element loading-text"></div>
      <div class="loading-element loading-text loading-90"></div>
      <div class="loading-element loading-text loading-80"></div>
      <div class="loading-element loading-text loading-50"></div>
    </div>
  </div>

</div>

<div class="offer-tickets">
  <h2 id="offer-tickets">Билеты</h2>
  <form action="" class="form">
    <!-- @include ../el/calendars.html -->
    <!-- @include offer.page.tickets.html -->
  </form>
</div>



<div class="offer-rules">
  <h2 id="offer-rules">Правила и безопасность</h2>
  <div class="text">
    <p>Повседневная практика показывает, что укрепление и развитие структуры представляет собой интересный эксперимент проверки соответствующий условий активизации. Таким образом начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки дальнейших направлений развития. Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение системы обучения кадров, соответствует насущным...</p>
  </div>
  <button class="readmore dashed"><span>Читать далее</span></button>
</div>


<h2 id="offer-docs">Документы</h2>
<div class="offer-docs docs-list">

  <div class="docs-item">
    <div class="docs-item-img">
      <svg>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-img-doc"></use>
      </svg>
    </div>
    <div class="docs-item-info">
      <a href="" class="docs-item-title" download>Договор оферты</a>
      <div class="docs-item-details">doc, 98 KB</div>
    </div>
  </div>
  <div class="docs-item">
    <div class="docs-item-img">
      <svg>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-img-pdf"></use>
      </svg>
    </div>
    <div class="docs-item-info">
      <a href="" class="docs-item-title" download>Горнолыжные склоны курорта Игора</a>
      <div class="docs-item-details">pdf, 98 KB</div>
    </div>
  </div>
  <div class="docs-item">
    <div class="docs-item-img">
      <svg>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-img-xls"></use>
      </svg>
    </div>
    <div class="docs-item-info">
      <a href="" class="docs-item-title" download>Расписание на июнь</a>
      <div class="docs-item-details">xls, 98 KB</div>
    </div>
  </div>
  <div class="docs-item" id="links">
    <div class="docs-item-img">
      <a href="img/examples/slide1.jpg" class="docs-item-img zoom-img" >
        <img src="img/examples/doc.png" alt="">
      </a>
    </div>
    <div class="docs-item-info">
      <a href="img/examples/slide1.jpg" class="docs-item-title" download>Сертефикат</a>
      <div class="docs-item-details">jpg, 98 KB</div>
    </div>
  </div>

</div>
