<div class="breadcrumbs">
  <a href="">На главную</a>
  <span class="icon-arrow_right"></span>
  <a href="">Россия</a>
  <span class="icon-arrow_right"></span>
  <a href="">Санкт-Петербург и Ленинградская область</a>
  <span class="icon-arrow_right"></span>
  <a href="">Гостеприимный курорт «Игора»</a>
  <span class="icon-arrow_right"></span>
  <span>Катание на горных лыжах</span>
</div>
