
<h2 class="map-offers-title">Горные лыжи, сноуборд</h2>

<span class="map-offers-founded grey">Найдено 38 вариантов.</span>

<div class="filter-wrapper">
  <div class="filter">
    <div class="filter-section">

      <div class="filter-item">
        <span class="filter-item-hint grey hidden-xs hidden-md">Сортировка: </span>
        <div class="dropdown-container dropdown-small">
          <button class="dropdown-toggle btn-link" type="button" data-toggle="dropdown" aria-expanded="true">
            Рекомендуемые
          </button>
          <button class="filter-sort-direction" title="Сортировать в порядке убывания"><span class="icon-caret-up"></span></button>
          <div class="dropdown-content">
            <div class="dropdown-content-list">
              <button>Рекомендуемые</button>
              <button>По дате</button>
              <button class="active">По рейтингу</button>
              <button>По цене</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <button class="btn btn-map-list">
    <span class="icon-list"></span>
    <span>Смотреть списком</span>
  </button>

</div>


<div class="card-mini-list-wrapper">
  <div class="card-mini-list">

    <div class="card-mini">
      <div class="card-mini-left">
        <a href="" class="card-mini-image" style="background-image:url(img/examples/card.png)"></a>
        <!-- @include ../el/rating-stars.html -->
      </div>
      <div class="card-mini-right">
        <a href="" class="card-mini-title">Гостеприимный курорт Ижора</a>
        <div class="card-mini-text">
          Ленинградская обл., Приозерский район, пос. Коробицыно
        </div>
        <div class="card-mini-actions">
          <div class="card-mini-price">
            <strong>от 400 Р</strong>
            <span>за час катания</span>
          </div>
          <button class="favorite-btn"></button>
        </div>
      </div>
    </div>

    <div class="card-mini ">
      <div class="card-mini-left">
        <a href="" class="card-mini-image" style="background-image:url(img/examples/card.png)"></a>
        <!-- @include ../el/rating-stars.html -->
      </div>
      <div class="card-mini-right">
        <a href="" class="card-mini-title">Красное озеро</a>
        <div class="card-mini-text">
          Ленинградская обл., Приозерский район, пос. Коробицыно
            Ленинградская обл., Приозерский район, пос. Коробицыно
        </div>
        <div class="card-mini-actions">
          <div class="card-mini-price">
            <strong>от 300 Р</strong>
            <span>за час катания</span>
          </div>
          <button class="favorite-btn active"></button>
        </div>
      </div>
    </div>

    <div class="card-mini active">
      <div class="card-mini-left">
        <a href="" class="card-mini-image" style="background-image:url(img/examples/card.png)"></a>
        <!-- @include ../el/rating-stars.html -->
      </div>
      <div class="card-mini-right">
        <a href="" class="card-mini-title">Гостеприимный курорт</a>
        <div class="card-mini-text">
          Ленинградская обл.
        </div>
        <div class="card-mini-actions">
          <div class="card-mini-price">
            <strong>от 400 Р</strong>
            <span>за час катания</span>
          </div>
          <button class="favorite-btn active"></button>
        </div>
      </div>
    </div>

    <div class="card-mini">
      <div class="card-mini-left">
        <a href="" class="card-mini-image" style="background-image:url(img/examples/card.png)"></a>
        <!-- @include ../el/rating-stars.html -->
      </div>
      <div class="card-mini-right">
        <a href="" class="card-mini-title">Гостеприимный курорт Ижора</a>
        <div class="card-mini-text">
          Ленинградская обл., Приозерский район, пос. Коробицыно
        </div>
        <div class="card-mini-actions">
          <div class="card-mini-price">
            <strong>от 400 Р</strong>
            <span>за час катания</span>
          </div>
          <button class="favorite-btn"></button>
        </div>
      </div>
    </div>

    <div class="card-mini">
      <div class="card-mini-left">
        <a href="" class="card-mini-image" style="background-image:url(img/examples/card.png)"></a>
        <!-- @include ../el/rating-stars.html -->
      </div>
      <div class="card-mini-right">
        <a href="" class="card-mini-title">Гостеприимный курорт Ижора</a>
        <div class="card-mini-text">
          Ленинградская обл., Приозерский район, пос. Коробицыно
        </div>
        <div class="card-mini-actions">
          <div class="card-mini-price">
            <strong>от 400 Р</strong>
            <span>за час катания</span>
          </div>
          <button class="favorite-btn"></button>
        </div>
      </div>
    </div>

    <div class="card-mini">
      <div class="card-mini-left">
        <a href="" class="card-mini-image" style="background-image:url(img/examples/card.png)"></a>
        <!-- @include ../el/rating-stars.html -->
      </div>
      <div class="card-mini-right">
        <a href="" class="card-mini-title">Гостеприимный курорт Ижора</a>
        <div class="card-mini-text">
          Ленинградская обл., Приозерский район, пос. Коробицыно
        </div>
        <div class="card-mini-actions">
          <div class="card-mini-price">
            <strong>от 400 Р</strong>
            <span>за час катания</span>
          </div>
          <button class="favorite-btn"></button>
        </div>
      </div>
    </div>


  </div>

  <button class="card-mini-slide prev"><span class="icon-arrow_left"></span></button>
  <button class="card-mini-slide next"><span class="icon-arrow_right"></span></button>

</div>
