<div class="filter-wrapper">
  <div class="filter">
    <div class="filter-section">

      <div class="filter-item">
        <span class="filter-item-hint grey hidden-xs">Сортировка: </span>
        <div class="dropdown-container dropdown-small">
          <button class="dropdown-toggle btn-link" type="button" data-toggle="dropdown" aria-expanded="true">
            По рейтингу
          </button>
          <button class="filter-sort-direction" title="Сортировать в порядке убывания"><span class="icon-caret-up"></span></button>
          <div class="dropdown-content">
            <div class="dropdown-content-list">
              <button>Рекомендуемые</button>
              <button>По дате</button>
              <button class="active">По рейтингу</button>
              <button>По цене</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <button class="btn filter-supertop-btn btn-map">
    <span class="icon-place"></span>
    <span><span class="hidden-xs">Смотреть </span>на карте</span>
  </button>

</div>
