<div class="row office">


  <!-- @include office.side-menu.html -->


  <div class="col-md-9 col-xs-12 office-main" id="panel">

    <h1 class="page-title">Объявления</h1>


    <!-- @include office.company.offer.list.filter.html -->

    <!-- @include office.company.offer.list.cards.html -->

  </div>
</div>
