<div class="row office">


  <!-- @include office.side-menu.html -->


  <div class="col-md-9 col-xs-12 office-main" id="panel">


    <h1 class="page-title">Новое объявление</h1>

    <div class="steps steps-3">
        <a class="step active"><span>Основная информация</span></a>
        <a class="step"><span>Билеты и расписание</span></a>
        <a class="step"><span>Дополнительная информация</span></a>
    </div>

    <form action="" class="office-form form">

      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <label for="">Выберите вид спорта</label>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <select id="office-form-sport" class="input-md" placeholder="Вид спорта"></select>
        </div>
      </div>


      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <label for="">Заголовок объявления</label>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <input type="text" class="input-md">
        </div>
      </div>

      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <label for="">Название компании</label>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <input type="text" class="input-md">
        </div>
      </div>


      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <label for="">Номер телефона</label>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <div class="input-removable">
            <input type="tel" class="input-xs" name="tel-1">
          </div>
          <button class="input-add-btn btn btn-dashed">Добавить ещё телефон</button>
        </div>
      </div>


      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <span>Валюта</span>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <div class="radio">
            <input type="radio" name="radio-1" id="radio-1-1" value="eu" checked>
            <label for="radio-1-1"><span class="currence-symbol">€</span></label>
            <input type="radio" name="radio-1" id="radio-1-2" value="dl">
            <label for="radio-1-2"><span class="currence-symbol">$</span></label>
            <input type="radio" name="radio-1" id="radio-1-3" value="zl" checked>
            <label for="radio-1-3"><span class="currence-symbol">zł</span></label>
            <input type="radio" name="radio-1" id="radio-1-4" value="ru">
            <label for="radio-1-4"><span class="icon-rub currence-symbol"></span></label>
          </div>
          <div class="form-row-tip">Выберите валюту в которой вам будет удобно указывать цены на билеты</div>
        </div>
      </div>

      <h2>Местоположение</h2>

      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <label for="">Страна</label>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <select id="office-form-country" class="input-md" placeholder="Страна"></select>
        </div>
      </div>


      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <label for="">Город или регион</label>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <select id="office-form-region" class="input-md" placeholder="Город или регион"></select>
        </div>
      </div>


      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <label for="">Адрес</label>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <input type="text" class="input-lg">
        </div>
      </div>


      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12"></div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <div class="map-wrapper disabled">
            <div id="map" class="map map-lg"></div>
            <div class="map-overlay">
              <div class="map-message">
                <span class="icon-warning"></span>
                Сначала <span>укажите адрес</span>
              </div>
            </div>
          </div>
        </div>
      </div>


      <h2>Объявление</h2>


      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <label for="">Описание</label>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <textarea name="" class="input-lg"></textarea>
        </div>
      </div>

      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">Фотографии</div>
        <div class="form-row-input form-file col-sm-10 col-xs-12">

          <div class="form-file-images">

            <!--Подгрузка изображения-->
            <!--<div class="form-file-img">
              <button class="form-file-img-close"><span class="icon-x-small"></span></button>
              <span class="icon-spinner"></span>
            </div>-->

            <!--Загруженное изображение-->
            <!--<div class="form-file-img">
              <button class="form-file-img-rotate"><span class="icon-rotate"></span></button>
              <button class="form-file-img-close"><span class="icon-x-small"></span></button>
              <img src="img/examples/company-logo.png">
            </div>-->

            <label class="form-file-btn form-file-btn-img multiple">
              <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-img-photo"></use>
              </svg>
              <input type="file" name="" value="" class="form-file-input" id="load-photos" multiple>
            </label>
          </div>

        </div>
      </div>


      <hr class="dividerhr">


      <div class="form-row form-submits">
        <button class="btn btn-bordered btn-huge">Сохранить</button>
        <button class="btn btn-huge btn-lightgrey to-right btn-iconed-after">Далее<span class="icon-arrow_right"></span></button>
      </div>


    </form>




  </div>
</div>
