<div class="notifications-table">
  <table class="n-table">
    <tbody>

      <tr class="unread">
        <td class="notifications-table-go">
          <div>
            <a href="" title="Подробнее">
              <span class="icon-arrow_right"></span>
            </a>
          </div>
        </td>
        <td class="notifications-table-message">
          <div class="notifications-table-title">
            <span class="icon-warning"></span>
            Ваш заказ на «Горнолыжный курорт под Санкт-Петербургом» отменен.
          </div>
          <div class="notifications-table-text">Продавец отменил ваш заказ по причинам</div>
        </td>
        <td class="notifications-table-extra">
          <div class="notifications-table-date">
            14 июня 2016
          </div>
          <div class="notifications-table-controls">
            <button class="check"><span class="icon-ok-light"></span></button>
            <button class="delete"><span class="icon-bin"></span></button>
          </div>
        </td>
      </tr>

      <tr class="unread">
        <td class="notifications-table-go">
          <div>
            <a href="" title="Подробнее">
              <span class="icon-arrow_right"></span>
            </a>
          </div>
        </td>
        <td class="notifications-table-message">
          <div class="notifications-table-title">
            <span class="icon-label"></span>
            Поздравляем! В вашей команде появлися еще один сотрудник.
          </div>
          <div class="notifications-table-text">Виталий Стояков присоединился к вашей команде</div>
        </td>
        <td class="notifications-table-extra">
          <div class="notifications-table-date">
            14 июня 2016
          </div>
          <div class="notifications-table-controls">
            <button class="check"><span class="icon-ok-light"></span></button>
            <button class="delete"><span class="icon-bin"></span></button>
          </div>
        </td>
      </tr>

      <tr>
        <td class="notifications-table-go">
          <div>
            <a href="" title="Подробнее">
              <span class="icon-arrow_right"></span>
            </a>
          </div>
        </td>
        <td class="notifications-table-message">
          <div class="notifications-table-title">
            <span class="notifications-currency"><span class="icon-rub"></span></span>
            <span class="notifications-currency">€</span>
            Покупка.
          </div>
          <div class="notifications-table-text">Андрей Вислоухов купил «Прыжок с парашютом»</div>
        </td>
        <td class="notifications-table-extra">
          <div class="notifications-table-date">
            14 июня 2016
          </div>
          <div class="notifications-table-controls">
            <button class="check"><span class="icon-ok-light"></span></button>
            <button class="delete"><span class="icon-bin"></span></button>
          </div>
        </td>
      </tr>

      <tr>
        <td class="notifications-table-go">
          <div>
            <a href="" title="Подробнее">
              <span class="icon-arrow_right"></span>
            </a>
          </div>
        </td>
        <td class="notifications-table-message">
          <div class="notifications-table-title">
            В вашей корзине есть билеты, которые ждут когда вы их купите!
          </div>
          <div class="notifications-table-text">Снежные склоны под Санкт-Петербургом Снежные склоны под Санкт-Петербургом Снежные склоны под Санкт-Петербургом Снежные склоны под Санкт-Петербургом</div>
        </td>
        <td class="notifications-table-extra">
          <div class="notifications-table-date">
            14 июня 2016
          </div>
          <div class="notifications-table-controls">
            <button class="check"><span class="icon-ok-light"></span></button>
            <button class="delete"><span class="icon-bin"></span></button>
          </div>
        </td>
      </tr>

      <tr>
        <td class="notifications-table-go">
          <div>
            <a href="" title="Подробнее">
              <span class="icon-arrow_right"></span>
            </a>
          </div>
        </td>
        <td class="notifications-table-message">
          <div class="notifications-table-title">
            <span class="icon-label"></span>
            <span class="icon-warning"></span>
            Ваше предложение <a href="">«Ослик, суслик, паукан»</a> не прошло модерацию.
          </div>
          <div class="notifications-table-text">К сожалению ваше объявление не прошло модерацию</div>
        </td>
        <td class="notifications-table-extra">
          <div class="notifications-table-date">
            14 июня 2016
          </div>
          <div class="notifications-table-controls">
            <button class="check"><span class="icon-ok-light"></span></button>
            <button class="delete"><span class="icon-bin"></span></button>
          </div>
        </td>
      </tr>

    </tbody>
  </table>
</div>
