<div class="content-section">
  <table class="r-table r-table-tall selling-table">
    <thead class="r-table-head">
      <tr class="hidden-xs">
        <th class="selling-table-datetime">Дата и время<br>продажи<span class="icon-date"></span></th>
        <th class="selling-table-desc">Продажа</th>
        <th class="selling-table-sum">Общая сумма<br>покупки</th>
        <th class="selling-table-customer">Покупатель</th>
      </tr>
      <tr class="selling-table-controls hidden-sm">
        <th colspan="4">
          <button class="selling-table-controls-first"><span class="icon-arrow_left"></span></button>
          <button class="selling-table-controls-prev"><span class="icon-arrow_left"></span></button>
          <span class="icon-date"></span>
          <button class="selling-table-controls-last"><span class="icon-arrow_right"></span></button>
          <button class="selling-table-controls-next"><span class="icon-arrow_right"></span></button>
        </th>
      </tr>
    </thead>
    <tbody class="r-table-body" id="div">
      <tr class="active">
        <td class="selling-table-datetime">
          <span class="visible-xs">Дата и время продажи: </span>
          <span class="selling-table-date">18 июня 2016</span>
          <span class="selling-table-time">11:10</span>
        </td>
        <td class="selling-table-desc">
          <a href="#" class="selling-table-desc-title">Горнолыжные склоны под Санкт-Петербургом</a>
          <div class="selling-table-desc-item">
            <strong>22.07.2016</strong> —
            <strong>13:00</strong> —
            <strong>2 шт.</strong> —
            1 400 Р
          </div>
          <div class="selling-table-desc-item">
            <strong>22.07.2016</strong> —
            <strong>13:00</strong> —
            <strong>2 шт.</strong> —
            1 400 Р
          </div>
          <div class="selling-table-desc-option">
            Аренда сноуборда 1 час<br>
            4 шт. — 2 000 Р
          </div>
        </td>
        <td class="selling-table-sum">
          <span class="visible-xs">Итоговая сумма: </span>
          5 000 Р
        </td>
        <td class="selling-table-customer">
          <a href="#">Анастасия Завьялова</a>
          <button class="selling-table-delete icon-x-light"></button>
        </td>
      </tr>
      <tr>
        <td class="selling-table-datetime">
          <span class="visible-xs">Дата и время продажи: </span>
          <span class="selling-table-date">18 июня 2016</span>
          <span class="selling-table-time">11:10</span>
        </td>
        <td class="selling-table-desc">
          <a href="#" class="selling-table-desc-title">Горнолыжные склоны под Санкт-Петербургом</a>
          <div class="selling-table-desc-item">
            <strong>22.07.2016</strong> —
            <strong>13:00</strong> —
            <strong>2 шт.</strong> —
            1 400 Р
          </div>
          <div class="selling-table-desc-item">
            <strong>22.07.2016</strong> —
            <strong>13:00</strong> —
            <strong>2 шт.</strong> —
            1 400 Р
          </div>
          <div class="selling-table-desc-option">
            Аренда сноуборда 1 час<br>
            4 шт. — 2 000 Р
          </div>
          <div class="selling-table-desc-option">
            Аренда сноуборда 1 час<br>
            4 шт. — 2 000 Р
          </div>
        </td>
        <td class="selling-table-sum">
          <span class="visible-xs">Итоговая сумма: </span>
          5 000 Р
        </td>
        <td class="selling-table-customer">
          <a href="#">Анастасия Завьялова</a>
          <button class="selling-table-delete icon-x-light"></button>
        </td>
      </tr>
      <tr>
        <td class="selling-table-datetime">
          <span class="visible-xs">Дата и время продажи: </span>
          <span class="selling-table-date">18 июня 2016</span>
          <span class="selling-table-time">11:10</span>
        </td>
        <td class="selling-table-desc">
          <a href="#" class="selling-table-desc-title">Горнолыжные склоны под Санкт-Петербургом</a>
          <div class="selling-table-desc-item">
            <strong>22.07.2016</strong> —
            <strong>13:00</strong> —
            <strong>2 шт.</strong> —
            1 400 Р
          </div>
          <div class="selling-table-desc-item">
            <strong>22.07.2016</strong> —
            <strong>13:00</strong> —
            <strong>2 шт.</strong> —
            1 400 Р
          </div>
          <div class="selling-table-desc-option">
            Аренда сноуборда 1 час<br>
            4 шт. — 2 000 Р
          </div>
          <div class="selling-table-desc-option">
            Аренда сноуборда 1 час<br>
            4 шт. — 2 000 Р
          </div>
        </td>
        <td class="selling-table-sum">
          <span class="visible-xs">Итоговая сумма: </span>
          5 000 Р
        </td>
        <td class="selling-table-customer">
          <a href="#">Анастасия Завьялова</a>
          <button class="selling-table-delete icon-x-light"></button>
        </td>
      </tr>
      <tr>
        <td class="selling-table-datetime">
          <span class="visible-xs">Дата и время продажи: </span>
          <span class="selling-table-date">18 июня 2016</span>
          <span class="selling-table-time">11:10</span>
        </td>
        <td class="selling-table-desc">
          <a href="#" class="selling-table-desc-title">Горнолыжные склоны под Санкт-Петербургом</a>
          <div class="selling-table-desc-item">
            <strong>22.07.2016</strong> —
            <strong>13:00</strong> —
            <strong>2 шт.</strong> —
            1 400 Р
          </div>
          <div class="selling-table-desc-item">
            <strong>22.07.2016</strong> —
            <strong>13:00</strong> —
            <strong>2 шт.</strong> —
            1 400 Р
          </div>
          <div class="selling-table-desc-option">
            Аренда сноуборда 1 час<br>
            4 шт. — 2 000 Р
          </div>
          <div class="selling-table-desc-option">
            Аренда сноуборда 1 час<br>
            4 шт. — 2 000 Р
          </div>
        </td>
        <td class="selling-table-sum">
          <span class="visible-xs">Итоговая сумма: </span>
          5 000 Р
        </td>
        <td class="selling-table-customer">
          <a href="#">Анастасия Завьялова</a>
          <button class="selling-table-delete icon-x-light"></button>
        </td>
      </tr>

    </tbody>
  </table>
</div>

<div class="content-section">
  <h2>По объявлениям</h2>

  <table class="r-table r-table-short selling-table">
    <caption>
      <div class="r-table-caption-img" style="background-image:url(img/examples/skate-mini.png)"></div>
      <div class="r-table-caption-text">
        Горнолыжный курорт под Санкт-Петербургом
      </div>
      <div class="r-table-caption-markers">
        <span class="marker"><span>Горные лыжи</span></span>
      </div>
    </caption>
    <thead class="r-table-head">
      <tr class="hidden-xs">
        <th class="selling-table-datetime">Дата и время<br>продажи<span class="icon-date"></span></th>
        <th class="selling-table-desc">Продажа</th>
        <th class="selling-table-sum">Общая сумма<br>покупки</th>
        <th class="selling-table-customer">Покупатель</th>
      </tr>
      <tr class="selling-table-controls hidden-sm">
        <th colspan="4">
          <button class="selling-table-controls-first"><span class="icon-arrow_left"></span></button>
          <button class="selling-table-controls-prev"><span class="icon-arrow_left"></span></button>
          <span class="icon-date"></span>
          <button class="selling-table-controls-last"><span class="icon-arrow_right"></span></button>
          <button class="selling-table-controls-next"><span class="icon-arrow_right"></span></button>
        </th>
      </tr>
    </thead>
    <tbody class="r-table-body" id="div">
      <tr class="active">
        <td class="selling-table-datetime">
          <span class="visible-xs">Дата и время продажи: </span>
          <span class="selling-table-date">18 июня 2016</span>
          <span class="selling-table-time">11:10</span>
        </td>
        <td class="selling-table-desc">
          <a href="#" class="selling-table-desc-title">Горнолыжные склоны под Санкт-Петербургом</a>
          <div class="selling-table-desc-item">
            <strong>22.07.2016</strong> —
            <strong>13:00</strong> —
            <strong>2 шт.</strong> —
            1 400 Р
          </div>
          <div class="selling-table-desc-option">
            Аренда ботинок 1 час<br>
            4 шт. — 2 000 Р
          </div>
        </td>
        <td class="selling-table-sum">
          <span class="visible-xs">Итоговая сумма: </span>
          5 000 Р
        </td>
        <td class="selling-table-customer">
          <a href="#">Анастасия Завьялова</a>
          <button class="selling-table-delete icon-x-light"></button>
        </td>
      </tr>

    </tbody>
  </table>


  <table class="r-table r-table-short selling-table">
    <caption>
      <div class="r-table-caption-img" style="background-image:url(img/examples/skate-mini.png)"></div>
      <div class="r-table-caption-text">
        Золотая долина
      </div>
      <div class="r-table-caption-markers">
        <span class="marker"><span>Горные лыжи</span></span>
      </div>
    </caption>
    <thead class="r-table-head">
      <tr class="hidden-xs">
        <th class="selling-table-datetime">Дата и время<br>продажи<span class="icon-date"></span></th>
        <th class="selling-table-desc">Продажа</th>
        <th class="selling-table-sum">Общая сумма<br>покупки</th>
        <th class="selling-table-customer">Покупатель</th>
      </tr>
      <tr class="selling-table-controls hidden-sm">
        <th colspan="4">
          <button class="selling-table-controls-first"><span class="icon-arrow_left"></span></button>
          <button class="selling-table-controls-prev"><span class="icon-arrow_left"></span></button>
          <span class="icon-date"></span>
          <button class="selling-table-controls-last"><span class="icon-arrow_right"></span></button>
          <button class="selling-table-controls-next"><span class="icon-arrow_right"></span></button>
        </th>
      </tr>
    </thead>
    <tbody class="r-table-body" id="div">
      <tr class="active">
        <td class="selling-table-datetime">
          <span class="visible-xs">Дата и время продажи: </span>
          <span class="selling-table-date">18 июня 2016</span>
          <span class="selling-table-time">11:10</span>
        </td>
        <td class="selling-table-desc">
          <a href="#" class="selling-table-desc-title">Горнолыжные склоны под Санкт-Петербургом</a>
          <div class="selling-table-desc-item">
            <strong>22.07.2016</strong> —
            <strong>13:00</strong> —
            <strong>2 шт.</strong> —
            1 400 Р
          </div>
          <div class="selling-table-desc-option">
            Аренда ботинок 1 час<br>
            4 шт. — 2 000 Р
          </div>
        </td>
        <td class="selling-table-sum">
          <span class="visible-xs">Итоговая сумма: </span>
          5 000 Р
        </td>
        <td class="selling-table-customer">
          <a href="#">Анастасия Завьялова</a>
          <button class="selling-table-delete icon-x-light"></button>
        </td>
      </tr>
      <tr>
        <td class="selling-table-datetime">
          <span class="visible-xs">Дата и время продажи: </span>
          <span class="selling-table-date">18 июня 2016</span>
          <span class="selling-table-time">11:10</span>
        </td>
        <td class="selling-table-desc">
          <a href="#" class="selling-table-desc-title">Горнолыжные склоны под Санкт-Петербургом</a>
          <div class="selling-table-desc-item">
            <strong>22.07.2016</strong> —
            <strong>13:00</strong> —
            <strong>2 шт.</strong> —
            1 400 Р
          </div>
          <div class="selling-table-desc-option">
            Аренда ботинок 1 час<br>
            4 шт. — 2 000 Р
          </div>
        </td>
        <td class="selling-table-sum">
          <span class="visible-xs">Итоговая сумма: </span>
          5 000 Р
        </td>
        <td class="selling-table-customer">
          <a href="#">Анастасия Завьялова</a>
          <button class="selling-table-delete icon-x-light"></button>
        </td>
      </tr>
      <tr>
        <td class="selling-table-datetime">
          <span class="visible-xs">Дата и время продажи: </span>
          <span class="selling-table-date">18 июня 2016</span>
          <span class="selling-table-time">11:10</span>
        </td>
        <td class="selling-table-desc">
          <a href="#" class="selling-table-desc-title">Горнолыжные склоны под Санкт-Петербургом</a>
          <div class="selling-table-desc-item">
            <strong>22.07.2016</strong> —
            <strong>13:00</strong> —
            <strong>2 шт.</strong> —
            1 400 Р
          </div>
          <div class="selling-table-desc-option">
            Аренда ботинок 1 час<br>
            4 шт. — 2 000 Р
          </div>
        </td>
        <td class="selling-table-sum">
          <span class="visible-xs">Итоговая сумма: </span>
          5 000 Р
        </td>
        <td class="selling-table-customer">
          <a href="#">Анастасия Завьялова</a>
          <button class="selling-table-delete icon-x-light"></button>
        </td>
      </tr>

    </tbody>
  </table>



</div>
