<div class="filter-wrapper">
  <div class="filter">
    <div class="filter-section">

      <div class="filter-item">
        <div class="radio radio-mini radio-blue radio-xs-full">
          <input type="radio" name="filter-1" id="filter-1-1" value="0">
          <label for="filter-1-1">Все</label>
          <input type="radio" name="filter-1" id="filter-1-2" value="1" checked>
          <label for="filter-1-2">Активные</label>
          <input type="radio" name="filter-1" id="filter-1-3" value="2">
          <label for="filter-1-3">Неактивные</label>
          <input type="radio" name="filter-1" id="filter-1-4" value="3">
          <label for="filter-1-4">Черновики</label>
        </div>
      </div>

      <div class="filter-item">
        <div class="dropdown-container dropdown-small dropdown-left">
          <button class="dropdown-toggle btn-link" type="button" data-toggle="dropdown" aria-expanded="true">
            Все категории<span class="icon-caret"></span>
          </button>
          <div class="dropdown-content">
            <div class="dropdown-content-list">
              <button>Горные лыжи</button>
              <button>Сноуборд</button>
              <button>Альпинизм</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <button class="btn btn-huge filter-supertop-btn">
    <span class="icon-plus"></span>
    <span>Новое объявление</span>
  </button>

</div>
