<div class="row office">


  <!-- @include office.side-menu.html -->


  <div class="col-md-9 col-xs-12 office-main"  id="panel">


    <h1 class="page-title">Настройки компании</h1>


    <div class="tabs tabs-2">
      <ul class="tab-titles">
        <li class="active"><a href="#tab-company-control" data-toggle="tab"><span>Управление</span></a></li>
        <li><a href="#tab-company-info" data-toggle="tab"><span>Информация о компании</span></a></li>
      </ul>


      <div class="tab-content">
        <div class="tab-pane active" id="tab-company-control">
          <div class="content-section">
            <h2>Команда</h2>

            <!-- @include office.company.settings.userlist.html -->

            <!-- @include office.company.settings.addemployee.html -->

          </div>

          <div class="content-section">
            <h2>Управление компанией</h2>

            <!-- @include office.company.settings.deletecompany.html -->

          </div>
        </div>


        <div class="tab-pane" id="tab-company-info">
          <h2>Информация о компании</h2>
        </div>
      </div>







    </div>
  </div>
</div>
