<div class="row office">


  <!-- @include office.side-menu.html -->


  <div class="col-md-9 col-xs-12 office-main" id="panel">


    <h1 class="page-title">Новое объявление</h1>

    <div class="congrats congrats-new-offer">
      <div class="congrats-img">
        <svg>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-img-good-2"></use>
        </svg>
      </div>
      <h2 class="congrats-title">Здорово!</h2>
      <div class="congrats-text congrats-text-big">
        Вы отправили на модерацию новое объявление<br>
        «Снежные склоны под Питером».<br>
        Мы добавим его на сайт в течении часа.
      </div>
    </div>

  </div>
</div>
