<div class="row office">


  <!-- @include office.side-menu.html -->


  <div class="col-md-9 col-xs-12 office-main" id="panel">



    <h1 class="page-title">Уведомления</h1>

    <div class="filter-wrapper notification-filter">
      <div class="filter">
        <div class="filter-section">

          <div class="filter-item">
            <div class="radio radio-mini radio-blue radio-xs-full">
              <input type="radio" name="filter-1" id="filter-1-1" value="0" checked>
              <label for="filter-1-1">Все</label>
              <input type="radio" name="filter-1" id="filter-1-2" value="1">
              <label for="filter-1-2">Личные</label>
              <input type="radio" name="filter-1" id="filter-1-3" value="2">
              <label for="filter-1-3"><span class="icon-label"></span>Рога и копыта</label>
            </div>
          </div>

        </div>
      </div>

    </div>

    <!-- @include office.notifications.table.html -->
    <!-- @include ../el/pagination.html -->

  </div>
</div>
