<div class="filter">
  <div class="filter-section row">
    <div class="col-sm-6 col-xs-12">
      <div class="filter-label">Объявления:</div>
      <div class="radio radio-mini radio-blue radio-xs-full">
        <input type="radio" name="filter-1" id="filter-1-1" value="0">
        <label for="filter-1-1">Все</label>
        <input type="radio" name="filter-1" id="filter-1-2" value="1" checked>
        <label for="filter-1-2">Активные</label>
        <input type="radio" name="filter-1" id="filter-1-3" value="2">
        <label for="filter-1-3">Неактивные</label>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="dropdown-container dropdown-mini dropdown-left">
        <button class="dropdown-toggle btn-link" type="button" data-toggle="dropdown" aria-expanded="true">
          Все категории<span class="icon-caret"></span>
        </button>
        <div class="dropdown-content">
          <div class="dropdown-content-list">
            <button>Горные лыжи</button>
            <button>Сноуборд</button>
            <button>Альпинизм</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="filter-section row">
    <div class="col-sm-5 col-xs-6">
      <div class="filter-label">Показать:</div>
      <div class="dropdown-container dropdown-mini dropdown-left dropdown-sm-list">
        <button class="dropdown-toggle btn-link" type="button" data-toggle="dropdown" aria-expanded="true">
          просмотры<span class="icon-caret"></span>
        </button>
        <div class="dropdown-content">
          <div class="dropdown-content-list">
            <button class="active">просмотры</button>
            <button>продажи</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-7 col-xs-6">

    </div>
  </div>
</div>










<canvas id="canvas"></canvas>
