<div class="row office">


  <!-- @include office.side-menu.html -->


  <div class="col-md-9 col-xs-12 office-main"  id="panel">


    <h1 class="page-title">Настройки компании</h1>


    <div class="tabs tabs-2">
      <ul class="tab-titles">
        <li class="active"><a href="#tab-company-control" data-toggle="tab"><span>Таблица продаж</span></a></li>
        <li><a href="#tab-company-info" data-toggle="tab"><span>Статистика</span></a></li>
      </ul>


      <div class="tab-content">
        <div class="tab-pane active" id="tab-company-control">

          <!-- @include office.company.sellings.tables.html -->

        </div>


        <div class="tab-pane" id="tab-company-info">

          <!-- @include office.company.sellings.stats.html -->

        </div>
      </div>


    </div>
  </div>
</div>
