<div class="user-list">
  <div class="user-list-item">
    <div class="user-list-avatar">
      <img src="img/examples/office-avatar.png" alt="">
    </div>
    <div class="user-list-content">
      <p class="user-list-name">Светлана Новикова (Вы)</p>
      <p class="grey">Администратор (создатель)</p>
      <button class="btn-link">Уволиться</button>
    </div>
  </div>

  <div class="user-list-item">
    <div class="user-list-avatar">
      <img src="img/examples/office-avatar2.png" alt="">
    </div>
    <div class="user-list-content">
      <p class="user-list-name">Вячеслав Новиков</p>

      <div class="dropdown-container dropdown-mini dropdown-left">
        <button class="dropdown-toggle btn-link" type="button" data-toggle="dropdown" aria-expanded="true">
          Администратор<span class="icon-caret"></span>
        </button>
        <div class="dropdown-content">
          <div class="dropdown-content-list">
            <button>Менеджер</button>
            <button>Уборщик</button>
            <button>Охранник</button>
          </div>
        </div>
      </div>
      <button class="btn-link">Уволить</button>
    </div>
  </div>

  <div class="user-list-item">
    <div class="user-list-avatar">
      <img src="img/examples/office-avatar2.png" alt="">
    </div>
    <div class="user-list-content">
      <p class="user-list-name">Аркадий Новиков</p>

      <div class="dropdown-container dropdown-mini dropdown-left">
        <button class="dropdown-toggle btn-link" type="button" data-toggle="dropdown" aria-expanded="true">
          Менеджер<span class="icon-caret"></span>
        </button>
        <div class="dropdown-content">
          <div class="dropdown-content-list">
            <button>Администратор</button>
            <button>Уборщик</button>
            <button>Охранник</button>
          </div>
        </div>
      </div>
      <button class="btn-link">Уволить</button>
    </div>
  </div>
</div>
