<div class="marged-btns">
  <button class="btn btn-bordered btn-bordered-red btn-regular"  data-toggle="modal" data-target="#modal-delete-company">Удалить компанию</button>
</div>

<!--MODAL-->
<div class="modal modal-prompt fade" id="modal-delete-company">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Вы точно хотите удалить компанию?</h4>
        <button type="button" class="close" data-dismiss="modal"><span class="icon-x-light"></span></button>
      </div>
      <div class="modal-body">
        <div class="modal-main">
          <button class="btn btn-hovered-grey" data-dismiss="modal">Нет</button>
          <button class="btn btn-red btn-hovered-grey">Да</button>
        </div>
      </div>
    </div>
  </div>
</div>
