<div class="row office">


  <!-- @include office.side-menu.html -->


  <div class="col-md-9 col-xs-12 office-main" id="panel">


    <div class="congrats congrats-new-company congrats-dark">
      <div class="congrats-img">
        <svg>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-img-salut"></use>
        </svg>
      </div>
      <h2 class="congrats-title">Поздравляем!</h2>
      <div class="congrats-target">
        <table>
          <tr>
            <td class="congrats-target-img">
              <img src="img/examples/company-logo.png" alt="" style="width:65px;height:50px">
            </td>
            <td>
              Новая компания
              <div class="congrats-target-name">«Рога и Копыта»</div>
            </td>
          </tr>
        </table>
      </div>
      <div class="congrats-text">
        Пройдет модерацию в течении ближайшего часа
        и появится на сайте. Самое время выпить чашку кофе.
      </div>
    </div>

  </div>
</div>
