<div class="row office">


  <!-- @include office.side-menu.html -->


  <div class="col-md-9 col-xs-12 office-main" id="panel">


    <h1 class="page-title">Новое объявление</h1>


    <div class="steps steps-3">
        <a class="step finished"><span>Основная информация</span></a>
        <a class="step active"><span>Билеты и расписание</span></a>
        <a class="step"><span>Дополнительная информация</span></a>
    </div>

    <form action="" class="office-form form">
      <h2>Дополнительные услуги</h2>

      <table class="form-row form-table-row">
        <thead>
          <tr>
            <th>Название</th>
            <th>Стоимость</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="text" class="input-md">
            </td>
            <td>
              <div class="iconed-input">
                <input type="text" class="input-xxs">
                <label for="">€</label>
              </div>
            </td>
            <td>
              <div class="form-row-tip form-row-tip-aboard hidden-xs">
                <span class="icon-bulb"></span>
                <span>Выберите валюту в которой вам будет удобно указывать цены на билеты</span>
              </div>
            </td>
          </tr>
        </tbody>

      </table>
      <button class="btn btn-bordered btn-regular btn-iconed"><span class="icon-plus"></span>Добавить услугу</button>

      <h2>Билеты</h2>

      <!-- @include ../el/calendars.html -->
      <!-- @include ../el/tickets.html -->

        <div class="tickets-info">
          <div class="tickets-info-text">
        Если вам неудобно заполнять таблицу билетов онлайн, вы можете скачать наш шаблон таблицы, заполнить ее и загрузить когда вам будет удобно.
          </div>
          <table class="tickets-info-actions">
            <tr>
              <td>
                <div class="download-file">
                  <a href="#" class="download-file-link" target="_blank">
                    <svg class="download-file-img">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-img-xls"></use>
                    </svg>
                  </a>
                  <div class="download-file-info">
                    <a href="#" class="download-file-link" target="_blank">Скачать шаблон таблицы</a>
                    <div class="download-file-params">xls, 214 KB</div>
                  </div>
                </div>
              </td>
              <td>
                <div class="form-file form-file-full">

                  <div class="form-file-docs">
                    <!-- Загруженный док -->
                    <label for="load-tickets" class="form-file-doc">
                      <svg class="form-file-doc-img">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-img-xls"></use>
                      </svg>
                      <div class="form-file-doc-info">
                        <div class="form-file-doc-title">Билеты сентябрь</div>
                        <div class="form-file-doc-params">xls, 98 KB</div>
                      </div>
                      <div class="form-file-doc-controls">
                        <button class="form-file-doc-remove" title="Удалить документ"><span class="icon-x-small"></span></button>
                      </div>
                    </label>
                  </div>
                  <label class="btn btn-bordered btn-regular form-file-btn">
                    Загрузить таблицу
                    <input type="file" name="" value="" class="form-file-input" id="load-tickets">
                  </label>

                </div>
              </td>
              <td class="grey">
                Пожалуйста, загружайте только таблицу на основе нашего шаблона. Все прочие не будут обработаны.
              </td>
            </tr>
          </table>
        </div>





      <hr class="dividerhr">


      <div class="form-row form-submits">
        <button class="btn btn-huge btn-icon btn-lightblue marged-right"><span class="icon-arrow_left"></span></button>
        <button class="btn btn-bordered btn-huge">Сохранить</button>
        <button class="btn btn-huge to-right btn-iconed-after">Далее<span class="icon-arrow_right"></span></button>
      </div>


    </form>




  </div>
</div>
