<div class="row office">


  <!-- @include office.side-menu.html -->


  <div class="col-md-9 col-xs-12 office-main" id="panel">

    <div class="notification">
      <div class="notification-head">
        <div class="notification-head-date">
          14 июня 2016
        </div>
        <button class="notification-delete"><span class="icon-bin"></span>Удалить</button>
        <div class="notification-siblings">
          <button class="prev" title="Предыдущее"><span class="icon-left"></span></button>
          <button class="next" title="Следующее"><span class="icon-right"></span></button>
        </div>
      </div>

      <div class="notification-body" style="display:none">
        <h1 class="notification-title">
          В вашей корзине есть билеты, которые ждут когда вы их купите!
        </h1>
        <p class="notification-subtitle">
          В вашей корзине есть билеты которые скоро потеряют свою актуальность. Поторопитесь!
        </p>
        <div class="notification-content">
          <div class="notification-tickets">
            Тут будут билеты.
          </div>
        </div>
        <div class="notification-action">
          <a href="" class="btn btn-huge btn-bordered-xs">Перейти в корзину</a>
        </div>
      </div>

      <div class="notification-body">
        <h1 class="notification-title">
          Антон Тимочук ответил на ваш комментарий.
        </h1>
        <p class="notification-subtitle">
          В обсуждении <a href="">«Горнолыжный курорт под Санкт-Петербургом»</a> <a href="">Антон Тимочук</a> ответил на ваш комментарий.
        </p>
        <div class="notification-content">
          <div class="notification-comment comment">
            <div class="comment-side">
              <a href="" class="comment-author">Антон Тимочук</a>
              <p class="comment-author-country hidden-xs">Белорусия</p>
            </div>
            <div class="comment-main">
              <div class="comment-date">15 мая 2016</div>
              <div class="comment-text">
                <p>Такое же цветное постельное белье и не понятно меняли его или нет. Завтрак даже побоялась пробовать. Он состоял из холодного яйца оставленного с вечера на столе, йогурта без холодильника, пакета растворимой каши и пакетика растворимого кофе.</p>
                <p>Звукоизоляция нет. Слышно дыхание соседки, но нас было только двое.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="notification-action">
          <a href="" class="btn btn-huge btn-bordered-xs">Открыть обсуждение</a>
        </div>
      </div>

      <div class="notification-body" style="display:none">
        <h1 class="notification-title">
          Ура! Ваша компания «Рога и копыта» прошла модерацию.
        </h1>
        <p class="notification-subtitle">
          Поздравляем! Наши модераторы одобрили вашу компанию. Теперь самое время создать ваше первое объявление. Это не сложно и состоит всего из трех шагов.
        </p>
        <div class="notification-action">
          <a href="" class="btn btn-huge btn-bordered-xs">Создать объявление</a>
        </div>
      </div>

      <div class="notification-body" style="display:none">
        <h1 class="notification-title">
          Ура! Ваша компания «Рога и копыта» прошла модерацию.
        </h1>
        <p class="notification-subtitle">
          Поздравляем! Наши модераторы одобрили вашу компанию. Теперь самое время создать ваше первое объявление. Это не сложно и состоит всего из трех шагов.
        </p>
        <div class="notification-content">
          <div class="text">
            <ul>
              <li>Указынное название «Ослик, суслик, паукан» не отражает реальную суть объявления.</li>
              <li>В объявлениях нельзя материться и оскорблять какие-то группы населения. Подробнее можете  ознакомиться с правилами в <a href="">пользовательском соглашении</a></li>
            </ul>
          </div>
        </div>
        <div class="notification-action">
          <a href="" class="btn btn-huge btn-bordered-xs">Редактировать объявление</a>
        </div>
      </div>

      <div class="notification-body" style="display:none">
        <h1 class="notification-title">
          Покупка
        </h1>
        <p class="notification-subtitle">
          <a href="">Андрей Вислоухов</a> купил «Прыжок с парашютом».
        </p>
        <div class="notification-content">
          <div class="text">
            <p>
              Дата бронирования: <strong>20 июня 2016.</strong><br>
              Время бронирования: <strong>16:00.</strong><br>
              Количество: <strong>5 шт.</strong><br>
              Цена за билет: <strong>1200 Р</strong>
            </p>
            <p>
              Дополнительные услуги:<br>
              <strong>Бальзамчик, 300 Р — 5 шт</strong>
            </p>
            <p>
              Общая сумма заказа: <strong class="bigger">7500 Р</strong>
            </p>
            <p class="grey small">
              Если по каким-то причинам вы не можете выполнить данную услугу — пожалуйста <a href="">отмените бронирование.</a>
            </p>
          </div>
        </div>
      </div>

    </div>


  </div>
</div>
