<div class="row office">


  <!-- @include office.side-menu.html -->

  <div class="col-md-9 col-xs-12 office-main"  id="panel">
    <h1 class="page-title">Новая компания</h1>
     <form action="" class="office-form form">

      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <label for="">Страна</label>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <select type="text" id="office-form-country" class="input-md" placeholder="Страна"></select>
        </div>
      </div>

      <hr>

      <h2>Личные данные</h2>

      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <label for="">Имя</label>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <input type="text" class="input-sm">
        </div>
      </div>

      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <label for="">Фамилия</label>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <input type="text" class="input-sm">
        </div>
      </div>

      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <label for="">Отчество</label>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <input type="text" class="input-sm">
        </div>
      </div>

      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <label for="">Юридическое лицо</label>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <select type="text" id="office-form-entity" class="input-md" placeholder="Юридическое лицо"></select>
        </div>
      </div>

      <h2>Реквизиты компании</h2>

      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <label for="">Название организации</label>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <input type="text" class="input-lg">
        </div>
      </div>

      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <label for="">Адрес (юридический)</label>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <input type="text" class="input-lg">
        </div>
      </div>

      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <label for="">ИНН</label>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <input type="text" class="input-auto" size="10" maxlength="10">
        </div>
      </div>

      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <label for="">КПП</label>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <input type="text" class="input-auto" size="9" maxlength="9">
        </div>
      </div>

      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <label for="">ОГРН</label>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <input type="text" class="input-auto" size="13" maxlength="13">
        </div>
      </div>

      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <label for="">Расчётный счёт</label>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <input type="text" class="input-auto" size="12" maxlength="12">
        </div>
      </div>

      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <label for="">Адрес банка</label>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <input type="text" class="input-lg">
        </div>
      </div>

      <h2>Контакты</h2>

      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <label for="">Электронная почта</label>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <div class="input-removable">
            <input type="email" class="input-sm" name="email-1">
          </div>
          <button class="input-add-btn btn btn-dashed">Добавить ещё e-mail</button>
        </div>
      </div>

      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <label for="">Мобильный телефон</label>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <div class="input-removable">
            <input type="tel" class="input-sm" name="tel-1">
          </div>
          <button class="input-add-btn btn btn-dashed">Добавить ещё телефон</button>
        </div>
      </div>

      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <span>Ссылки в соцсетях</span>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12 social-inputs" id="social-links-add">
          <div class="input-removable">
            <label for="social-vk"><span class="icon-social-vk"></span></label>
            <input type="text" class="input-sm" name="social-vk"  id="social-vk" value="http://vk.com/blabla">
            <button class="input-remove"><span class="icon-x-light"></span></button>
          </div>
          <div class="social-btns">
            <button class="btn btn-bordered social-fb" data-social-name="social-fb">
              <span class="icon-social-fb"></span>
            </button>
            <button class="btn btn-bordered social-gp" data-social-name="social-gp">
              <span class="icon-social-gp"></span>
            </button>
            <button class="btn btn-bordered social-tw" data-social-name="social-tw">
              <span class="icon-social-tw"></span>
            </button>
          </div>
        </div>
      </div>


      <h2>О компании</h2>

      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <label for="">Описание компании</label>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <textarea name="" class="input-lg"></textarea>
        </div>
      </div>

      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12"></div>
        <div class="form-row-input form-file col-sm-10 col-xs-12">

          <div class="form-file-images"></div>

          <!--Подгрузка изображения-->
          <!--<div class="form-file-img">
            <button class="form-file-img-close"><span class="icon-x-small"></span></button>
            <span class="icon-spinner"></span>
          </div>-->

          <!--Загруженное изображение-->
          <!--<div class="form-file-img">
            <button class="form-file-img-rotate"><span class="icon-rotate"></span></button>
            <button class="form-file-img-close"><span class="icon-x-small"></span></button>
            <img src="img/examples/company-logo.png">
          </div>-->

          <label class="btn btn-bordered btn-regular form-file-btn">
            Загрузить логотип
            <input type="file" name="" value="" class="form-file-input" id="load-logo">
          </label>

        </div>
      </div>

      <hr class="dividerhr">

      <div class="form-row form-submits">
        <button class="btn btn-bordered btn-huge">Проверить</button>
        <button class="btn btn-huge to-right">Отправить на модерацию</button>
      </div>


     </form>
  </div>

</div>
