<div class="col-md-3 col-xs-12 office-side slideout-menu"  id="menu">

  <div class="office-side-card side-menu">
    <div class="office-side-avatar">
      <img src="img/examples/office-avatar.png" alt="">
      <button class="icon-pen office-side-avatar-change"></button>
    </div>
    <ul class="side-menu-list">
      <li class="active"><a href="#"><span class="icon-person"></span>Личная информация</a></li>
      <li><a href="#"><span class="icon-heart"></span>Закладки</a></li>
      <li><a href="#"><span class="icon-basket"></span>Мои покупки</a></li>
      <li class="notificated"><a href="#"><span class="icon-notification"></span>Уведомления<span class="notify-count">3</span></a></li>
      <li class="has-childs open">
        <a href="#"><span class="icon-arrow-down"></span>Рога и копыта</a>
        <ul>
          <li><a href="#"><span class="icon-rupor"></span>Объявления</a></li>
          <li><a href="#"><span class="icon-purse"></span>Кошелёк</a></li>
          <li><a href="#"><span class="icon-calc"></span>Учёт бронирования</a></li>
          <li><a href="#"><span class="icon-coins"></span>Мои продажи</a></li>
          <li><a href="#"><span class="icon-settings"></span>Настройки</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <a href="#" class="btn-add office-side-btn-add"><span class="icon-plus"></span>Добавить компанию</a>

</div>
