<div class="user-list user-list-straight">
  <div class="user-list-item">
    <div class="user-list-avatar">
      <img src="img/examples/office-avatar.png" alt="">
    </div>
    <div class="user-list-content">
      <p class="user-list-name">Светлана Новикова (Вы)</p>
      <button class="btn btn-small btn-small-30">Позвать в команду</button>
    </div>
  </div>

  <div class="user-list-item">
    <div class="user-list-avatar">
      <img src="img/examples/office-avatar2.png" alt="">
    </div>
    <div class="user-list-content">
      <p class="user-list-name">Вячеслав Новиков</p>
      <button class="btn btn-small btn-small-30">Позвать в команду</button>
    </div>
  </div>

  <div class="user-list-item">
    <div class="user-list-avatar">
      <img src="img/examples/office-avatar2.png" alt="">
    </div>
    <div class="user-list-content">
      <p class="user-list-name">Аркадий Новиков</p>
      <button class="btn btn-small btn-small-30">Позвать в команду</button>
    </div>
  </div>
</div>
