<div class="card-list">


  <div class="card">
    <div class="card-main">
      <div class="card-image" style="background-image: url(img/examples/card.png)"></div>
      <div class="card-content">

        <a href=""><h2 class="card-content-title">Золотая долина</h2></a>
        <div class="card-content-box">
          <div class="card-content-text">
            12 современных трасс различной степени сложности с перепадом высот от 10 до 105 метров и протяженностью от 70 до 1100 метров. Сноуборд-парк, прокат ...
          </div>
          <div class="card-content-text grey">
            Ленинградская обл., Приозерский район, пос. Коробицыно
          </div>
          <div class="card-markers">
            <span class="marker"><span>Горные лыжи</span></span>
            <span class="marker"><span>Сноубординг</span></span>
          </div>
          <div class="card-content-side">
            <div class="price">от 400 Р</div>
            <div class="grey">за час катания</div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-bottom">
      <div class="card-actions">
        <button><span class="icon-pen"></span><span>Редактировать</span></button>
        <button><span class="icon-graph"></span><span>Статистика</span></button>
        <button class="off to-right"><span class="icon-x-light"></span><span>Отключить</span></button>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-main">
      <div class="card-image" style="background-image: url(img/examples/card.png)"></div>
      <div class="card-content">

        <a href=""><h2 class="card-content-title">Золотая долина</h2></a>
        <div class="card-content-box">
          <div class="card-content-text">
            12 современных трасс различной степени сложности с перепадом высот от 10 до 105 метров и протяженностью от 70 до 1100 метров. Сноуборд-парк, прокат ...
          </div>
          <div class="card-content-text grey">
            Ленинградская обл., Приозерский район, пос. Коробицыно
          </div>
          <div class="card-markers">
            <span class="marker"><span>Горные лыжи</span></span>
            <span class="marker"><span>Сноубординг</span></span>
          </div>
          <div class="card-content-side">
            <div class="price">от 400 Р</div>
            <div class="grey">за час катания</div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-bottom">
      <div class="card-actions">
        <button><span class="icon-pen"></span><span>Редактировать</span></button>
        <button><span class="icon-graph"></span><span>Статистика</span></button>
        <button class="off to-right"><span class="icon-x-light"></span><span>Отключить</span></button>
      </div>
    </div>
  </div>


  <div class="card disabled">
    <div class="card-tip">Неактивно</div>
    <div class="card-main">
      <div class="card-image" style="background-image: url(img/examples/card.png)"></div>
      <div class="card-content">

        <a href=""><h2 class="card-content-title">Золотая долина</h2></a>
        <div class="card-content-box">
          <div class="card-content-text">
            12 современных трасс различной степени сложности с перепадом высот от 10 до 105 метров и протяженностью от 70 до 1100 метров. Сноуборд-парк, прокат ...
          </div>
          <div class="card-content-text grey">
            Ленинградская обл., Приозерский район, пос. Коробицыно
          </div>
          <div class="card-markers">
            <span class="marker"><span>Горные лыжи</span></span>
            <span class="marker"><span>Сноубординг</span></span>
          </div>
          <div class="card-content-side">
            <div class="price">от 400 Р</div>
            <div class="grey">за час катания</div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-bottom">
      <div class="card-actions">
        <button><span class="icon-pen"></span><span>Редактировать</span></button>
        <button><span class="icon-graph"></span><span>Статистика</span></button>
        <button class="to-right"><span class="icon-play"></span><span>Включить</span></button>
      </div>
    </div>
  </div>


  <div class="card disabled">
    <div class="card-tip">Черновик</div>
    <div class="card-main">
      <div class="card-image" style="background-image: url(img/examples/noimage.png)"></div>
      <div class="card-content">

        <a href=""><h2 class="card-content-title">Ослик, Суслик, Паукан</h2></a>
        <div class="card-content-box">
          <div class="card-content-text">
            Описания нет
          </div>
          <div class="card-content-text grey">
            Местоположение не указано
          </div>
          <div class="card-markers">
            <span class="marker"><span>BMX</span></span>
          </div>
          <div class="card-content-side">
            <div class="price"></div>
            <div class="grey"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-bottom">
      <div class="card-actions">
        <button><span class="icon-pen"></span><span>Редактировать</span></button>
        <button><span class="icon-graph"></span><span>Статистика</span></button>
        <button class="to-right"><span class="icon-bin"></span><span>Удалить черновик</span></button>
      </div>
    </div>
  </div>


</div>
