<div class="marged-btns">
  <button class="btn btn-bordered btn-regular btn-iconed" data-toggle="modal" data-target="#modal-add-employee"><span class="icon-plus"></span>Добавить сотрудника</button>
</div>

<!--MODAL-->
<div class="modal fade" id="modal-add-employee">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Добавить сотрудника</h4>
        <button type="button" class="close" data-dismiss="modal"><span class="icon-x-light"></span></button>
      </div>
      <div class="modal-body">

        <div class="tabs tabs-2">
          <ul class="tab-titles">
            <li class="active"><a href="#tab-add-employee-email" data-toggle="tab"><span>По почте</span></a></li>
            <li><a href="#tab-add-employee-name" data-toggle="tab"><span>По имени</span></a></li>
          </ul>
          <div class="tab-content modal-main">
            <div class="tab-pane active" id="tab-add-employee-email">
              <form action="" class="form">

                <div class="form-row form-stuck-row row">
                  <div class="form-row-label form-row-label-low">
                    <label for="">Пригласите сотрудника по почте</label>
                  </div>
                </div>

                <div class="form-row form-stuck-row row">
                  <div class="col-sm-6 col-xs-12">
                    <input type="email">
                  </div>
                  <div class="form-row-addict col-sm-6 col-xs-12">
                    <div class="form-row-addict-intro">Должность</div>
                    <div class="dropdown-container dropdown-mini dropdown-left">
                      <button class="dropdown-toggle btn-link" type="button" data-toggle="dropdown" aria-expanded="true">
                        Менеджер<span class="icon-caret"></span>
                      </button>
                      <div class="dropdown-content">
                        <div class="dropdown-content-list">
                          <button>Администратор</button>
                          <button>Уборщик</button>
                          <button>Охранник</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-row row">
                  <button class="btn btn-small btn-small btn-small-40">Отправить приглашение</button>
                </div>

              </form>

            </div>
            <div class="tab-pane" id="tab-add-employee-name">
              <form action="" class="form">

                <div class="form-row form-stuck-row row">
                  <div class="form-row-label form-row-label-low">
                    <label for="">Укажите имя человека, которого хотите позвать в команду. Он должен быть зарегистророван на сайте.</label>
                  </div>
                </div>

                <div class="form-row form-stuck-row row">
                  <div class="col-sm-6 col-xs-12">
                    <input type="text" value="Новиков">
                  </div>
                  <div class="form-row-addict col-sm-6 col-xs-12">
                    <div class="form-row-addict-intro">Должность</div>
                    <div class="dropdown-container dropdown-mini dropdown-left">
                      <button class="dropdown-toggle btn-link" type="button" data-toggle="dropdown" aria-expanded="true">
                        Менеджер<span class="icon-caret"></span>
                      </button>
                      <div class="dropdown-content">
                        <div class="dropdown-content-list">
                          <button>Администратор</button>
                          <button>Уборщик</button>
                          <button>Охранник</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <hr>

                <div class="form-row">
                  <!-- @include office.company.settings.userlist.searched.html -->
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
