<div class="row office">


  <!-- @include office.side-menu.html -->


  <div class="col-md-9 col-xs-12 office-main" id="panel">


    <h1 class="page-title">Новое объявление</h1>

    <div class="steps steps-3">
        <a class="step finished"><span>Основная информация</span></a>
        <a class="step finished"><span>Билеты и расписание</span></a>
        <a class="step active"><span>Дополнительная информация</span></a>
    </div>

    <form action="" class="office-form form">

      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <label for="">Правила и безопасность</label>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <textarea class="input-lg"></textarea>
        </div>
      </div>

      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">Документы</div>
        <div class="form-row-input form-file col-sm-10 col-xs-12">

          <div class="form-file-docs multi">

            <div class="form-file-doc">
              <svg class="form-file-doc-img">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-img-doc"></use>
              </svg>
              <div class="form-file-doc-info">
                <div class="form-file-doc-title input-textable">
                  <textarea placeholder="Название документа">Договор оферты</textarea>
                </div>
                <div class="form-file-doc-params">
                  <span>xls, 98 KB</span>
                  <div class="form-file-doc-controls">
                    <button class="form-file-doc-edit" title="Редактировать название"><span class="icon-pen"></span></button>
                    <button class="form-file-doc-remove" title="Удалить документ"><span class="icon-x-small"></span></button>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-file-doc">
              <svg class="form-file-doc-img">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-img-pdf"></use>
              </svg>
              <div class="form-file-doc-info">
                <div class="form-file-doc-title input-textable">
                  <textarea placeholder="Название документа">Горнолыжные склоны курорта Игора</textarea>
                </div>
                <div class="form-file-doc-params">
                  <span>xls, 128 KB</span>
                  <div class="form-file-doc-controls">
                    <button class="form-file-doc-edit" title="Редактировать название"><span class="icon-pen"></span></button>
                    <button class="form-file-doc-remove" title="Удалить документ"><span class="icon-x-small"></span></button>
                  </div>
                </div>
              </div>
            </div>


            <label class="form-file-btn form-file-btn-img multiple">
              <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-doc-plus"></use>
              </svg>
              <input type="file" name="" value="" class="form-file-input" id="load-docs" multiple>
            </label>
          </div>

        </div>
      </div>


      <hr class="dividerhr">


      <div class="form-row form-submits">
        <button class="btn btn-huge btn-icon btn-lightblue marged-right"><span class="icon-arrow_left"></span></button>
        <button class="btn btn-bordered btn-huge">Сохранить</button>
        <button class="btn btn-huge to-right btn-iconed-after btn-xs-full">Опубликовать<span class="icon-arrow_right"></span></button>
      </div>


    </form>




  </div>
</div>
