<div class="row office">


   <!-- @include office.side-menu.html -->

  <div class="col-md-9 col-xs-12 office-main"  id="panel">
    <h1 class="page-title">Мой профиль</h1>
     <form action="" class="office-form form">

      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <label for="">Страна</label>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <select type="text" id="office-form-country" class="input-md" placeholder="Страна"></select>
        </div>
      </div>

      <hr>

      <h2>Личные данные</h2>

      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <label for="">Имя</label>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <input type="text" class="input-sm">
        </div>
      </div>

      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <label for="">Фамилия</label>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <input type="text" class="input-sm">
        </div>
      </div>

      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <label for="">Отчество</label>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <input type="text" class="input-sm">
        </div>
      </div>

      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <span>Пол</span>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <div class="radio">
            <input type="radio" name="radio-1" id="radio-1-1" value="m" checked>
            <label for="radio-1-1">Мужской</label>
            <input type="radio" name="radio-1" id="radio-1-2" value="w">
            <label for="radio-1-2" >Женский</label>
          </div>
          <div class="form-row-tip"><i>Необязательное поле</i></div>
        </div>
      </div>

      <h2>Контакты</h2>

      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <label for="">Электронная почта</label>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <div class="input-removable">
            <input type="email" class="input-md" name="email-1">
          </div>
          <button class="input-add-btn btn btn-dashed">Добавить ещё e-mail</button>
        </div>
      </div>

      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-12">
          <label for="">Мобильный телефон</label>
        </div>
        <div class="form-row-input col-sm-10 col-xs-12">
          <div class="input-removable">
            <input type="tel" class="input-sm"  name="tel-1">
            <div class="form-row-tip">Рекомендуем указать номер телефона для большей безопасности вашего аккаунта</div>
          </div>
          <button class="input-add-btn btn btn-dashed">Добавить ещё телефон</button>
        </div>
      </div>

      <h2>Настройки</h2>

      <div class="form-row row">
        <div class="form-row-label col-sm-2 col-xs-4">
          <span>Привязать соцсети</span>
        </div>
        <div class="form-row-input social-btns col-sm-10 col-xs-8">
          <a href="#" class="btn btn-bordered social-vk"><span class="icon-social-vk"></span></a>
          <a href="#" class="btn btn-bordered social-fb"><span class="icon-social-fb"></span></a>
          <a href="#" class="btn btn-bordered social-gp"><span class="icon-social-gp"></span></a>
          <a href="#" class="btn btn-bordered social-tw"><span class="icon-social-tw"></span></a>
        </div>
      </div>


      <div class="form-row form-row-marged">
        <button class="btn btn-bordered btn-regular">Изменить пароль</button>
      </div>

      <hr class="dividerhr">


      <div class="form-row form-submits">
        <button class="btn btn-bordered btn-huge">Сохранить</button>
      </div>


     </form>
  </div>

</div>
