<div class="calendars">

  <div class="tabs tabs-2">
    <ul class="tab-titles">
      <li class="active"><a href="#tab-calendars-week" data-toggle="tab"><span>Неделя</span></a></li>
      <li><a href="#tab-calendars-month" data-toggle="tab"><span>Месяц</span></a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="tab-calendars-week">
        <div class="week-calendar">
          <div class="week-calendar-title">Июль 2016</div>
          <div class="week-calendar-controls">
            <button class="prev" data-direction="prev"><span class="icon-arrow_left"></span></button>
            <button class="next" data-direction="next"><span class="icon-arrow_right"></span></button>
          </div>
          <table class="week-calendar-table">
            <thead>
              <tr>
                <th>
                  <span class="visible-xs">ПН</span>
                  <span class="hidden-xs">Понедельник</span>
                </th>
                <th>
                  <span class="visible-xs">ВТ</span>
                  <span class="hidden-xs">Вторник</span>
                </th>
                <th>
                  <span class="visible-xs">СР</span>
                  <span class="hidden-xs">Среда</span>
                </th>
                <th>
                  <span class="visible-xs">ЧТ</span>
                  <span class="hidden-xs">Четверг</span>
                </th>
                <th>
                  <span class="visible-xs">ПТ</span>
                  <span class="hidden-xs">Пятница</span>
                </th>
                <th>
                  <span class="visible-xs">СБ</span>
                  <span class="hidden-xs">Суббота</span>
                </th>
                <th>
                  <span class="visible-xs">ВС</span>
                  <span class="hidden-xs">Воскресенье</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><button>1</button></td>
                <td><button>2</button></td>
                <td><button>3</button></td>
                <td><button>4</button></td>
                <td><button>5</button></td>
                <td><button>6</button></td>
                <td><button>7</button></td>
              </tr>
              <tr class="current">
                <td><button>8</button></td>
                <td><button class="current">9</button></td>
                <td><button>10</button></td>
                <td><button>11</button></td>
                <td><button>12</button></td>
                <td><button>13</button></td>
                <td><button>14</button></td>
              </tr>
              <tr>
                <td><button>15</button></td>
                <td><button>16</button></td>
                <td><button>17</button></td>
                <td><button>18</button></td>
                <td><button>19</button></td>
                <td><button>20</button></td>
                <td><button>21</button></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
      <div class="tab-pane" id="tab-calendars-month">
        <div id="calendars-month"></div>
      </div>
    </div>
  </div>
</div>
