<h2>Отзывы пользователей</h2>
<div class="comments-list">

  <div class="comment">
    <div class="comment-side">
      <a href="" class="comment-author">Patato12</a>
      <p class="comment-author-country">Белорусия</p>
    </div>
    <div class="comment-main">
       <!-- @include ../el/rating-stars.html -->
      <div class="comment-date">15 мая 2016</div>
      <div class="comment-text">
        Мы путешествовали вдвоем с дочерью-подростком, и нам все очень понравилось. Замечательный хозяин. Дивный, уютный дом, вокруг сосны. Тишина. Полностью оборудованная кухня (есть даже электроплитка). <br>
        Большая светлая комната. Рядом залив с песчаным пляжем. До центра полчаса на автобусе, который ходит четко по расписанию.
      </div>
      <div class="comment-actions">
        <button class="dashed comment-answer"><span class="icon-answer"></span><span>Ответить</span></button>
      </div>
    </div>
  </div>
  <div class="comment comment-add">
    <form action="" class="form">
      <div class="comment-side">
        <div class="comment-side-title">Ответить</div>
      </div>
      <div class="comment-main">
        <textarea class="input-full" placeholder="Ваш ответ"></textarea>
        <div class="comment-actions">
          <input type="submit" value="Отправить ответ" class="btn btn btn-regular btn-normal comment-add-btn">
        </div>
      </div>
    </form>
  </div>

  <div class="comment">
    <div class="comment-side">
      <a href="" class="comment-author">MariaNM</a>
      <p class="comment-author-country">Польша</p>
    </div>
    <div class="comment-main">
       <!-- @include ../el/rating-stars.html -->
      <div class="comment-date">15 мая 2016</div>
      <div class="comment-text">
      Очень далеко от центра. Вывески нет, в темное время можно не угадать что есть что. Заставляют разуваться на первом этаже и одевать чужие тапочки( правда на тапочках всё же не настаивают) в ванной много посторонних или забытых кем-то вещей,неудивительно, там не убирают. Полотенце крошечное и одно,такого качества , что не впитывает воду, цветное. Такое же цветное постельное белье и не понятно меняли его или нет.<br>
      Завтрак даже побоялась пробовать. Он состоял из холодного яйца оставленного с вечера на столе, йогурта без холодильника, пакета растворимой каши и пакетика растворимого кофе. Звукоизоляция нет. Слышно дыхание соседки, но нас было только двое.
      </div>
      <div class="comment-actions">
        <button class="dashed comment-answer"><span class="icon-answer"></span><span>Ответить</span></button>
        <button class="dashed"><span class="icon-comments"></span><span>Развернуть обсуждение</span></button>
      </div>
    </div>
  </div>

  <div class="comments-list">

    <div class="comment comment-minimized">
      <div class="comment-side">
        <a href="" class="comment-author">Semen</a>
        <p class="comment-author-country">Польша</p>
      </div>
      <div class="comment-main">
        <div class="comment-date">15 мая 2016</div>
        <div class="comment-text">
          Semen
        </div>
        <div class="comment-actions">
          <button class="dashed comment-answer"><span class="icon-answer"></span><span>Ответить</span></button>
          <button class="dashed comment-expand"><span class="icon-arrow_right"></span><span>Развернуть</span></button>
        </div>
      </div>
    </div>

      <div class="comments-list">
        <div class="comment">
          <div class="comment-side">
            <a href="" class="comment-author">MariaNM</a>
            <p class="comment-author-country">Польша</p>
          </div>
          <div class="comment-main">
            <div class="comment-date">15 мая 2016</div>
            <div class="comment-text">
               Звукоизоляция нет. Слышно дыхание соседки, но нас было только двое.
            </div>
            <div class="comment-actions">
              <button class="dashed comment-answer"><span class="icon-answer"></span><span>Ответить</span></button>
              <button class="dashed comment-rollup"><span>Свернуть</span></button>
            </div>
          </div>
        </div>
        <div class="comment comment-add">
          <form action="" class="form">
            <div class="comment-side">
              <div class="comment-side-title">Ответить</div>
            </div>
            <div class="comment-main">
              <textarea class="input-full" placeholder="Ваш ответ"></textarea>
              <div class="comment-actions">
                <input type="submit" value="Отправить ответ" class="btn btn btn-regular btn-normal comment-add-btn">
              </div>
            </div>
          </form>
        </div>
      </div>


    <div class="comment comment-minimized">
      <div class="comment-side">
        <a href="" class="comment-author">Semen</a>
        <p class="comment-author-country">Польша</p>
      </div>
      <div class="comment-main">
        <div class="comment-date">15 мая 2016</div>
        <div class="comment-text">
          Semen2
        </div>
        <div class="comment-actions">
          <button class="dashed comment-answer"><span class="icon-answer"></span><span>Ответить</span></button>
          <button class="dashed comment-expand"><span class="icon-arrow_right"></span><span>Развернуть</span></button>
        </div>
      </div>
    </div>

  </div>

  <div class="comment">
    <div class="comment-side">
      <a href="" class="comment-author">Patato12</a>
      <p class="comment-author-country">Белорусия</p>
    </div>
    <div class="comment-main">
       <!-- @include ../el/rating-stars.html -->
      <div class="comment-date">15 мая 2016</div>
      <div class="comment-text">
        Мы путешествовали вдвоем с дочерью-подростком, и нам все очень понравилось. Замечательный хозяин. Дивный, уютный дом, вокруг сосны. Тишина. Полностью оборудованная кухня (есть даже электроплитка). <br>
        Большая светлая комната. Рядом залив с песчаным пляжем. До центра полчаса на автобусе, который ходит четко по расписанию.
      </div>
      <div class="comment-actions">
        <button class="dashed comment-answer"><span class="icon-answer"></span><span>Ответить</span></button>
      </div>
    </div>
  </div>

</div>

<div class="comment comment-add">
  <form action="" class="form">
    <div class="comment-side">
      <div class="comment-side-title">Добавить отзыв</div>
    </div>
    <div class="comment-main">
      <div class="comment-rate">
        <div class="comment-rate-pretext">Оцените на сколько сильно вам понравилось</div>
        <!-- @include ../el/rating.html -->
        <div class="comment-rate-transcript"> — В целом неплохо</div>
      </div>
      <textarea class="input-full" placeholder="Ваш отзыв"></textarea>
      <div class="comment-actions">
        <input type="submit" value="Отправить отзыв" class="btn btn btn-regular btn-normal comment-add-btn">
      </div>
    </div>
  </form>
</div>
