<div class="mail-subscribe">
  <h2>Будьте в курсе!</h2>
  <p>Самые лучшие предложения прямо вам на почту</p>
  <form action="">
    <div class="form-group">
      <input type="text" placeholder="Ваш адрес электронной почты">
    </div>
    <div class="form-group">
      <input type="submit" value="Подписаться" class="btn btn btn-regular btn-normal">
    </div>
  </form>
</div>
