<div class="notifications">

  <div class="notifications-item">
    <a href="" class="notifications-item-go" title="Подробнее">
      <span class="icon-arrow_right"></span>
    </a>
    <div class="notifications-item-message">
      <div class="notifications-item-title">
        <span class="icon-warning"></span>
        Ваш заказ на «Горнолыжный курорт под Санкт-Петербургом» отменен.
      </div>
      <div class="notifications-item-text">Продавец отменил ваш заказ по причинам</div>
    </div>
    <div class="notifications-item-controls">
      <button class="close" title="Закрыть"><span class="icon-x-light"></span></button>
    </div>
  </div>

  <div class="notifications-item">
    <a href="" class="notifications-item-go" title="Подробнее">
      <span class="icon-arrow_right"></span>
    </a>
    <div class="notifications-item-message">
      <div class="notifications-item-title">
        <span class="icon-label"></span>
        Поздравляем! В вашей команде появился еще один сотрудник.
      </div>
      <div class="notifications-item-text"><a href="">Виталий Стояков</a> присоединился к вашей команде</div>
    </div>
    <div class="notifications-item-controls">
      <button class="close" title="Закрыть"><span class="icon-x-light"></span></button>
    </div>
  </div>

</div>
