<div class="page-description-box">
  <h2 class="page-description-title">Сноубординг</h2>
  <div class="page-description-content">
    <div class="page-description-text">
      <div class="text">
        <p>Сноубо́рд, Сноубо́рдинг (англ. Snowboarding от англ. snow — снег и англ. board — доска) — зимний олимпийский вид спорта, заключающийся в спуске с заснеженных склонов и гор на специальном снаряде — сноуборде. Изначально зимний вид спорта, хотя отдельные экстрималы освоили его даже летом, катаясь на сноуборде на песчаных склонах (сэндбординг).</p>

        <p>Поскольку, зачастую, катание на сноуборде проходит на неподготовленных склонах и на больших скоростях, для защиты от травм используется разнообразная экипировка — шлемы, защита суставов, рук, ног, спины.</p>

        <p>Изобретение сноуборда относят к началу 1960-х годов. Шерман Поппен из города Маскегон, штат Мичиган, придумал и изготовил для своей дочери в 1965 году современное подобие сноуборда, названное снёрфером (snurfer — слово, составленное из двух других — snow («снег») и surf — «сёрф»). Он склеил две лыжи в одно целое. По своей конструкции снёрфер был очень близок к скейтборду, только без колёс. Снёрфер не имел креплений, и чтобы удержаться на доске, катающийся должен был держаться за верёвку, привязанную к носу. Инструкция по пользованию также рекомендовала использовать для катания нескользящую обувь. Уже в 1966 году было начато производство снёрфера в качестве детской игрушки[1].</p>

        <p>На протяжении последующих лет росла популярность этого вида спорта. Большой вклад в совершенствование снаряжения внесли такие люди, как Димитрий Милович, Джейк Бёртон (основатель компании Burton Snowboards), Том Симс (основатель компании Sims Snowboards) и Майк Олсон (основатель компании Mervin Manufacturing). Сёрфер с восточного побережья США Димитрий Милович в 1972 году основал компанию Winterstick по выпуску сноубордов, которая уже через 3 года удостоилась упоминания в журнале Ньюсуик. Доски Winterstick наследовали конструкционные принципы от сёрфа и лыж[1].</p>

        <p>В 1979 году, неподалёку от города Гранд Рапидс, штат Мичиган, был проведён первый в истории Мировой чемпионат по снёрфингу. В этих соревнования участвовал и Джейк Бёртон, который усовершенствовал снёрф, добавив крепления для ног. Такое усовершенствование вызвало протест со стороны других участников, так как его снаряд отличался от оригинального. Однако Пол Грейвс, лучший из снёрфингистов того времени, совместно с другими спортсменами, уговорили организаторов допустить его к соревнованиям. В результате был создан отдельный конкурс, в котором Бёртон и победил, будучи единственным участником. Данный чемпионат теперь принято считать первыми в истории соревнованиями по сноуборду, как самостоятельной дисциплине[1].</p>
      </div>
      <div class="btn btn-regular btn-bordered">Свернуть</div>
    </div>
    <div class="page-description-img">
      <img src="img/examples/card.png" alt="">
      <img src="img/examples/card.png" class="hidden-img" alt="">
      <img src="img/examples/card.png" class="hidden-img" alt="">
    </div>
  </div>

</div>
