<div class="pagination-showed">
  Показано 5 из 158 вариантов
</div>
<div class="pagination">

  <button class="prev disabled" disabled>
    <span class="icon-left"></span>
    <span>Назад</span>
  </button>

  <div class="pagination-pages">
    <button class="current" disabled>1</button>
    <button>2</button>
    <button>3</button>
    <button>4</button>
    <button>5</button>
    <button>6</button>
    <button>7</button>
  </div>

  <button class="next">
    <span>Вперёд</span>
    <span class="icon-right"></span>
  </button>

  <div class="pagination-current-text">Страница 1 из 7</div>

</div>
