<div class="recently-viewed-offers">
  <h2>Недавно смотрели</h2>

  <div class="card-small-list">

    <a href="" class="card-small">
      <div class="card-small-image" style="background-image: url(img/examples/share1.jpg)"></div>
      <div class="card-small-content">
        <div class="card-small-content-top">
          <div class="card-small-title">Прыжки с парашютом -20%</div>
        </div>
        <div class="card-small-actions">
          <div class="card-small-rathing">
            <!-- @include ../el/rating-stars.html -->
          </div>
        </div>
      </div>
    </a>

    <a href="" class="card-small">
      <div class="card-small-image" style="background-image: url(img/examples/share2.jpg)"></div>
      <div class="card-small-content">
        <div class="card-small-content-top">
          <div class="card-small-title">Месячный абонемент на батуты</div>
        </div>
        <div class="card-small-actions">
          <div class="card-small-rathing">
            <!-- @include ../el/rating-stars.html -->
          </div>
        </div>
      </div>
    </a>

    <a href="" class="card-small">
      <div class="card-small-image" style="background-image: url(img/examples/share3.jpg)"></div>
      <div class="card-small-content">
        <div class="card-small-content-top">
          <div class="card-small-title">Скалолазание с инструктором 2490 р.</div>
        </div>
        <div class="card-small-actions">
          <div class="card-small-rathing">
            <!-- @include ../el/rating-stars.html -->
          </div>
        </div>
      </div>
    </a>
  </div>

</div>
