<form action="" class="form search-form">
  <h3 class="search-form-title">Поиск</h3>

  <div class="search-form-top clearfix">
    <div class="form-group">
      <label>Напишите страну или город</label>
      <!--<input type="text" id="search-form-loc" placeholder="Санкт-Петербург">-->
      <select type="text" id="search-form-loc" placeholder="Санкт-Петербург"></select>
    </div>

    <div class="form-group">
      <label>Выберете вид спорта</label>
      <input type="text" id="search-form-sport" placeholder="Горные лыжи, сноубординг">
    </div>
  </div>

  <div class="search-form-bot">
    <div class="form-group">
      <label>Дата</label>
      <div class="form-date">
        <button class="form-date-pick"><span class="icon-date"></span></button>
        <!--<input type="hidden" id="search-form-date" class="form-date-hidden">-->
        <input type="text" id="search-form-day" placeholder="ЧЧ" maxlength="2" class="date date-day">
        <input type="text" id="search-form-month" placeholder="ММ" maxlength="2" class="date date-month">
        <input type="text" id="search-form-year" placeholder="ГГГГ" maxlength="4" class="date date-year">

        <button class="form-date-reset" title="Очистить дату"><span class="icon-x-small"></span></button>
      </div>
      <div class="search-form-submit-container">
        <input type="submit" class="btn search-form-submit" value="НАЙТИ">
      </div>
    </div>
  </div>

</form>
