<div class="tickets-table">
  <table class="a-table">
    <thead>
      <tr>
        <th>Время</th>
        <th>Стоимость</th>
        <th>Количество</th>
        <th>Акция</th>
        <th>Дополнительные услуги</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class="tickets-table-item">
        <td>
          <label for="" class="visible-xs">Время</label>
          <div class="a-table-content">
            <div class="clockpicker">
              <input type="text" class="input-xxs">
            </div>
            <button class="dashed show-next"><span>Время окончания</span></button>
            <div class="show-next-content clockpicker">
              <input type="text" class="input-xxs">
            </div>
          </div>
        </td>
        <td>
          <label for="" class="visible-xs">Стоимость</label>
          <div class="a-table-content">
            <div class="iconed-input">
              <input type="text" class="input-xxs">
              <label for="">€</label>
            </div>
          </div>
        </td>
        <td>
          <label for="" class="visible-xs">Количество</label>
          <div class="a-table-content">
            <input class="spinner" name="value">
          </div>
        </td>
        <td>
          <label for="" class="visible-xs">Акция</label>
          <div class="a-table-content">
            <div class="input-ws">
              <input class="input-ws-input spinner" name="value">
              <select class="input-ws-select tickets-share-select" placeholder="%">
                <option value="proc" selected>%</option>
                <option value="euro">€</option>
              </select>
            </div>
            <div class="dropdown-container dropdown-left">
              <button class="dropdown-toggle dashed" data-toggle="dropdown"><span>Описание акции</span></button>
              <div class="dropdown-content">
                <textarea></textarea>
              </div>
            </div>
            <button class="dashed show-next"><span>Количество акций</span></button>
            <div class="show-next-content">
              <input class="spinner" name="value">
            </div>
          </div>
        </td>
        <td class="r-table-prior">
          <div class="visible-xs">Допуслуги</div>
          <div class="a-table-content">
            <div class="tickets-table-services">
              <div class="input-removable input-textable">
                <input type="text" value="Аренда сноуборда 1 час" placeholder="Дополнительная услуга">
                <button class="input-remove"><span class="icon-x-light"></span></button>
              </div>
              <div class="input-removable input-textable">
                <input type="text" value="Аренда ботинок 1 час" placeholder="Дополнительная услуга">
                <button class="input-remove"><span class="icon-x-light"></span></button>
              </div>
              <div class="input-removable input-textable">
                <input type="text" value="Подъёмник" placeholder="Дополнительная услуга">
                <button class="input-remove"><span class="icon-x-light"></span></button>
              </div>
            </div>
            <button class="tickets-table-services-add dashed"><span>Добавить дополнительную услугу</span></button>
          </div>
        </td>
        <td class="a-table-side-right">
          <button class="ticket-close"><span class="icon-x-light"></span></button>
          <button class="ticket-copy"><span class="icon-windows"></span></button>
          <div class="draggable"><span class="icon-drag-hor"></span></div>
        </td>
      </tr>
      <tr class="tickets-table-item">
        <td>
          <label for="" class="visible-xs">Время</label>
          <div class="a-table-content">
            <div class="clockpicker">
              <input type="text" class="input-xxs">
            </div>
            <button class="dashed show-next"><span>Время окончания</span></button>
            <div class="show-next-content clockpicker">
              <input type="text" class="input-xxs">
            </div>
          </div>
        </td>
        <td>
          <label for="" class="visible-xs">Стоимость</label>
          <div class="a-table-content">
            <div class="iconed-input">
              <input type="text" class="input-xxs">
              <label for="">€</label>
            </div>
          </div>
        </td>
        <td>
          <label for="" class="visible-xs">Количество</label>
          <div class="a-table-content">
            <input class="spinner" name="value">
          </div>
        </td>
        <td>
          <label for="" class="visible-xs">Акция</label>
          <div class="a-table-content">
            <div class="input-ws">
              <input class="input-ws-input spinner" name="value">
              <select class="input-ws-select tickets-share-select" placeholder="%">
                <option value="proc" selected>%</option>
                <option value="euro">€</option>
              </select>
            </div>
            <div class="dropdown-container dropdown-left">
              <button class="dropdown-toggle dashed" data-toggle="dropdown"><span>Описание акции</span></button>
              <div class="dropdown-content">
                <textarea></textarea>
              </div>
            </div>
            <button class="dashed show-next"><span>Количество акций</span></button>
            <div class="show-next-content">
              <input class="spinner" name="value">
            </div>
          </div>
        </td>
        <td class="r-table-prior">
          <div class="visible-xs">Допуслуги</div>
          <div class="a-table-content">
            <div class="tickets-table-services"></div>
            <button class="tickets-table-services-add dashed"><span>Добавить дополнительную услугу</span></button>
          </div>
        </td>
        <td class="a-table-side-right">
          <button class="ticket-close"><span class="icon-x-light"></span></button>
          <button class="ticket-copy"><span class="icon-windows"></span></button>
          <div class="draggable"><span class="icon-drag-hor"></span></div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="tickets-table-controls">

    <button class="btn btn-bordered btn-regular btn-iconed" id="tickets-table-add"><span class="icon-plus"></span>Добавить билет</button>

    <div class="tickets-table-controls-bottom">

      <div class="dropdown-container dropdown-left">
        <button class="btn btn-regular btn-normal btn-iconed-after" data-toggle="dropdown">Скопировать<span class="icon-arrow-down"></span></button>
        <div class="dropdown-content dropdown-btns-list">
          <div class="dropdown-content-list">
            <button>Скопировать расписание на следующий день</button>
            <button>Скопировать расписание на следующие семь дней</button>
            <button>Скопировать расписание на следующий месяц</button>
          </div>
        </div>
      </div>

      <div class="dropdown-container dropdown-right">
        <button class="btn btn-regular btn-normal btn-text red btn-iconed-after" data-toggle="dropdown">Очистить расписание<span class="icon-arrow-down"></span></button>
        <div class="dropdown-content dropdown-btns-list red">
          <div class="dropdown-content-list">
            <button>Очистить расписание на выбранный день</button>
            <button>Очистить расписание на следующую неделю</button>
            <button>Очистить расписание на следующий месяц</button>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
