
.btn{
  display:inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  color:#fff;
  background: #2466BC;
  font-size: 18px;
  line-height: 1;
  padding: 10px 20px;
  border-radius: 2px;
  transition: .3s;
  cursor: pointer;
  -webkit-user-select:none;
  -moz-user-select:none;
}
.btn:hover{
  color: #fff;
  background: #d44c46;
  text-decoration:none;
}
.btn:active{
  transition: .1s;
  transform: scale(.95,.95);
  background: #CC4943;
  text-decoration:none;
}
.btn:focus{
  box-shadow: none;
}
.btn-blue{
  background: #2466BC;
}
.btn-red{
  background: #EA544E;
}
.btn-red:hover,
.btn-red:active{
  background: #333;
}
.btn-lightgrey{
  background: #ccc;
}
.btn-lightgrey:hover,
.btn-lightgrey:active{
  background: #aaa;
}
.btn-hovered-grey:hover,
.btn-hovered-grey:active{
  background: #757575;
}
.btn-lightblue{
  background: #C0D8FA;
}
.btn-regular{
  font-size:14px;
  line-height: 16px;
  padding: 11px 20px 9px;
}
.btn-huge{
  display: block;
  font-size: 14px;
  line-height: 16px;
  padding: 10px 20px;
  width:100%;
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius: 4px;
}
.btn-spaced{
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 21px;
}
.btn-normal{
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid transparent;
}
.btn-normal:hover,
.btn-normal:active{
  border: 2px solid transparent;
}
.btn-bordered{
  border: 2px solid #2466BC;
  background: none;
  color: #2466BC;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.btn-bordered:hover,
.btn-bordered:active{
  background: #2466BC;
  color:#fff;
}
.btn-bordered-red{
  border-color: #c1272d;
  color: #c1272d;
}
.btn-bordered-red:hover,
.btn-bordered-red:active{
  background: #c1272d;
  color:#fff;
}
.btn-text{
  font-size: 14px;
  font-weight: normal;
  text-transform: none;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0;
  background: none;
  color: #2466BC;
}
.btn-text.red{
  color: #C1272D;
}
.btn-text:hover,
.btn-text:active{
  background: none;
  color: #d44c46;
}

.btn-dashed{
  background: none;
  padding: 2px 2px;
  color: #2466BC;
  border-bottom: 1px dashed;
  font-size: 14px;
}
.btn-dashed:hover,
.btn-dashed:active{
  background: none;
  color:#333;
}

.btn-light{
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
}

.btn-small{
  font-size: 14px;
  text-transform: uppercase;
  line-height: 28px;
  letter-spacing: 1px;
  border-radius: 4px;
}
.btn.btn-small-30{
  letter-spacing: 1px;
  padding: 2px 8px 0;
  font-weight: bold;
}
.btn-small-40{
  padding: 7px 15px 5px;
  font-weight: bold;
}

.btn-link{
  color: #2466BC;
  padding:0;
}
.btn-link:hover,
.btn-link:active{
  color:#333;
}

.btn-iconed *[class^="icon"]{
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

.btn-regular.btn-iconed{
  padding-left:15px;
}

.btn-huge>*[class^="icon-"]{
  line-height: 1;
  font-size: 20px;
  margin: 0 15px;
}

.btn-regular.btn-iconed-after{
  padding-right:10px;
}
.btn-regular.btn-iconed-after>*[class^="icon-"]{
  margin: 0 0 0 10px;
  display: inline-block;
  vertical-align: top;
}
.btn-huge.btn-iconed-after{
  padding-right:10px;
}
.btn-huge.btn-icon{
  padding-left:10px;
  padding-right:10px;
}
.btn-huge.marged-right{
  margin-right: 20px;
}

.marged-btns{
  margin: 10px 0 10px;
  padding: 10px 0;
}


.btn-social{
  position: relative;
  text-align: left;
  padding:0!important;
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  float:none;
  width:100%;
  margin:10px 0;
}
.btn-social>*{
  padding:5px 15px;
  background: rgba(0,0,0,0.1);
  display: block;
  height: 42px;
  line-height: 36px;
  margin-left:42px;
  border-radius: 0 4px 4px 0;
}
.btn-social>*[class^="icon-"]{
  position: absolute;
  left:0;
  top:0;
  padding:5px 5px;
  background: none;
  line-height: 32px;
  margin:0;
  border-radius: 0;
}


.social-btns>.btn{
  padding: 2px 0 0;
  font-weight: normal;
  display: inline-block;
  margin-right: 5px;
  font-size: 14px;
  line-height: 36px;
}
.social-btns>.btn>*{
  vertical-align: middle;
}
.social-btns *[class^="icon-"]{
  display: block;
  line-height: 36px;
  font-size: 24px;
  width: 42px;
  text-align: center;
}

.social-btns>.btn:hover,
.social-btns>.btn:active{
  text-decoration: none;
}

.social-btns>.btn.social-vk.btn-social,
.social-btns>.btn.social-vk:hover,
.social-btns>.btn.social-vk:active{
  background: #45668E;
  border-color: #45668E;
}
.social-btns>.btn.social-fb.btn-social,
.social-btns>.btn.social-fb:hover,
.social-btns>.btn.social-fb:active{
  background: #3B5998;
  border-color: #3B5998;
}
.social-btns>.btn.social-tw.btn-social,
.social-btns>.btn.social-tw:hover,
.social-btns>.btn.social-tw:active{
  background: #00ACED;
  border-color: #00ACED;
}
.social-btns>.btn.social-gp.btn-social,
.social-btns>.btn.social-gp:hover,
.social-btns>.btn.social-gp:active{
  background: #DD4B39;
  border-color: #DD4B39;
}
.social-btns>.btn.btn-social:hover,
.social-btns>.btn.btn-social:active{
  opacity:0.9;
}

a.dashed,
button.dashed{
  display: inline-block;
  line-height: 1.4;
  padding:0;
  text-align: left;
  color:#2466BC;
}
a.dashed span,
button.dashed span{
  border-bottom: 1px dashed #C0D8FA;
}
a.dashed span[class^="icon-"],
button.dashed span[class^="icon-"]{
  border: none;
  margin-right:5px;
  font-size:80%;
}

a.dashed:hover,
button.dashed:hover,
a.dashed:active,
button.dashed:active{
  color: #1B4E90;
}


.dropdown-container.open>.btn{
  background: #d44c46;
  color: #fff;
  border-color: #d44c46;
}
.dropdown-container>.btn:active{
  transform:none;
}
.dropdown-container.open .btn-text.red{
  background: none;
  color: #d44c46;
}








@media (max-width: 767px){
  .btn-bordered-xs{
    display: inline-block;
    border: 2px solid #2466BC;
    background: none;
    color: #2466BC;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    width:auto;
  }
  .btn-bordered-xs:hover,
  .btn-bordered-xs:active{
    background: #2466BC;
    color:#fff;
  }
  .btn-spaced{

padding: 8px;
  }

  .btn-social{
    display: inline-block;
    width: auto;
  }
  .btn-social>*{
    display:none;
  }
  .btn-social>*[class^="icon-"]{
    display:block;
    position: relative;
  }
}
@media (min-width: 768px){
  .btn-huge{
    display: inline-block;
    letter-spacing: 2px;
    font-size: 24px;
    line-height: 1;
    font-weight: normal;
    padding: 11px 40px;
    width: auto;
  }
  .social-btns>.btn{
    margin-right: 10px;
  }
}
