
/* date */
.form-date{
  position: relative;
  background: #fff;
  display: inline-block;
  border-radius: 2px;
  vertical-align: top;
  user-select: none;
}
.form-date>*{
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.form-date .form-date-pick,
.form-date .form-date-reset{
  color: #2466BC;
  line-height: 40px;
  height: 40px;
  width: 40px;
  font-size: 18px;
  padding: 0;
  border-right: 2px solid #2466BC;
  cursor: pointer;
  user-select: none;
}
.form-date .form-date-reset{
  border-right: none;
  border-left: 2px solid #2466BC;
  font-size: 16px;
}
.form-date .form-date-pick:hover,
.form-date .form-date-pick:active,
.form-date.active .form-date-pick,
.form-date .form-date-reset:hover,
.form-date .form-date-reset:active{
  color: #EA544E;
}
.form-date input{
  width: 40px;
  box-shadow: none;
  padding: 2px 2px;
  margin: 8px 0;
  border-radius: 0;
}
.form-date input+input{
  border-left: 2px solid #2466BC;
}
.form-date input+input+input{
  width: 60px;
}
.form-date.active{
  transition: box-shadow .3s ease;
  box-shadow: 0 0 0 2px #619EF2;
}
.form-date .ui-datepicker{
  position: absolute;
  visibility: hidden;
  bottom: 42px;
}
.form-date.active .ui-datepicker{
  visibility: visible;
}
.form-date .ui-datepicker:after, .form-date .ui-datepicker:before{
  content: "";
  display: block;
  position: absolute;
  left: 10px;
  width: 0px;
  height: 0px;
  border: 6px solid transparent;
  border-bottom: 0;
  transform: scaleX(1.5);
}
.form-date .ui-datepicker:before {
  bottom: -6px;
  border-top-color: #ccc;
}
.form-date .ui-datepicker:after {
  bottom: -5px;
  border-top-color: #f2f2f2;
}
