.ui-spinner{
  display:inline-block;
  position: relative;
}
input.spinner{
  width: 85px;
  padding-right: 30px;
}
.ui-spinner-button{
  position: absolute;
  right:0;
  top:50%;
  bottom:50%;
  padding:2px;
  width:25px;
  font-size: 9px;
  color:#999;
  border: 1px solid #ccc;
  text-align: center;
  overflow: hidden;
  font-size: 6px;
  line-height: 16px;
  background: #fff;
  z-index: 6;
}
.ui-spinner-button:hover,
.ui-spinner-button:active{
  background: #2466BC;
  border-color: #2466BC;
  color: #fff;
}
.ui-spinner-up{
  top:0;
  border-radius: 0 2px 0 0;
  border-bottom-width: 0.5px;
}
.ui-spinner-down{
  bottom:0;
  border-radius: 0 0 2px 0;
  border-top-width: 0.5px;
}
.ui-spinner-button .ui-icon{
  display: inline-block;
  transform: scaleX(2.1);
  text-align: center;
}


.spinner-plus{
  width: 40px;
  height: 30px;
  padding: 2px 5px;
  margin-left: 29px;
  margin-right: 29px;
  border-radius: 0;
  text-align: center;
  border-color: #E6E6E6;
  z-index: 8;
  font-weight: bold;
}
.spinner-plus~.ui-spinner-button{
  top:0;
  bottom:0;
  width: 30px;
  border-width: 1px;
  border-color: #E6E6E6;
  line-height: 30px;
}
.spinner-plus:focus{
  z-index: 8;
  border-color: #2466BC;
  box-shadow: none;
}
.spinner-plus~.ui-spinner-button .ui-icon{
  transform: none;
  font-size: 0;
  color: #2466BC;
  font-weight: bold;
}
.spinner-plus~.ui-spinner-button:hover,
.spinner-plus~.ui-spinner-button:active{
  background: #2466BC;
  border-color: #2466BC;
  color: #fff;
}
.spinner-plus~.ui-spinner-button{
  transition: box-shadow .1s ease;
}
.spinner-plus~.ui-spinner-button:active{
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.34);
}
.spinner-plus~.ui-spinner-button:hover .ui-icon,
.spinner-plus~.ui-spinner-button:active .ui-icon{
  color: #fff;
}
.spinner-plus~.ui-spinner-button .ui-icon:before{
  font-size: 20px;
}
.spinner-plus~.ui-spinner-up{
  right:0;
  border-radius: 0 2px 2px 0;
}
.spinner-plus~.ui-spinner-down{
  left:0;
  right:auto;
  border-radius: 2px 0 0 2px;
}
