.selectize-control.iconed-select{

}
.iconed-select .selectize-input{
  position: relative;
  cursor: pointer;
}
.iconed-select .selectize-input:before{
  content: "";
  color:#666;
  display: block;
  position: absolute;
  right: 24px;
  top:0;
  bottom:0;
  line-height: 40px;
  font-size: 16px;
  padding: 0 4px 0 8px;
  border-left:1px solid #ccc;
  box-sizing: border-box;
  cursor: pointer;
}
.selectize-control.iconed-select .selectize-input:after{
  right: 8px;
}
