
/* radio */
.radio{
  display: inline-block;
}
.radio:after{
  content: "";
  display: table;
  clear: both;
}

.radio>*{

}
.radio input{
  display:none;
}
.radio label{
  position: relative;
  display: block;
  height: 42px;
  line-height: 20px;
  padding: 10px;
  background: #fff;
  float: left;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 2px 0 0 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  transition: all 0.3s ease;
}
.radio label:before{
  content: "";
  display: block;
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:100%;
  opacity: 0.1;
  background: #2466BC;
  transition: top .1s ease, bottom .2s ease .1s, box-shadow .2s ease;
}

.radio label ~ label{
  border-radius: 0 2px 2px 0;
  margin-left: -2px;
}
.radio input:checked + label{
  background: #C0D8FA;
}
.radio label:hover,
.radio label:active{
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.14);
}
.radio label:hover:before,
.radio label:active:before{
  top:100%;
  bottom: 0;
  transition: top .3s ease .1s, bottom .1s ease, box-shadow .5s ease;
}
.radio label span{
  display: inline-block;
  min-width: 20px;
  text-align: center;
  height: 20px;
  line-height: 20px;
}




.radio-mini{
  display: block;
}
.radio-mini label{
  padding: 0 15px;
  line-height: 28px;
  height: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.radio-mini label span{
  line-height: 28px;
}
.radio-mini label *[class^="icon-"]{
  font-size:14px;
  margin-right:5px;
  vertical-align: bottom;
  height: auto;
}
.radio-mini label .icon-label{
  font-size: 12px;
  color: #FBB03B;
}
.radio-mini input:checked + label{

}
.radio-blue{

}
.radio-blue label{
  color:#2466BC;
  border-color: #C0D8FA;
}
.radio-blue input:checked + label{
  color:#333;
}

@media (max-width: 767px){
  .radio-mini{
    font-size: 12px;
  }
  .radio-xs-full{
    display: flex;
    width: 100%;
  }
  .radio-xs-full label{
    flex: 1 1 100%;
    padding:0 5px;
  }
}
