
/* file */
.form-file{

}
.form-file>*{
  display: block;
  float:left;
}
.form-file label{

cursor: pointer;
}
.form-file-input{
  display: none;
}
.form-file-images>*{
  display:block;
  float:left;
}
.form-file-img{
  position: relative;
  min-width:70px;
  border: 1px solid #ccc;
  border-radius: 2px;
  text-align: center;
  height:102px;
  width: 132px;
  overflow: hidden;
  transition: all .1s ease;
  font-size:0;
  background: #fff;
  margin-right:20px;
  margin-bottom:20px;
}
.form-file-img:before{
  content: "";
  display: inline-block;
  height: 100px;
  vertical-align: middle;
}
.form-file-img img{
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
  transition: transform 0.3s ease;
}
.form-file-img .img-rotate-90,
.form-file-img .img-rotate-270{
  max-width: 100px;
}

.form-file-img-rotate,
.form-file-img-close{
  position: absolute;
  top: 4px;
  padding:0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  color: #b3b3b3;
  font-size: 11px;
  transition: .3s;
  z-index: 1;
}
.form-file-img-rotate{
  left:5px;
}
.form-file-img-close{
  right:5px;
  font-size: 9px;
}
.form-file-img-rotate:hover,
.form-file-img-close:hover{
  background: #2466BC;
  border-color: #2466BC;
  color: #fff;
}
.form-file-img-rotate:active,
.form-file-img-close:active{
  transition: .1s;
  background: #CC4943;
  border-color: #CC4943;
  color: #fff;
}
@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}
.form-file-img>span{
  font-size:20px;
  display:inline-block;
  animation: spin .3s infinite linear;
  vertical-align: middle;
  color: #ccc;
}
.form-file-btn{}
.form-file-images + .form-file-btn{
  margin: 0 0 20px;
}
.form-file-full .form-file-btn{
  display:none;
}
.form-file-full .multiple.form-file-btn{
  display:block;
}

.form-file-btn-img{
  display: block;
  position: relative;
  float: left;
  min-width:70px;
  border: 1px solid #ccc;
  border-radius: 2px;
  text-align: center;
  height:102px;
  width: 132px;
  overflow: hidden;
  transition: all .1s ease;
  font-size:0;
  background: #fff;
  margin-right:20px;
  margin-bottom:20px;
  cursor: pointer;
}
.form-file-btn-img:hover,
.form-file-btn-img:active{
  background: #C8E0FF;
  box-shadow: 0 0 0 2px #619EF2;
}
.form-file-btn-img>svg{
  width: 50px;
  height: 100%;
}



.form-file-docs{

}

.form-file-doc{
  display: block;
  position: relative;
  padding-right: 25px;
  min-width: 200px;
}
.form-file-doc-img{
  position: absolute;
  left:0;
  width: 30px;
  height: 100%;
}
.form-file-doc-info{
  margin-left: 50px;
}
.form-file-doc-title{
  font-size: 14px;
  color: #2466BC;
  margin: 0;
}
.form-file-doc-title textarea{
  color: #2466BC;
}
.form-file-doc-params{
  font-size: 12px;
  color: #333;
}
.form-file-doc-params>*{
  display:inline-block;
  line-height: 20px;
  vertical-align: middle;
}
.form-file-doc-controls{
  position: absolute;
  top: 1px;
  bottom: 0;
  right:0;
}
.form-file-doc-controls>*{
  padding: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #b3b3b3;
  font-size: 11px;
  transition: .3s;
  z-index: 1;
}
.form-file-doc-controls>*:hover,
.form-file-doc-controls>*:active{
  color: #2466BC;
}
.form-file-doc-edit{
  font-size: 12px;
}
.form-file-doc-remove{

}
.form-file-doc-remove>*{
  line-height: 20px;
}
.form-file-doc-remove:hover,
.form-file-doc-remove:active{
  color: #C1272D;
}

.form-file-docs.multi .form-file-doc{
  float:left;
  width: 180px;
  min-width: auto;
  max-width: 100%;
  margin: 0 20px 20px 0;
  padding-right: 0;
}
.form-file-docs.multi .form-file-doc-img{
  position:relative;
  width:50px;
  height:60px;
}
.form-file-docs.multi .form-file-doc-info{
  margin: 5px 0;
  padding-right: 0;
}
.form-file-docs.multi .form-file-doc-controls{
  display: inline-block;
  position: relative;
  padding: 0px 5px;
}
.form-file-docs.multi .form-file-doc-controls>*{
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.form-file-docs.multi .form-file-doc-remove{

}

.form-file-docs.multi  .form-file-btn-img{
  width: 102px;
}
.form-file-docs.multi  .form-file-btn-img>svg{
  width: 40px;
}