.checkbox{
  display: block;
  position: relative;
  padding: 0px 6px 2px 25px;
  user-select:none;
  -webkit-user-select:none;
  cursor: pointer;
  font-size: 12px;
}
.checkbox+.checkbox{
  margin-top:8px;
}
.checkbox:hover span:before{
  border-color: transparent;
  box-shadow: 0 0 0 2px rgb(36, 102, 188);
}
label.checkbox input{
  height: 10px;
  display: none;
}
.checkbox span:before,
.checkbox span:after{
  position: absolute;
  line-height: 14px;
  text-align: center;
  left: 0px;
  top: 1px;
  font-size: 10px;
  transition: all .3s ease;
}
.checkbox span:before{
  content: "";
  width: 15px;
  height: 15px;
  background: #FFF;
  border: 1px solid #aaa;
  border-radius: 2px;
}
.checkbox span{
  display: block;
}
.checkbox span:after{
  content: "\e926";
  font-family: 'icomoon';
  color: #2466BC;
  left: 3px;
  top: 3px;
  display: none;
}
.checkbox input:checked~span:after{
  display: block;
}
.checkbox input.error + span:before{
  box-shadow: 0 0 0 2px #c1272d;
}
