.input-ws{
  position: relative;
  min-width: 110px;
}
input.input-ws-input{
  width:100%;
  padding-right: 50px;
}
.input-ws-select{
  position: absolute;
  top:0;
  right:0;
  cursor: pointer;
  z-index: 7;
}
.input-ws-select .selectize-input{
  padding: 10px 24px 10px 8px;
  border-radius: 0 2px 2px 0;
  cursor: pointer!important;
  min-width: 45px;
  color:#666;
  height: 100%;
}
.input-ws-select .selectize-input input{
  display:none!important;
}
.input-ws-select.selectize-control .selectize-input:after{
  right:8px;
}
