.input-error{
  position: relative;
  display: inline-block;
  background: #C1272D;
  box-shadow: 0 0 0 2px #C1272D;
  border-radius: 2px;
  z-index: 4;
}
.input-error-text{
  padding: 5px 10px;
  font-size: 12px;
  color: #fff;
  display: inline-block;
  line-height: 1.2;
}
.full .input-error{
  width:100%;
}

input.error{
  box-shadow: 0 0 0 2px #C1272D;
}
input.error:focus{
  box-shadow: 0 0 0 2px #619EF2;
}


@media (max-width: 767px){

  .input-error-text{
    font-size: 12px;
  }
}
