form,
.form{

}
input:not([type]),
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="text"] {

color: #333;
}

input,
textarea,
select,
.selectize-input{
  position:relative;
  box-sizing: border-box;
  padding:10px;
  border-radius: 2px;
  line-height: 20px;
  border: none;
  font-size: 14px;
  width: 100%;
  border: 1px solid #ddd;
  color: #333;
  transition: box-shadow .3s ease;
}
input:before{
  content: "";
}
input:hover,
textarea:hover{
  border-color: #B3B3B3;
}
input:focus,
textarea:focus,
.selectize-input.focus{
  outline:none;
  box-shadow: 0 0 0 2px #619EF2;
  z-index:5;
}

select{
  font-size: 13px;
  line-height: 18px;
}

.form h2{
  margin: 30px 0 0;
}
.form h3{
  margin: 20px 0 0;
}



.form-group{
  margin-top: 15px;
  position: relative;
}
.form-group+.form-group{
  margin-top: 15px;
}
.form-group-responsive{
  display:flex;
  flex-wrap:wrap;
  margin-left: -5px;
  margin-right: -5px;
}
.form-group-responsive>*{
  margin: 0 5px 10px;
}
.form-group-responsive label{
  flex: 0 0 100%;
}

.iconed-input{
  position: relative;
  display: inline-block;
}
.iconed-input input{
  padding-right:30px;
}
.iconed-input label{
  position: absolute;
  display: block;
  margin: 0;
  top: 0;
  right: 0;
  line-height: 44px;
  height: 42px;
  width:30px;
  text-align: center;
  font-size: 14px;
}
.iconed-input button{
  position: absolute;
  display: block;
  margin: 0;
  top: 0;
  right: 0;
  line-height: 42px;
  height: 42px;
  width:40px;
  text-align: center;
  font-size: 14px;
  color: #B3B3B3;
  z-index: 6;
}
.iconed-input button:hover,
.iconed-input button:active{
  color:#2466BC;
}
.iconed-input button+input{
  padding-right:40px;
}
.iconed-input .icon-eye{
  font-size: 10px;
}
.iconed-input.full{
  display:block;
  width: 100%;
}


.form-row{
  margin: 5px 0;
}
.form-row-low{
  margin: 10px 0;
}
.form-submit-row{
  margin: 20px 0;
}
.form-row-marged{
  margin: 20px 0 40px;
}
.form-row>*{
  padding:0;
}
.form-row-label{
  padding: 0;
  line-height: 20px;
  padding: 5px 0;
}
.form-straight .form-row-label{
  padding: 2px 0 2px;
  line-height: 1.5;
}
.form-row-label-low{
  padding: 1px 0;
}
.form-row-label>*{
  margin-left: 3px;
}
.form-row-label>*,
.form-row-label:before{
  display: inline-block;
  vertical-align: middle;
}
.form-row-label:before{
  content: "";
  width: 0px;
  background: red;
  margin-left: -5px;
}
.form-straight .form-row-label:before{
  min-height: 15px;
}

.form-row-input-group .form-row-input{
  position:relative;
}
.form-row-input-group .form-row-input+.form-row-input{
  margin-top: 10px;
}
.form-row-input-group .form-row-input+.form-row-input .input-error{

}

.input-confirmed{
  position: relative;
  box-shadow: 0 0 0 2px #39B54A;
  border-radius: 2px;
}
.input-confirmed:after{
  content: "\e916";
  font-family: icomoon;
  color: #39B54A;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 5;
}
.input-confirmed input{
  padding-right:30px;
}



.form-row-tip{
  color: #808080;
  font-size: 12px;
  margin-top: 5px;
}
.form-row-tip>*{
  display: table-cell;
  vertical-align: middle;
}
.form-row-tip *[class^="icon-"]{
  font-size: 20px;
  line-height: 34px;
  padding-right: 16px;
  padding-left: 5px;
}
.form-row-tip-under{
  margin: 5px 0 0;
}

.radio + .form-row-tip{
  margin-top:0;
  margin-left: 10px;
}



.form-row-input>*{
  display: inline-block;
  vertical-align: middle;
}
.form-row textarea{
  min-height: 150px;
}



.form-table-row{
  width: auto;
  text-align: left;
  max-width: 100%;
}
.form-table-row thead th,
.form-table-row thead td{
  font-size: 14px;
  font-weight: normal;
  padding-bottom: 10px;
}
.form-table-row tr>*{}
.form-table-row tr>*+*{
  padding-left: 20px;
}

.form-table-row>*+*{
  padding-left:20px;
}
.form-table-row .form-row-tip{
  margin: 0;
}
.form-table-row .form-row-tip-aboard{
  max-height: 42px;
}
.form-row-tip-aboard *[class^="icon-"]{
  vertical-align: top;
  padding-top: 4px;
  padding-bottom: 4px;
}



.form-row-complex{

}
.form-row-complex>*{
  display: inline-block;
  vertical-align: middle;
}
.form-row-complex>label{
  display:block;
  margin-bottom: 10px;
  font-size: 14px;
}
.form-row-complex input{

}
.form-row-complex .form-row-tip{

}




.form-stuck-row{
  margin: 0 0 5px;
}
.form-row-addict{
  font-size: 12px;
}
.form-row-addict>*{
  display: inline-block;
}
.form-row-addict:before{
  content: "";
  display: inline-block;
  height: 100%;
  min-height: 40px;
  vertical-align: middle;
}
.form-row-addict-intro{
  margin-right: 5px;
}

.form-submits{
  margin: 0;
}
.form-submits .btn{
  margin: 10px 0;
  display: inline-block;
}


/*.form-row-input *[class^="col-"]{
  padding-left: 0;
  padding-right: 0;
}*/

.input-auto{
  width:auto;
  max-width: 100%;
  min-width: 100px;
}
.input-xxs{
  width: 110px;
  max-width: 100%;
}
.input-xs{
  width:180px;
  max-width: 100%;
}
.input-sm{
  width:270px;
  max-width: 100%;
}
.input-md{
  width:370px;
  max-width: 100%;
}
.input-lg{
  width:470px;
  max-width: 100%;
}
.input-full{
  width:100%;
  max-width: 100%;
}


.input-removable{
  position: relative;
  display: block;
  text-align: left;
  margin-bottom: 10px;
}
.input-removable>*{
  display: inline-block;
  vertical-align: middle;
}
.input-removable+.input-removable{
  margin-top: 20px;
}
.input-removable+.social-btns{
  margin-top:10px;
}

.input-removable label{
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 16px;
  z-index: 6;
}
.input-removable label+input{
  padding-left: 35px;
}
.input-removable .input-remove{
  position: relative;
  margin-left: 10px;
  color: #ccc;
  padding: 0;
  z-index: 6;
}
.input-removable .input-remove:hover,
.input-removable .input-remove:active{
  color: #2466BC;
}
.input-removable-add{
  display: block;
}

.input-textable,
.input-textable+.input-textable{
  margin: 7px 0;
}
.input-textable input,
.input-textable textarea{
  background: none;
  border: none;
  padding: 3px 0px 2px;
  border-bottom: 1px solid transparent;
  border-radius: 0;
}
.input-textable textarea{
  display: block;
  height: auto;
  resize: none;
  min-height: 24px;
  overflow: hidden;
  padding: 0;
  line-height: 1.6;
}
.input-textable input,
.input-removable.input-textable input{
  height:24px;
}
.input-removable.input-textable input{
  padding-right:20px;
}
.input-textable input+.input-remove{
  position: absolute;
  right:5px;
  top: 0px;
  bottom: 0;
}
.input-textable input+.input-remove:hover,
.input-textable input+.input-remove:active{
  color: #EA544E;
}
.input-textable input:hover,
.input-textable input:active{
  border-bottom-color: #ccc;
}
.input-textable textarea:focus,
.input-textable input:focus{
  box-shadow: none;
  border-bottom-color: #aaa;
}

.form .map{
  position: relative;
  height:300px;
  border-radius: 3px;
  max-width: 100%;
}
.form .map-wrapper{
  position: relative;
  max-width: 100%;
}
.form .map-overlay{
  display: none;
}
.form .map-wrapper.disabled .map-overlay{
  display: block;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.26);
  text-align: center;
}
.form .map-overlay:before{
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.form .map-message{
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 3px;
  color: #333;
  font-size: 12px;
}
.form .map-message span{
  color: #2466BC;
}
.form .map-message *[class^="icon-"]{
  color: #B3B3B3;
  margin: 0 5px 0 0;
}
.form .map-lg{
  width: 470px;
}


/* checkbox */










@media (max-width: 767px){
  .input-removable input{
    padding-right: 30px;
  }
  .input-removable .input-remove{
    margin-left: -20px;
  }
}


@media (min-width: 768px){
  .form h2{
    margin: 40px 0 20px;
  }
  .form h3{
    margin: 30px 0 20px;
  }
  .form-row {
    margin: 20px 0;
  }
  .form-table-row{
  }
  .form-small .form-row{
    margin: 10px 0;
  }
  .form-row-stuck{
    margin: 0 0 5px;
  }
  .form-stuck-row{
    margin: 0 0 10px;
  }
  .form-row-addict{
    font-size: 14px;
    padding-left: 15px;
  }
  .form-submits{
    margin: 0;
  }
  .form-row-marged{
    margin: 30px 0;
  }
  .form-row-label{
    padding: 1px 0;
    font-size: 14px;
  }
  .form-row-label:before{
    min-height: 40px;
    height: 100%;
  }
  .form-row-label-low:before{
    min-height: auto;
  }
  .form-straight .form-row-input{
    padding-left:0;
  }
  .form-row-input{
    padding-left:15px;
  }
  .form-row-tip{
    margin-top:0;
    margin-left: 10px;
    max-width: 250px;
  }
  .form-row-tip-under{
    margin: 10px 0 0;
  }
  .form-table-row .form-row-tip{
    max-width: 100%;
  }
}
