* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* transition: all .1s ease; */
}
html{
  height: 100%;
}
.slideout-open{
  height: auto;
}
body{
  height: 100%;
  width: 100%;
  min-width:320px;
  font-size: 12px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  color: #333;
  background: #F0F3F7;
}

button{
  background: none;
  border: none;
  outline: none;
}
a{
  color:#2466BC;
  text-decoration: none;
}
a:hover,
a:active{
  color: #1B4E90;
  text-decoration: underline;
}
.no-decoration:hover,
.no-decoration:active{
  text-decoration: none;
}

img,
img:focus{
  outline: none;
}
.zoom-img,
.zoom-img:focus{
  outline: none;
}
.superhr{
  margin: 40px 0;
}
.dividerhr{
  margin: 20px 0 20px;
}
.to-right{
  float:right;
}
.to-left{
  float:left;
}
.map{
  min-height:100px;
  width: 100%;
}
.nowrap{
  white-space: nowrap;
}
.text-center{
  text-align: center;
}
a.iconed-before *[class^="icon"]{
  display: inline-block;
  margin-right: 5px;
}
a.iconed-after *[class^="icon"]{
  display: inline-block;
  margin-left:5px;
}




/* sticky footer */
.main-container{
  min-height: 100%;
  margin-bottom: -200px;
}
.main-container:after{
  content: "";
  display: block;
}
.main-container:after,
.footer{
  height: 200px;
}

.container{
  position: relative;
  /*width:768px;*/
  /* background: #fff; */
}

.content-section{
  margin-bottom: 10px;
  padding-bottom: 10px;
}

@media (min-width: 768px){
  body{
    font-size: 14px;
  }
  .dividerhr{
    margin: 40px 0 20px;
  }
}


@media (max-width: 991px){

  .mobile-fluid{
    width:100%;
  }
}
@media (min-width: 992px){
  body,
  html{
    height: 100%;
  }
}
