h1,
h2,
h3,
h4,
h5,
h6{
  line-height: 1.3;
  font-weight: normal;
}
h1{
  font-size: 24px;
}
h2{
  font-size: 18px;
}
h3{
  font-size: 16px;
}
h4{}
h5{}
h6{

}

.page-title{
  color: #333;
}
.page-top + * .page-title{
  margin: 20px 0 20px;
}
.page-title-nearer{
  margin: 10px 0;
}
.page-title-small{
  font-size: 21px;
}

.block-title{
  font-size: 16px;
  font-weight: normal;
  color: #333;
  margin: 20px 0 10px;
}
.xs-no-gutter .block-title{
  padding-left: 10px;
  padding-right: 10px;
}
.block-title.block-title-blue{
  color: #2466BC;
}
.block-title.block-title-white{
  color: #fff;
}

.grey{
  color: grey;
}

p.small{
  font-size: 12px;
}


@media (min-width: 768px){
  h1,
  h2,
  h3,
  h4,
  h5,
  h6{
    line-height: 1.3;
  }
  h1{
    font-size: 36px;
  }
  h2{
    font-size: 24px;
  }
  h3{
    font-size: 20px;
  }
  h4{}
  h5{}
  h6{

  }
  .page-top + * .page-title{
    margin: 10px 0 20px;
  }
  .xs-no-gutter .block-title{
    padding-left: 0;
    padding-right: 0;
  }
  .block-title{
    font-size: 28px;
    font-weight: normal;
    color: #333;
    margin: 30px 0 20px;
  }
  .page-title-small{
    font-size: 24px;
  }
}
